<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Edit Profile</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <form (ngSubmit)="submit()" #profileForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="name" placeholder="Name" [(ngModel)]="profile.name" required #nameField="ngModel">
      <mat-error *ngIf="nameField.errors?.required">
        Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" name="designation" placeholder="Designation" [(ngModel)]="profile.designation" required #designationField="ngModel">
      <mat-error *ngIf="designationField.errors?.required">
        Designation is required.
      </mat-error>
    </mat-form-field>

    <br><br>
  
    <button type="submit" class="btn btn-success" [disabled]="!profileForm.form.valid">Save</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>

    <br><br>
  </form>
</div>  