<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">
      <div class="row">
        <div class="col">Summary Sheet</div>
        <div class="col-auto">
          <button mat-icon-button (click)="collapsed = !collapsed" class="d-md-none">
            <mat-icon>filter_list</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<ng-template #rtMediaHouse let-r="result">
  {{r.pubName}} - {{r.address.edition}}
</ng-template>

<ng-template #rtEdition let-r="result">
  {{r.address.edition}}
</ng-template>

<div class="container">
  <div class="form-row" [class.mobile-collapse]="collapsed">
    <div class="form-group col">
      <input type="text" class="form-control" [(ngModel)]="mediaHouse" [ngbTypeahead]="searchMediaHouse" placeholder="Media House" [resultTemplate]="rtMediaHouse" [inputFormatter]="mediaHouseNameFormatter"/>
    </div>

    <div class="form-group col">
      <input type="text" class="form-control" [(ngModel)]="edition" [ngbTypeahead]="searchEdition" placeholder="Edition" [resultTemplate]="rtEdition" [inputFormatter]="editionFormatter"/>
    </div>

    <div class="col-auto">
      <button class="btn btn-info" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <form #ssForm="ngForm" (ngSubmit)="submit()">
    <button class="fab bg-success" type="submit" [disabled]="!ssForm.form.valid" *ngIf="ssForm.form.valid">
      <mat-icon>check</mat-icon>
    </button>

    <div *ngIf="summarySheet.length == 0" class="text-muted">
      <br>No more Media House Invoices are pending.
    </div>

    <br>

    <div *ngFor="let item of summarySheet; index as i">
      <div class="card mb-3 mat-elevation-z3">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="text-muted small">Publication</div>
              {{item._id.publicationName}} - {{item._id.publicationEdition}}
              <div class="mt-1">
                <span class="text-muted">Release Order No:</span> {{item._id.releaseOrderNO}}
              </div>
            </div>
            <!-- <div class="col-auto text-right">
              <span class="text-muted">Pending Amount</span>: ₹ {{item.pendingAmount}}
            </div> -->
          </div>

          <br><br>

          <table class="table table-sm table-responsive-md">
            <tr>
              <th></th>
              <th>Insertion Date</th>
              <th>Invoice Amount</th>
              <th>To be Paid</th>
              <th>Balance</th>
            </tr>
            <tr *ngFor="let entry of item.entries; index as j">
              <td>
                <mat-checkbox name="checked-{{i}}-{{j}}" [(ngModel)]="entry.checked"></mat-checkbox>
              </td>
              <td style="white-space: nowrap;"
                  [class.text-danger]="entry.state == 1"
                  [class.text-success]="entry.state == 2"
                  [class.text-warning]="entry.state == 3">
                <span [matTooltip]="getInsertionStateText(entry.state)">
                  {{entry.insertionDate | date:'dd-MMM-y'}}
                </span>
              </td>
              <td style="white-space: nowrap;">₹ {{round2(entry.Amount)}}</td>
              <td>
                <input type="number" name="amount-{{i}}-{{j}}" [disabled]="!entry.checked" class="form-control form-control-sm" min="0" [verify-min]="0" [max]="entry.pendingAmount" [verify-max]="entry.pendingAmount" [(ngModel)]="entry.SheetAmount" placeholder="Amount" required>
              </td>
              <td style="white-space: nowrap;">₹ {{round2(entry.pendingAmount - entry.SheetAmount)}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>