<br><br>
<div class="text-center">
  <h2>Select Plan</h2>
  <small>The Trial plan is available for a period of 1 month.</small>
</div>
<br>

<div class="planContainer">
    <div *ngFor="let plan of plans" class="plan">
      <div class="titleContainer">
        <div class="title">{{plan.name}}</div>
        <div class="price">
          <p>₹ {{plan.cost | number}} </p> <span>/ year</span>
        </div>
      </div>
      <div class="infoContainer">
        <!-- <div class="p desc"><em>{{plan.description}}</em></div> -->
        <ul class="features">
          <li><strong>{{plan.maxUsers}}</strong> Users</li>
          <li><strong>{{plan.maxAdmins}}</strong> Admins</li>
        </ul><a class="selectPlan" [class.disabled]="paid" (click)="selectPlan(plan)">Select Plan</a>
      </div>
    </div>
  </div>