<mat-toolbar>  
    <mat-toolbar-row>
        <div class="container">Home -> Manage Profile -> User Details</div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <br>
  <div class="card mb-5">
    <div class="card-header">ACCOUNT</div>
    <div class="card-body">
      <div class="row justify-content-between">
        <div class="col-4">To view and edit Account Details</div>
        <a class="btn btn-info col-2" routerLink="/profile/edit">View</a>
      </div>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-header">BUSINESS PROFILE</div>
    <div class="card-body">
      <div class="row justify-content-between">
        <div class="col-4">To view and edit Firm Details</div>
        <a class="btn btn-info col-2" routerLink="/profile/edit">View</a>
      </div>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-header">USER</div>
    <div class="card-body">
      <div class="row justify-content-between">
        <div class="col-4">To view and edit User Details</div>
        <a class="btn btn-info col-2" routerLink="/profile/edit">View</a>
      </div>
    </div>
  </div>
</div>