<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Verify Phone Number</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <form (ngSubmit)="sendOtp()" #phoneNumberForm="ngForm">
    <mat-form-field>
      <span matPrefix>+91 &nbsp;</span>
      <input type="tel" matInput placeholder="Phone Number" [(ngModel)]="number" pattern="^\d{10}$" maxlength="10" minlength="10" required name="phone">
    </mat-form-field>

    <div *ngIf="sendError" class="text-danger">
      {{sendError}}
      
      <br>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary" [disabled]="!phoneNumberForm.form.valid || otpSent">Send Code</button>
    </div>
  </form>

  <form *ngIf="otpSent" (ngSubmit)="verifyOtp()" #otpForm="ngForm">
    <mat-form-field>
      <input type="text" matInput placeholder="Verification Code" [(ngModel)]="otp" required name="otp">
      <mat-hint>Enter the Verification code received on your mobile.</mat-hint>
    </mat-form-field>

    <div *ngIf="verifyError" class="text-danger">
      {{verifyError}}
      
      <br>
    </div>

    <br><br>
    <button type="submit" class="btn btn-success" [disabled]="!otpForm.form.valid">Verify Code</button>
  </form>
</div>