<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Verify Phone Number</h1>
  </div>
</div>

<div class="container">
  <form (ngSubmit)="sendOtp()" #phoneNumberForm="ngForm">
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="tel" [(ngModel)]="number" pattern="^((\+91)|0|)\d{10}$" required class="form-control" id="phone" name="phone" placeholder="Enter phone number">
    </div>

    <div *ngIf="sendError" class="text-danger">
      <br>

      {{sendError}}
      
      <br>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary" [disabled]="!number || otpSent">Send Code</button>
    </div>
  </form>

  <form *ngIf="otpSent" (ngSubmit)="verifyOtp()" #otpForm="ngForm">
    <div class="form-group">
      <label for="otp">Verification Code</label>
      <input type="text" [(ngModel)]="otp" required class="form-control" name="otp" id="otp" placeholder="Enter OTP">
      <small class="form-text text-muted">Enter the Verification code received on your mobile.</small>
    </div>

    <div *ngIf="verifyError" class="text-danger">
      <br>

      {{verifyError}}
      
      <br>
    </div>

    <br>
    <button type="submit" class="btn btn-success" [disabled]="!otp">Verify Code</button>
  </form>
</div>