<h2 class="text-center">Verify Phone Number</h2>

<br>

<form (ngSubmit)="sendOtp()" #phoneNumberForm="ngForm">
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="tel" [(ngModel)]="number" required class="form-control" id="phone" name="phone" placeholder="Enter phone number">
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary" [disabled]="!number || otpSent">Send Code</button>
    </div>
</form>

<form *ngIf="otpSent" (ngSubmit)="verifyOtp()" #otpForm="ngForm">
    <div class="form-group">
      <label for="otp">Verification Code</label>
      <input type="text" [(ngModel)]="otp" required class="form-control" name="otp" id="otp" placeholder="Enter OTP">
      <small class="form-text text-muted">Enter the Verification code received on your mobile.</small>
    </div>
    <br>
    <button type="submit" class="btn btn-success" [disabled]="!otp">Verify Code</button>
</form>