<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Rate Cards</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<ng-template #rt let-r="result">
  {{r.mediaHouseName}}
  <br>
  {{r.pullOutName}}<br>
  {{r.mediaType}} - {{r.adType}} - {{r.rateCardType}}<br>
  {{r.freqPeriod}} - {{r.freqRemark}}
</ng-template>

<div class="container">
  <button class="fab" routerLink="/ratecards/new">
    <mat-icon>add</mat-icon>
  </button>

  <div class="form-group">
    <input id="search" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="query" [ngbTypeahead]="search" placeholder="Search" [resultTemplate]="rt" [inputFormatter]="inputFormatter" />
  </div>

  <mat-tab-group>
    <mat-tab label="Local">
      <br>
      <p *ngIf="ratecards.length == 0" class="text-muted">
        No Rate Cards
      </p>
    
      <div class="card mb-3" *ngFor="let ratecard of ratecards">
        <div class="card-header"><a [routerLink]="['/ratecards', ratecard.id]">{{ratecard.mediaHouseName}}</a></div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              {{ratecard.pullOutName}}<br>
              {{ratecard.mediaType}} - {{ratecard.adType}} - {{ratecard.rateCardType}}<br>
              {{ratecard.freqPeriod}} - {{ratecard.freqRemark}}
            </div>
            <div class="col-auto">
              <a class="btn btn-outline-info" [routerLink]="['/ratecards/new', ratecard.id]">
                <mat-icon>add</mat-icon> Copy into New
              </a>
              <a class="btn btn-outline-success" [routerLink]="['/releaseorders/fromRateCard', ratecard.id]">
                <mat-icon>add</mat-icon> Create Release Order
              </a>
              <button class="btn btn-outline-danger" (click)="deleteRateCard(ratecard)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Global">
      <br>
      <p *ngIf="globalRateCards.length == 0" class="text-muted">
        No Rate Cards
      </p>
    
      <div class="card mb-3" *ngFor="let ratecard of globalRateCards">
        <div class="card-header"><a [routerLink]="['/ratecards', ratecard.id]">{{ratecard.mediaHouseName}}</a></div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              {{ratecard.pullOutName}}<br>
              {{ratecard.mediaType}} - {{ratecard.adType}} - {{ratecard.rateCardType}}<br>
              {{ratecard.freqPeriod}} - {{ratecard.freqRemark}}
            </div>
            <div class="col-auto">
              <a class="btn btn-outline-info" [routerLink]="['/ratecards/new', ratecard.id]">
                <mat-icon>add</mat-icon> Copy into New
              </a>
              <a class="btn btn-outline-success" [routerLink]="['/releaseorders/fromRateCard', ratecard.id]">
                <mat-icon>add</mat-icon> Create Release Order
              </a>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>