<button class="fab" routerLink="/dir/media_houses/new" *ngIf="!global">
  <mat-icon>add</mat-icon>
</button>

<ng-template #rt let-r="result">
  {{r.orgName}}
</ng-template>

<div class="form-group">
  <input id="search" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="query" [ngbTypeahead]="search" placeholder="Search" [resultTemplate]="rt" [inputFormatter]="inputFormatter" />
</div>

<nav mat-tab-nav-bar class="x-overflow">
  <a mat-tab-link routerLink="/dir/media_houses" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">Local</a>
  <a mat-tab-link routerLink="/dir/media_houses/global" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">Global</a>
</nav>

<br>
<p *ngIf="mediaHouses.length == 0" class="text-muted">
  No Media Houses
</p>

<div class="card mb-3" *ngFor="let mediaHouse of mediaHouses">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/dir/media_houses', mediaHouse.id]">{{mediaHouse.pubName}}</a>
        <p>{{mediaHouse.address.edition}}</p>
      </div>
      <div class="col-auto" *ngIf="!global">
        <mat-menu #dirMenu="matMenu">
          <button mat-menu-item [routerLink]="['/dir/media_houses/edit', mediaHouse.id]">
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button mat-menu-item class="text-danger" (click)="deleteMediaHouse(mediaHouse)">
            <mat-icon>delete</mat-icon> Delete
          </button>
        </mat-menu>
        
        <button mat-icon-button [matMenuTriggerFor]="dirMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<nav *ngIf="pageCount != 0">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="page == 1">
      <a class="page-link" [routerLink]="['/dir/media_houses/list', +page - 1]" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let x of dummyArray; index as i" [class.active]="i == page">
      <a class="page-link" [routerLink]="['/dir/media_houses/list', i + 1]">{{i + 1}}</a>
    </li>
    <li class="page-item" [class.disabled]="page == pageCount">
      <a class="page-link" [routerLink]="['/dir/media_houses/list', +page + 1]" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>