<button class="fab" routerLink="/dir/media_houses/new"><span class="fa fa-plus"></span></button>

<ng-template #rt let-r="result">
  {{r.orgName}}
</ng-template>

<div class="form-group">
  <input id="search" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="query" [ngbTypeahead]="search" placeholder="Search" [resultTemplate]="rt" [inputFormatter]="inputFormatter" />
</div>

<ngb-tabset>
  <ngb-tab title="Local">
    <ng-template ngbTabContent>
      <br>
      <p *ngIf="mediaHouses.length == 0" class="text-muted">
        No Media Houses
      </p>
      
      <div class="card mb-3" *ngFor="let mediaHouse of mediaHouses">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <a [routerLink]="['/dir/media_houses', mediaHouse.id]">{{mediaHouse.orgName}}</a>
            </div>
            <div class="col-auto">
              <button class="btn btn-outline-danger" (click)="deleteMediaHouse(mediaHouse)"><span class="fa fa-trash-alt"></span></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Global">
    <ng-template ngbTabContent>
      <br>
      <p *ngIf="globalMediaHouses.length == 0" class="text-muted">
        No Media Houses
      </p>
      
      <div class="card mb-3" *ngFor="let mediaHouse of globalMediaHouses">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <a [routerLink]="['/dir/media_houses', mediaHouse.id]">{{mediaHouse.orgName}}</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>