<div class="container">
  <br><br>

  <h2 style="font-weight: lighter">Insertion Check</h2>

  <br>

  <ng-template #rtMediaHouse let-r="result">
    {{r.pubName}} - {{r.address.edition}}
  </ng-template>
  
  <ng-template #rtEdition let-r="result">
    {{r.address.edition}}
  </ng-template>
  
  <ng-template #rtClient let-r="result">
    {{r.orgName}}
  </ng-template>
  
  <ng-template #rtExecutive let-r="result">
    {{r.executiveName}} - {{r.orgName}}
  </ng-template>
  
  <ng-template #rtExecutiveOrg let-r="result">
    {{r.orgName}}
  </ng-template>
  
  <div class="form-row">
    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="mediaHouse" [ngbTypeahead]="searchMediaHouse" placeholder="Media House" [resultTemplate]="rtMediaHouse" [inputFormatter]="mediaHouseNameFormatter"/>
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="edition" [ngbTypeahead]="searchEdition" placeholder="Edition" [resultTemplate]="rtEdition" [inputFormatter]="editionFormatter"/>
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="client" [ngbTypeahead]="searchClient" placeholder="Client" [resultTemplate]="rtClient" [inputFormatter]="clientNameFormatter" />
    </div>

    <!-- <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="executive" [ngbTypeahead]="searchExecutive" placeholder="Executive" [resultTemplate]="rtExecutive" [inputFormatter]="executiveNameFormatter" />
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="executiveOrg" [ngbTypeahead]="searchExecutiveOrg" placeholder="Executive Organisation" [resultTemplate]="rtExecutiveOrg" [inputFormatter]="executiveOrgFormatter" />
    </div> -->

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <select [(ngModel)]="pastDays" class="form-control">
        <option [ngValue]="0">Any Time</option>
        <option [ngValue]="7">Past 7 days</option>
        <option [ngValue]="15">Past 15 days</option>
        <option [ngValue]="30">Past 30 days</option>
      </select>
    </div>

    <div class="col-auto">
      <button class="btn btn-info" (click)="search(1)">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <br>

  <div class="form-row">
    <div class="col-md-auto mt-1 mr-3">
      <p>Mark selected as:</p>
    </div>
    <div class="col-md">
      <button (click)="mark(1)" class="btn btn-danger">Not Published</button>
      <button (click)="mark(2)" class="btn btn-success">Published</button>
      <button (click)="mark(3)" class="btn btn-warning">Disputed</button>
    </div>
  </div>

  <br><br>

  <div *ngFor="let insertion of insertions">
    <div class="card mb-3 mat-elevation-z3">
      <div class="card-body">
        <div class="row">
          <div class="col-auto">
            <mat-checkbox [(ngModel)]="insertion.checked"></mat-checkbox>
          </div>
          <div class="col">
            <strong>Client:</strong> {{insertion.clientName}}<br>
            <strong>Publication:</strong> {{insertion.publicationName}} - {{insertion.publicationEdition}}<br>
            <strong>Executive:</strong> {{insertion.executiveName}} - {{insertion.executiveOrg}}
          </div>
          <div class="col-auto">
            {{toDate(insertion.insertions.date) | date}}
          </div>
          <div class="col-auto">
            <span *ngIf="insertion.insertions.state == 0" class="text-muted">None</span>
            <span *ngIf="insertion.insertions.state == 1" class="text-danger">Not Published</span>
            <span *ngIf="insertion.insertions.state == 2" class="text-success">Published</span>
            <span *ngIf="insertion.insertions.state == 3" class="text-warning">Disputed</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <app-pagination [pageCount]="pageCount" [page]="page" (navigate)="search($event)"></app-pagination>
</div>