<button class="fab" routerLink="/dir/executives/new">
  <mat-icon>add</mat-icon>
</button>

<ng-template #rt let-r="result">
  {{r.orgName}}
  <br>
  {{r.executiveName}}
</ng-template>

<div class="form-group">
  <input id="search" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="query" [ngbTypeahead]="search" placeholder="Search" [resultTemplate]="rt" [inputFormatter]="inputFormatter" />
</div>

<p *ngIf="executives.length == 0" class="text-muted">
  No Executives
</p>

<div class="card mb-3 mat-elevation-z3" *ngFor="let executive of executives">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/dir/executives', executive.id]">{{executive.executiveName}}</a>
        <br>
        <small>{{executive.orgName}}</small>
      </div>
      <!-- <div class="col-auto">
        <mat-menu #dirMenu="matMenu">
          <button mat-menu-item class="text-danger" (click)="deleteExecutive(executive)">
            <mat-icon>delete</mat-icon> Delete
          </button>
        </mat-menu>
        
        <button mat-icon-button [matMenuTriggerFor]="dirMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div> -->
    </div>
  </div>
</div>

<app-pagination [pageCount]="pageCount" [page]="page" (navigate)="navigate($event)"></app-pagination>