<button class="fab" routerLink="/dir/executives/new">
  <mat-icon>add</mat-icon>
</button>

<ng-template #rt let-r="result">
  {{r.orgName}}
  <br>
  {{r.executiveName}}
</ng-template>

<div class="form-group">
  <input id="search" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="query" [ngbTypeahead]="search" placeholder="Search" [resultTemplate]="rt" [inputFormatter]="inputFormatter" />
</div>

<p *ngIf="executives.length == 0" class="text-muted">
  No Executives
</p>

<div class="card mb-3" *ngFor="let executive of executives">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/dir/executives', executive.id]">{{executive.orgName}}</a>
        <br>
        <small>{{executive.executiveName}}</small>
      </div>
      <div class="col-auto">
        <button class="btn btn-outline-danger" (click)="deleteExecutive(executive)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>