<br>

<div class="row">
  <div class="col-md-8">
    <form (ngSubmit)="submit()" #profileForm="ngForm">
      <h3>Personal Details</h3>
      <br>
    
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="name">Name</label>
        <input type="text" class="form-control col-md-9" id="name" name="name" placeholder="Enter name" [(ngModel)]="profile.name" required #nameField="ngModel">
      </div>
    
      <div *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)" class="text-danger">
        <div *ngIf="nameField.errors.required">
          Name is required.
        </div>
        <br>
      </div>
    
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="designation">Designation</label>
        <input type="text" class="form-control col-md-9" id="designation" name="designation" placeholder="Enter designation" [(ngModel)]="profile.designation" required #designationField="ngModel">
      </div>
    
      <div *ngIf="designationField.invalid && (designationField.dirty || designationField.touched)" class="text-danger">
        <div *ngIf="designationField.errors.required">
          Designation is required.
        </div>
        <br>
      </div>
      
      <br>
      <h3>Social</h3>
      <br>
    
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="nickname">Facebook</label>
        <input type="text" class="form-control col-md-9" id="facebook" name="facebook" placeholder="Enter Facebook Link" [(ngModel)]="profile.facebook" #facebookField="ngModel">
      </div>
    
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="nickname">Twitter</label>
        <input type="text" class="form-control col-md-9" id="twitter" name="twitter" placeholder="Enter Twitter Link" [(ngModel)]="profile.twitter" #twitterField="ngModel">
      </div>
    
      <div class="form-group form-row">
        <label class="col-md-3 col-form-label" for="nickname">Others</label>
        <input type="text" class="form-control col-md-9" id="others" name="others" placeholder="Enter other social Link" [(ngModel)]="profile.other" #otherField="ngModel">
      </div>
    </form>

    <br>
  </div>
  <div class="col-md-4">
      <h3>Profile Picture</h3>

      <br>
      
      <img [src]="profile.photo" class="img-responsive max-w-200">
      
      <br><br>
      
      <label for="file-upload" class="file-upload">
          Upload
      </label>
      <input type="file" id="file-upload" (change)="uploadProfilePicture($event.target.files)"/>

      <br>
  </div>
</div>

<br>
      
<div class="text-danger" *ngIf="error">
  {{error}}

  <br><br>
</div>

<div class="text-success" *ngIf="success">
  Profile updated successfully

  <br><br>
</div>

<button type="submit" class="btn btn-success" [disabled]="!profileForm.form.valid">Save</button>