<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">
      <div class="row">
        <div class="col">Media House Receipts</div>
        <div class="col-auto">
          <button mat-icon-button (click)="collapsed = !collapsed" class="d-md-none">
            <mat-icon>filter_list</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<ng-template #rtMediaHouse let-r="result">
  {{r.pubName}} - {{r.address.edition}}
</ng-template>

<ng-template #rtEdition let-r="result">
  {{r.address.edition}}
</ng-template>

<div class="container">

  <button class="fab bg-success" (click)="submit()">
    <mat-icon>check</mat-icon>
  </button>

  <div class="form-row" [class.mobile-collapse]="collapsed">
    <div class="form-group col">
      <input type="text" class="form-control" [(ngModel)]="mediaHouse" [ngbTypeahead]="searchMediaHouse" placeholder="Media House" [resultTemplate]="rtMediaHouse" [inputFormatter]="mediaHouseNameFormatter"/>
    </div>

    <div class="form-group col">
      <input type="text" class="form-control" [(ngModel)]="edition" [ngbTypeahead]="searchEdition" placeholder="Edition" [resultTemplate]="rtEdition" [inputFormatter]="editionFormatter"/>
    </div>

    <div class="col-auto">
      <button class="btn btn-info" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <br>

  <div class="card mat-elevation-z3 mb-3" *ngFor="let item of list; index as i">
    <div class="card-body">
      <div class="row">
        <div class="col-auto">
          <div class="text-muted small">MHI No</div>
          {{item._id.MHINo}}
        </div>
        <div class="col">
          <div class="text-muted small">Publication</div>
          {{item._id.publicationName}} - {{item._id.publicationEdition}}
        </div>
        <div class="col-auto text-right">
          <span class="text-muted">Collected Amount</span>: ₹ {{item.collectedAmount}}<br>
          <span class="text-muted">Pending Amount</span>: ₹ {{item.pendingAmount}}
        </div>
      </div>

      <br><br>

      <table class="table table-sm  table-responsive-md">
        <tr>
          <th>Batch ID</th>
          <th>Insertion Date</th>
          <th>Payment Mode</th>
          <th style="white-space: nowrap;">Receipt No</th>
          <th>Receipt Date</th>
        </tr>
        <tr *ngFor="let entry of item.entries; index as j">
          <td>{{entry.batchID || '--'}}</td>
          <td style="white-space: nowrap;">{{entry.insertionDate | date:'dd-MMM-y'}}</td>
          <td>{{entry.paymentMode | paymentMode}}</td>
          <td>
            <input type="text" name="rno-{{i}}-{{j}}" class="form-control form-control-sm" [(ngModel)]="entry.receiptNumber" placeholder="Receipt No">
          </td>
          <td>
            <input type="date" name="rdate-{{i}}-{{j}}" class="form-control form-control-sm" [(ngModel)]="entry.receiptDate" placeholder="Receipt Date">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>