<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Dashboard</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-primary" routerLink="/profile"><span class="fa fa-lg fa-user-circle"></span> User Profile</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-success" routerLink="/firm"><span class="fa fa-lg fa-building"></span> Firm Profile</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-warning" routerLink="/coUsers"><span class="fa fa-lg fa-users"></span> Co-Users</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-info" routerLink="/dir"><span class="fa fa-lg fa-address-book"></span> Directory</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" *ngIf="admin">
            <a class="btn btn-secondary" routerLink="/templates"><span class="fa fa-lg fa-file-alt"></span> Templates</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a class="btn btn-danger" routerLink="/changePassword"><span class="fa fa-lg fa-key"></span> Change Password</a>
        </div>
    </div>
</div>