<mat-toolbar>
  <mat-toolbar-row>
    <div class="container">Dashboard</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="card mb-3 mat-elevation-z3">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5>Invoices</h5>
            </div>
            <div class="col-auto">
              <button mat-icon-button type="button"><mat-icon>filter_list</mat-icon></button>
            </div>
          </div>

          <br>

          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" style="width: 35%"></div>
            <div class="progress-bar bg-warning" style="width: 65%"></div>
          </div>

          <div class="row">
            <div class="col text-muted small">Generated</div>
            <div class="col-auto text-muted small">Pending</div>
          </div>

          <br>

          <div class="progress">
            <div class="progress-bar bg-warning" style="width: 65%"></div>
            <div class="progress-bar progress-bar-striped" style="width: 35%"></div>
          </div>

          <div class="row">
            <div class="col text-muted small">Due</div>
            <div class="col-auto text-muted small">Overdue</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card mb-3 mat-elevation-z3">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5>Sales <small>(Release Orders)</small></h5>
            </div>
            <div class="col-auto">
              <button mat-icon-button type="button"><mat-icon>filter_list</mat-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md">
      <div class="card mb-3 mat-elevation-z3">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5>Payments</h5>
            </div>
            <div class="col-auto">
              <button mat-icon-button type="button"><mat-icon>filter_list</mat-icon></button>
            </div>
          </div>

          <br>

          <div class="progress">
            <div class="progress-bar progress-bar-striped" style="width: 35%"></div>
            <div class="progress-bar bg-warning" style="width: 30%"></div>
            <div class="progress-bar progress-bar-striped bg-success" style="width: 35%"></div>
          </div>

          <div class="row">
            <div class="col text-muted small">Collected</div>
            <div class="col text-muted small">Shadow</div>
            <div class="col-auto text-muted small">Completed</div>
          </div>

          <br>

          <div class="progress">
            <div class="progress-bar bg-warning" style="width: 65%"></div>
            <div class="progress-bar progress-bar-striped bg-success" style="width: 35%"></div>
          </div>

          <div class="row">
            <div class="col text-muted small">Pending</div>
            <div class="col-auto text-muted small">Received</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card mb-3 mat-elevation-z3">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5>Sales <small>(Media House Invoices)</small></h5>
            </div>
            <div class="col-auto">
              <button mat-icon-button type="button"><mat-icon>filter_list</mat-icon></button>
            </div>
          </div>

          <br>

          <div class="progress">
            <div class="progress-bar bg-warning" style="width: 65%"></div>
            <div class="progress-bar progress-bar-striped bg-success" style="width: 35%"></div>
          </div>

          <div class="row">
            <div class="col text-muted small">Pending</div>
            <div class="col-auto text-muted small">Received</div>
          </div>

          <br>

          <h6>Payments</h6>

          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" style="width: 65%"></div>
            <div class="progress-bar bg-warning" style="width: 35%"></div>
          </div>

          <div class="row">
            <div class="col text-muted small">Paid</div>
            <div class="col-auto text-muted small">Unpaid</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="container links">
  <a class="btn btn-outline-primary" routerLink="/profile">Manage Profile</a>
  <a class="btn btn-outline-success" routerLink="/firm">Firm Profile</a>
  <a class="btn btn-outline-warning" routerLink="/coUsers">Co-Users</a>
  <a class="btn btn-outline-info" routerLink="/dir">Directory</a>
  <a class="btn btn-outline-danger" routerLink="/ratecards">Rate Cards</a>
  <a class="btn btn-outline-primary" routerLink="/releaseorders">Release Orders</a>
  <a class="btn btn-outline-success" routerLink="/releaseorders/check">Insertion Check</a>
  <a class="btn btn-outline-warning" routerLink="/invoices">Invoices</a>
  <a class="btn btn-outline-info" routerLink="/receipts">Payment Receipts</a>
  <a class="btn btn-outline-danger" *ngIf="admin" routerLink="/templates">Templates</a>
  <a class="btn btn-outline-dark" routerLink="/accounts">Accounts</a>
  <a class="btn btn-outline-info" routerLink="/reports">Reports</a>
  <a class="btn btn-outline-success" routerLink="/tickets">Tickets</a>
</div>