<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Executive Payments</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<ng-template #rtExecutive let-r="result">
  {{r.executiveName}} - {{r.orgName}}
</ng-template>

<ng-template #rtExecutiveOrg let-r="result">
  {{r.orgName}}
</ng-template>

<div class="container">
  <div class="form-row">
    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="executive" [ngbTypeahead]="searchExecutive" placeholder="Executive" [resultTemplate]="rtExecutive" [inputFormatter]="executiveNameFormatter" />
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="executiveOrg" [ngbTypeahead]="searchExecutiveOrg" placeholder="Executive Organisation" [resultTemplate]="rtExecutiveOrg" [inputFormatter]="executiveOrgFormatter" />
    </div>

    <div class="col-auto">
      <button class="btn btn-info" (click)="search(1)">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <br>

  <pre>{{res | async | json}}</pre>
    
  <br>

  <app-pagination [pageCount]="pageCount" [page]="page" (navigate)="search($event)"></app-pagination>
</div>
