<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Select Plan</div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="planContainer">
    <div *ngFor="let plan of plans" class="plan">
      <div class="titleContainer bg-info">
        <div class="title">{{plan.name}}</div>
        <div class="price">
          <p>₹ {{plan.cost | number}} </p> <span>/ year</span>
        </div>
      </div>
      <div class="bg-dark text-light py-2">
        {{plan.dur.from | date:'dd-MMM-y'}} to {{plan.dur.upto | date:'dd-MMM-y'}}
      </div>
      <div class="infoContainer">
        <ul class="features">
          <li><strong>{{plan.maxUsers}}</strong> Users</li>
          <li><strong>{{plan.maxAdmins}}</strong> Admins</li>
        </ul><a class="selectPlan" [class.disabled]="paid" (click)="selectPlan(plan)">Select Plan</a>
      </div>
    </div>
  </div>
</div>