<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Invoices</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<ng-template #rtMediaHouse let-r="result">
  {{r.pubName}} - {{r.address.edition}}
</ng-template>

<ng-template #rtEdition let-r="result">
  {{r.address.edition}}
</ng-template>

<ng-template #rtClient let-r="result">
  {{r.orgName}}
</ng-template>

<ng-template #rtExecutive let-r="result">
  {{r.executiveName}} - {{r.orgName}}
</ng-template>

<ng-template #rtExecutiveOrg let-r="result">
  {{r.orgName}}
</ng-template>

<div class="container">
  <div class="form-row">
    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="mediaHouse" [ngbTypeahead]="searchMediaHouse" placeholder="Media House" [resultTemplate]="rtMediaHouse" [inputFormatter]="mediaHouseNameFormatter"/>
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="edition" [ngbTypeahead]="searchEdition" placeholder="Edition" [resultTemplate]="rtEdition" [inputFormatter]="editionFormatter"/>
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="client" [ngbTypeahead]="searchClient" placeholder="Client" [resultTemplate]="rtClient" [inputFormatter]="clientNameFormatter" />
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="executive" [ngbTypeahead]="searchExecutive" placeholder="Executive" [resultTemplate]="rtExecutive" [inputFormatter]="executiveNameFormatter" />
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="executiveOrg" [ngbTypeahead]="searchExecutiveOrg" placeholder="Executive Organisation" [resultTemplate]="rtExecutiveOrg" [inputFormatter]="executiveOrgFormatter" />
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <select [(ngModel)]="pastDays" class="form-control">
        <option [ngValue]="0">Any Time</option>
        <option [ngValue]="7">Past 7 days</option>
        <option [ngValue]="15">Past 15 days</option>
        <option [ngValue]="30">Past 30 days</option>
      </select>
    </div>

    <div class="col-auto">
      <button class="btn btn-info" (click)="search(1)">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <button class="fab" routerLink="/invoices/new">
    <mat-icon>add</mat-icon>
  </button>

  <br>
  <p *ngIf="invoices.length == 0" class="text-muted">
    No Invoices
  </p>

  <div class="card mb-3 mat-elevation-z3" *ngFor="let invoice of invoices">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <a [routerLink]="['/invoices', invoice.id]">{{invoice.invoiceNO}}</a>
          
          <br><br>
          <span class="text-muted">Publication:</span> {{invoice.publicationName}} - {{invoice.publicationEdition}}<br>
          <span class="text-muted">Client:</span> {{invoice.clientName}}
          <br><br>
        </div>
        <div class="col-auto">
          <mat-menu #invoiceMenu="matMenu">
            <button mat-menu-item (click)="gen(invoice)">
              <mat-icon>save_alt</mat-icon> Download
            </button>
            <button mat-menu-item (click)="sendMsg(invoice)">
              <mat-icon>mail</mat-icon> Send Email
            </button>
            <button mat-menu-item (click)="createPaymentReceipt(invoice)">
              <mat-icon>add</mat-icon> Create Payment Receipt
            </button>
            <button mat-menu-item (click)="linkAdvanceReceipt(invoice)">
              <mat-icon>link</mat-icon> Link Advance Receipt
            </button>
          </mat-menu>
          
          <button mat-icon-button [matMenuTriggerFor]="invoiceMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
    
  <br>

  <app-pagination [pageCount]="pageCount" [page]="page" (navigate)="search($event)"></app-pagination>
</div>
