<br>

<div class="container">
  <mat-card>
    <div class="row">
      <div class="col-md-7">
        <label class="text-muted">Invoice {{invoice.invoiceNO}}</label>
        <div class="text-muted small">{{invoice.date | date:'dd-MMM-y'}}</div>

        <br>

        <button [routerLink]="['/releaseorders', invoice.releaseOrderId]" class="btn btn-outline-primary">View Release Order</button>
      </div>
      <div class="col-md-5">
        <div class="small text-muted mt-2">Final Amount (Net Amount + Tax)</div>
        <div>₹ {{invoice.FinalTaxAmount}}</div>
    
        <div class="small text-muted mt-2">Cleared Amount</div>
        <div>₹ {{invoice.clearedAmount}}</div>
        
        <div class="small text-muted mt-2">Pending Amount</div>
        <div>₹ {{invoice.pendingAmount}}</div>
      </div>
    </div>
  </mat-card>
  
  <br>

  <div class="row">
    <div class="col-lg-6">
      <mat-card class="mat-elevation-z3">
        <label class="text-muted">Calculations</label>
    
        <div class="row">
          <div class="col">
            <div class="small text-muted mt-2">Commission</div>
            <div *ngIf="invoice.extraCharges.percentage">{{invoice.extraCharges.amount}} %</div>
            <div *ngIf="!invoice.extraCharges.percentage">₹ {{invoice.extraCharges.amount}}</div>
          </div>
          <div class="col">
            <div class="small text-muted mt-2">Additional Charges</div>
            <div *ngIf="invoice.additionalCharges.percentage">{{invoice.additionalCharges.amount}} %</div>
            <div *ngIf="!invoice.additionalCharges.percentage">₹ {{invoice.additionalCharges.amount}}</div>
          </div>
        </div>
    
        <div class="small text-muted mt-2">Ad Gross Amount</div>
        <div>₹ {{invoice.adGrossAmount}}</div>
    
        <div class="row">
          <div class="col">
            <div class="small text-muted mt-2">Publication Discount</div>
            <div *ngIf="invoice.publicationDiscount.percentage">{{invoice.publicationDiscount.amount}} %</div>
            <div *ngIf="!invoice.publicationDiscount.percentage">₹ {{invoice.publicationDiscount.amount}}</div>
          </div>
          <div class="col">
            <div class="small text-muted mt-2">Agency Discount</div>
            <div *ngIf="invoice.agencyDiscount1.percentage">{{invoice.agencyDiscount1.amount}} %</div>
            <div *ngIf="!invoice.agencyDiscount1.percentage">₹ {{invoice.agencyDiscount1.amount}}</div>
          </div>
        </div>
    
        <hr>
    
        <label class="text-muted small">Other Charges</label>
        <table>
          <tr *ngFor="let item of invoice.otherCharges">
            <td class="text-muted pr-5">{{item.chargeType}}:</td>
            <td>₹ {{item.amount}}</td>
          </tr>
        </table>
    
        <div *ngIf="invoice.otherCharges.length == 0" class="text-muted small">
          No Other Charges
        </div>
    
        <hr>

        <div class="row">
          <div class="col">
            <div class="small text-muted mt-2">Net Amount</div>
            <div>₹ {{invoice.netAmountFigures}}</div>
          </div>
          <div class="col">
            <div class="small text-muted mt-2">Tax</div>
            <div>{{taxDisplay}}</div>
          </div>
        </div>
      </mat-card>
    
      <br>
    
      <mat-card class="mat-elevation-z3">
        <label class="text-muted">Remarks</label>
        
        <div class="small text-muted mt-2">For Invoice</div>
        <div>{{invoice.remark || '--'}}</div>
    
        <div class="small text-muted mt-2">For Internal Use</div>
        <div>{{invoice.otherRemark || '--'}}</div>
      </mat-card>
    </div>

    <div class="col-lg-6">
      <mat-card class="mat-elevation-z3">
        <label class="text-muted">Insertions</label>

        <div *ngFor="let item of invoice.insertions">
          {{toDate(item.date) | date:'dd-MMM-y'}}
        </div>
      </mat-card>

      <br>

      <mat-card class="mat-elevation-z3" *ngIf="receipts.length != 0">
        <label class="text-muted">Receipts</label>

        <ng-container *ngFor="let item of receipts; index as i">
          <hr *ngIf="i">
          
          <div class="row">
            <a class="col" [routerLink]="['/receipts', item._id]">{{item.receiptNO}}</a>
            <div class="col-auto text-muted small">{{item.createdAt | date:'dd-MMM-y'}}</div>
          </div>
          
          <div>
            <span class="text-muted">Amount:</span> ₹ {{item.paymentAmount}} <span class="text-muted small">({{item.paymentType | paymentMode}})</span>
          </div>
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>