<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Invoice {{invoice.invoiceNO}}</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">Invoice Details</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Date</div>
              <div class="col-md-8">{{invoice.date | date}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Release Order Id</div>
              <div class="col-md-8"><a [routerLink]="['/releaseorders', invoice.releaseOrderId]">{{invoice.releaseOrderId}}</a></div>
            </div>
          </li>       
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Ad Gross Amount</div>
              <div class="col-md-8">₹ {{invoice.adGrossAmount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Tax</div>
              <div class="col-md-8">{{taxDisplay}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div>Other Charges</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let item of invoice.otherCharges">
                <div class="row">
                    <div class="col-md-8">{{item.chargeType}}</div>
                  <div class="col-md-4">₹ {{item.amount}}</div>                  
                </div>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Extra Charges</div>
              <div class="col-md-8" *ngIf="invoice.extraCharges.percentage">{{invoice.extraCharges.amount}} %</div>
              <div class="col-md-8" *ngIf="!invoice.extraCharges.percentage">₹ {{invoice.extraCharges.amount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Publication Discount</div>
              <div class="col-md-8" *ngIf="invoice.publicationDiscount.percentage">{{invoice.publicationDiscount.amount}} %</div>
              <div class="col-md-8" *ngIf="!invoice.publicationDiscount.percentage">₹ {{invoice.publicationDiscount.amount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Agency Discount</div>
              <div class="col-md-8" *ngIf="invoice.agencyDiscount1.percentage">{{invoice.agencyDiscount1.amount}} %</div>
              <div class="col-md-8" *ngIf="!invoice.agencyDiscount1.percentage">₹ {{invoice.agencyDiscount1.amount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Additional Charges</div>
              <div class="col-md-8" *ngIf="invoice.additionalCharges.percentage">{{invoice.additionalCharges.amount}} %</div>
              <div class="col-md-8" *ngIf="!invoice.additionalCharges.percentage">₹ {{invoice.additionalCharges.amount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Caption</div>
              <div class="col-md-8">{{invoice.caption}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Remark</div>
              <div class="col-md-8">{{invoice.remark}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Other Remark</div>
              <div class="col-md-8">{{invoice.otherRemark}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Net Amount In Figures</div>
              <div class="col-md-8">₹ {{invoice.netAmountFigures}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Net Amount In Words</div>
              <div class="col-md-8">{{invoice.netAmountWords}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Cleared Amount</div>
              <div class="col-md-8">₹ {{invoice.clearedAmount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Pending Amount</div>
              <div class="col-md-8">₹ {{invoice.pendingAmount}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">Insertions</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let item of invoice.insertions">
            {{toDate(item.date) | date}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>