<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Invoice {{invoice.invoiceNO}}</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="small text-muted">{{invoice.date | date}}</div>

      <div class="card my-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Ad Gross Amount</div>
              <div class="col-md-8">₹ {{invoice.adGrossAmount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Tax</div>
              <div class="col-md-8">{{taxDisplay}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div>Other Charges</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let item of invoice.otherCharges">
                <div class="row">
                    <div class="col-md-8">{{item.chargeType}}</div>
                  <div class="col-md-4">₹ {{item.amount}}</div>                  
                </div>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Extra Charges</div>
              <div class="col-md-8" *ngIf="invoice.extraCharges.percentage">{{invoice.extraCharges.amount}} %</div>
              <div class="col-md-8" *ngIf="!invoice.extraCharges.percentage">₹ {{invoice.extraCharges.amount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Publication Discount</div>
              <div class="col-md-8" *ngIf="invoice.publicationDiscount.percentage">{{invoice.publicationDiscount.amount}} %</div>
              <div class="col-md-8" *ngIf="!invoice.publicationDiscount.percentage">₹ {{invoice.publicationDiscount.amount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Agency Discount</div>
              <div class="col-md-8" *ngIf="invoice.agencyDiscount1.percentage">{{invoice.agencyDiscount1.amount}} %</div>
              <div class="col-md-8" *ngIf="!invoice.agencyDiscount1.percentage">₹ {{invoice.agencyDiscount1.amount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Additional Charges</div>
              <div class="col-md-8" *ngIf="invoice.additionalCharges.percentage">{{invoice.additionalCharges.amount}} %</div>
              <div class="col-md-8" *ngIf="!invoice.additionalCharges.percentage">₹ {{invoice.additionalCharges.amount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Net Amount</div>
              <div class="col-md-8">
                ₹ {{invoice.netAmountFigures}}<br>
                Rupees {{invoice.netAmountWords}}
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Final Amount</div>
              <div class="col-md-8">₹ {{invoice.FinalTaxAmount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Cleared Amount</div>
              <div class="col-md-8">₹ {{invoice.clearedAmount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Pending Amount</div>
              <div class="col-md-8">₹ {{invoice.pendingAmount}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Caption</div>
              <div class="col-md-8">{{invoice.caption}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Remark</div>
              <div class="col-md-8">{{invoice.remark}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Other Remark</div>
              <div class="col-md-8">{{invoice.otherRemark}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-6">
      <button [routerLink]="['/releaseorders', invoice.releaseOrderId]" class="btn btn-outline-primary">View Release Order</button>

      <br><br>

      <h5>Insertions</h5>

      <div class="card my-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let item of invoice.insertions">
            {{toDate(item.date) | date}}
          </li>
        </ul>
      </div>

      <ng-container *ngIf="receipts.length != 0">
        <br>

        <h5>Receipts</h5>

        <div class="card mb-3" *ngFor="let item of receipts">
          <div class="card-body">
            <div class="row">
              <a class="col text-muted" [routerLink]="['/receipts', item._id]">{{item.receiptNO}}</a>
              <div class="col-auto text-muted small">{{item.createdAt | date}}</div>
            </div>
            <div><span class="text-muted">Amount:</span> ₹ {{item.paymentAmount}}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>