<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Create Invoice</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <h3>Select Insertions</h3>

  <br>

  <div *ngFor="let item of availableInsertions">
    <mat-checkbox [(ngModel)]="item.checked">
      {{toDate(item.insertion.date) | date}}
    </mat-checkbox>
  </div>

  <form (ngSubmit)="submit()" #invoiceForm="ngForm">
    <br><br>

    <button class="btn btn-success" type="submit" [disabled]="!invoiceForm.form.valid">Submit</button>
    <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
  </form>
</div>