.list-group-item div:first-child {
    font-style: italic;
}

mat-sidenav {
    padding-right: 25px;
    position: fixed;
    z-index: 30;
    top: 150px;
}

mat-toolbar {
    position: fixed;
    top: 115px;
    z-index: 30;
}

mat-card {
    padding: 15px;
}

mat-card-title {
    font-size: 15px;
    font-weight: bolder;
}

#add_details {
    font-weight: bolder;
}

label {
    font-size: 15px;
}