<button class="fab" routerLink="/dir/clients/new">
  <mat-icon>add</mat-icon>
</button>

<ng-template #rt let-r="result">
  {{r.orgName}}
  <br>
  <div *ngFor="let contactPerson of r.contactpersons">
    <small>{{contactPerson.name}}</small>
  </div>
</ng-template>

<div class="form-group">
  <input id="search" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="query" [ngbTypeahead]="search" placeholder="Search" [resultTemplate]="rt" [inputFormatter]="inputFormatter" />
</div>

<p *ngIf="clients.length == 0" class="text-muted">
  No Clients
</p>

<div class="card mb-3 mat-elevation-z3" *ngFor="let client of clients">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/dir/clients', client.id]">{{client.orgName}}</a>
        <br>
        <div *ngFor="let contactPerson of client.contactpersons">
          <small>{{contactPerson.name}}</small>
        </div>
      </div>
      <!-- <div class="col-auto">
        <mat-menu #dirMenu="matMenu">
          <button mat-menu-item class="text-danger" (click)="deleteClient(client)">
            <mat-icon>delete</mat-icon> Delete
          </button>
        </mat-menu>
        
        <button mat-icon-button [matMenuTriggerFor]="dirMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div> -->
    </div>
  </div>
</div>

<app-pagination [pageCount]="pageCount" [page]="page" (navigate)="navigate($event)"></app-pagination>