<button class="fab" routerLink="/dir/clients/new">
  <mat-icon>add</mat-icon>
</button>

<ng-template #rt let-r="result">
  {{r.orgName}}
  <br>
  <div *ngFor="let contactPerson of r.contactpersons">
    <small>{{contactPerson.name}}</small>
  </div>
</ng-template>

<div class="form-group">
  <input id="search" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="query" [ngbTypeahead]="search" placeholder="Search" [resultTemplate]="rt" [inputFormatter]="inputFormatter" />
</div>

<p *ngIf="clients.length == 0" class="text-muted">
  No Clients
</p>

<div class="card mb-3" *ngFor="let client of clients">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/dir/clients', client.id]">{{client.orgName}}</a>
        <br>
        <div *ngFor="let contactPerson of client.contactpersons">
          <small>{{contactPerson.name}}</small>
        </div>
      </div>
      <div class="col-auto">
        <mat-menu #dirMenu="matMenu">
          <button mat-menu-item [routerLink]="['/dir/clients/edit', client.id]">
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button mat-menu-item class="text-danger" (click)="deleteClient(client)">
            <mat-icon>delete</mat-icon> Delete
          </button>
        </mat-menu>
        
        <button mat-icon-button [matMenuTriggerFor]="dirMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<nav *ngIf="pageCount != 0">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="page == 1">
      <a class="page-link" [routerLink]="['/dir/clients/list', +page - 1]" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let x of dummyArray; index as i" [class.active]="i + 1 == page">
      <a class="page-link" [routerLink]="['/dir/clients/list', i + 1]">{{i + 1}}</a>
    </li>
    <li class="page-item" [class.disabled]="page == pageCount">
      <a class="page-link" [routerLink]="['/dir/clients/list', +page + 1]" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>