<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add New Co-User</h1>
  </div>
</div>

<div class="container">
  <form (ngSubmit)="submit()" #newCoUserForm="ngForm">
    <div class="form-group form-row">
      <label class="col-form-label col-md-3" for="name">Name</label>
      <input type="text" class="form-control col-md-9" id="name" name="name" placeholder="Enter name" [(ngModel)]="coUser.name" required #nameField="ngModel">
    </div>

    <div *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)" class="text-danger">
      <div *ngIf="nameField.errors.required">
        Name is required.
      </div>
      <br>
    </div>

    <div class="form-group form-row">
      <label class="col-form-label col-md-3" for="designation">Designation</label>
      <input type="text" class="form-control col-md-9" id="designation" name="designation" placeholder="Enter Designation" [(ngModel)]="coUser.designation" #designationField="ngModel">
    </div>

    <div class="form-group form-row">
      <label class="col-form-label col-md-3" for="email">Email address</label>
      <input type="email" class="form-control col-md-9" id="email" name="email" placeholder="Enter email" [(ngModel)]="coUser.email" required #emailField="ngModel" email>
    </div>

    <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="text-danger">
      <div *ngIf="emailField.errors.required">
        Email is required.
      </div>
      <div *ngIf="!emailField.errors.required && emailField.errors.email">
        Invalid Email.
      </div>
      <br>
    </div>

    <div class="form-group form-row">
      <label class="col-form-label col-md-3" for="phone">Phone Number</label>
      <input type="number" class="form-control col-md-9" id="phone" pattern="^((\+91)|0|)\d{10}$" name="phone" placeholder="Enter Phone Number" [(ngModel)]="coUser.phone" required #phoneField="ngModel">
    </div>

    <div *ngIf="phoneField.invalid && (phoneField.dirty || phoneField.touched)" class="text-danger">
      <div *ngIf="phoneField.errors.required">
        Phone Number is empty or invalid.
      </div>
      <br>
    </div>

    <br>
    <h4>Roles</h4>
    <br>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="isAdmin" name="isAdmin" [(ngModel)]="coUser.isAdmin">
      <label class="form-check-label" for="isAdmin">Is Admin</label>
    </div>
    
    <br>      

    <app-role-control *ngIf="!coUser.isAdmin" [(roles)]="coUser.roles"></app-role-control>

    <br>

    <button type="submit" class="btn btn-success" [disabled]="!newCoUserForm.form.valid">Add</button>
    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
  </form>
</div>