<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Add New Co-Users</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <form (ngSubmit)="submit()" #newCoUserForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="name" placeholder="Name" [(ngModel)]="coUser.name" required #nameField="ngModel">
      <mat-error *ngIf="nameField.errors && nameField.errors.required">
        Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" name="designation" placeholder="Designation" [(ngModel)]="coUser.designation" #designationField="ngModel">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" name="email" placeholder="Email" [(ngModel)]="coUser.email" required #emailField="ngModel" verify-email>
      <mat-error *ngIf="emailField.errors && emailField.errors.required">
        Email is required.
      </mat-error>
      <mat-error *ngIf="emailField.errors && emailField.errors.email">
        Invalid Email.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <span matPrefix>+91 &nbsp;</span>
      <input matInput type="tel" pattern="^\d{10}$" maxlength="10" minlength="10" name="phone" placeholder="Phone Number" [(ngModel)]="coUser.phone" required #phoneField="ngModel">
      <mat-error *ngIf="phoneField.errors && phoneField.errors.required">
        Phone Number is empty or invalid.
      </mat-error>
    </mat-form-field>

    <br><br>
    <h4>Roles</h4>
    <br>

    <mat-checkbox class="my-2" name="isAdmin" [(ngModel)]="coUser.isAdmin" #isAdminField="ngModel">Is Admin</mat-checkbox>

    <br>      

    <app-role-control *ngIf="!coUser.isAdmin" [(roles)]="coUser.roles"></app-role-control>

    <br>

    <button type="submit" class="btn btn-success" [disabled]="!newCoUserForm.form.valid">Add</button>
    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
  </form>
</div>