<div class="row">
  <div class="col-lg">
    <div class="card">
      <div class="card-header">Client</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Organization Name</div>
            <div class="col-md-8">{{client.orgName}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Company Name</div>
            <div class="col-md-8">{{client.companyName}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Nick Name</div>
            <div class="col-md-8">{{client.nickName}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Category</div>
            <div class="col-md-8">{{client.category}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Address</div>
            <div class="col-md-8">{{client.address}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Landline</div>
            <div class="col-md-8">{{client.landline}}</div>
          </div>
        </li><li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Website</div>
            <div class="col-md-8">{{client.website}}</div>
          </div>
        </li><li class="list-group-item">
          <div class="row">
            <div class="col-md-4">PAN</div>
            <div class="col-md-8">{{client.panNo}}</div>
          </div>
        </li><li class="list-group-item">
          <div class="row">
            <div class="col-md-4">GSTIN</div>
            <div class="col-md-8">{{client.gstNo}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg">
    <div class="card">
      <div class="card-header">Contact Person</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Name</div>
            <div class="col-md-8">{{client.contactPerson.name}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Designation</div>
            <div class="col-md-8">{{client.contactPerson.designation}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Department</div>
            <div class="col-md-8">{{client.contactPerson.department}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Mobile</div>
            <div class="col-md-8">{{client.contactPerson.mobileNo}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Email</div>
            <div class="col-md-8">{{client.contactPerson.email}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Date of Birth</div>
            <div class="col-md-8">{{client.contactPerson.dob}}</div>
          </div>
        </li>        
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Anniversary</div>
            <div class="col-md-8">{{client.contactPerson.anniversaryDate}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>