<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Create Ticket</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <form (ngSubmit)="submit()" #ticketForm="ngForm">
    <mat-form-field>
      <input matInput type="text" id="subject" placeholder="Enter Subject" [(ngModel)]="ticket.subject" name="subject" required #subjectField="ngModel">
      <mat-error *ngIf="subjectField.errors && subjectField.errors.required">
        Subject is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput id="details" placeholder="Enter Details" [(ngModel)]="ticket.details" name="details" #detailsField="ngModel"></textarea>
    </mat-form-field>

    <br><br>

    <button class="btn btn-success" type="submit" [disabled]="!ticketForm.form.valid">Submit</button>
    <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
  </form>
</div>