<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Create Ticket</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <form (ngSubmit)="submit()" #ticketForm="ngForm">
    <mat-form-field>
      <input matInput type="text" id="subject" placeholder="Enter Subject" [(ngModel)]="ticket.subject" name="subject" required #subjectField="ngModel">
      <mat-error *ngIf="subjectField.errors?.required">
        Subject is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput id="details" placeholder="Enter Details" [(ngModel)]="ticket.details" name="details" #detailsField="ngModel"></textarea>
    </mat-form-field>

    <br><br>

    <div class="d-none d-md-block">
      <button type="submit" mat-raised-button color="primary" class="bg-success" [disabled]="!ticketForm.form.valid">
        <mat-icon>check</mat-icon> Submit
      </button>

      <button type="button" mat-raised-button color="warn" (click)="cancel()">
        <mat-icon>cancel</mat-icon> Cancel
      </button>
    </div>

    <mat-toolbar class="d-md-none fixed-bottom">
      <div class="container-fluid">
        <div class="form-row">
          <div class="col">
            <button type="submit" class="btn btn-block btn-outline-success border-0 btn-sm" [disabled]="!ticketForm.form.valid" color="primary">
              <mat-icon>check</mat-icon>
              <div class="small">Save</div>
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-block btn-outline-danger border-0 btn-sm" (click)="cancel()">
              <mat-icon>cancel</mat-icon>
              <div class="small">Cancel</div>
            </button>
          </div>
        </div>
      </div>
    </mat-toolbar>
  </form>
</div>