.custom-day {      
    text-align: center;
    padding: 0.185rem 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    width: 2rem;
}

.custom-day:hover {
    background-color: #e6e6e6;
}

.selected {
    background-color: #f0ad4e !important;
    border-radius: 1rem;
    color: white;
}