<livechat-widget licenseId="9872505"></livechat-widget>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">AAMan</h1>
    <p class="lead">Advertising Agency Manager</p>
    <hr class="my-4">
    <p>A complete solution for Advertising Agencies.</p>
    <br>
    <p class="lead">
      <a class="btn btn-info btn-lg" *ngIf="api.isLoggedIn" routerLink="/profile">My Profile</a>
      <a class="btn btn-info btn-lg" *ngIf="api.isLoggedIn" routerLink="/dashboard">Dashboard</a>
      <a class="btn btn-info btn-lg" *ngIf="!api.isLoggedIn" routerLink="/login">Login</a>
      <a class="btn btn-info btn-lg" *ngIf="!api.isLoggedIn" routerLink="/register">Register</a>
    </p>
  </div>
</div>