.list-group-item div:first-child {
    font-style: italic;
}

#calculations {
    z-index: 30;
}

@media (max-width: 991px) {
    #calculations {
        position: fixed;
        top: 105px;
        z-index: 30;
        right: -17px;
        border-radius: 0;
        width: auto;
        left: -17px;
    }

    mat-toolbar {
        margin-top: 260px;
    }
}

mat-card {
    margin: 15px;
    padding: 15px;
}

mat-card-title {
    font-size: 15px;
}

mat-form-field {
    margin: 2px;
}

label {
    font-size: 15px;
}

.premiums {
    width: 150px;
}