<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container-fluid">
      <div class="row">
        <div class="col" *ngIf="!edit">Create Release Order</div>
        <div class="col" *ngIf="edit">Edit Release Order</div>
        <button mat-icon-button class="col-auto" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br><br>

<mat-sidenav-container class="mt-1">
  <mat-sidenav #sidenav mode="side" opened="true" position="end">
    <div class="card bg-primary sticky-top" style="top: 50px; width: 365px;">
      <div class="card-header text-light small">
        Final Calculations
      </div>
      <ul class="list-group list-group-flush small">
        <li class="list-group-item">
          <div class="small text-muted">Net Amount = Amount + Tax</div>
          <div>₹ {{displayTotal}} = {{displayAmount}} + {{displayTax}}</div>
        </li>
        <li class="list-group-item">
          <div class="small text-muted">Net Amount in Words</div>
          <div>{{options.amountToWords(displayTotal)}} ({{taxDisplay}})</div>
        </li>
        <li class="list-group-item">
          <div class="small text-muted">Client Payment (without Tax)</div>
          <div>₹ {{clientPayment}}</div>
        </li>
      </ul>
      <div class="card-header text-light small d-none d-lg-block" *ngIf="selectedCategories[0]">
        Categories
      </div>
      <ul class="list-group list-group-flush small d-none d-lg-block" *ngIf="selectedCategories[0]">
        <li class="list-group-item">
          <ng-container *ngFor="let cat of selectedCategories; index as i">
            <span *ngIf="cat">
              <span *ngIf="i != 0">&gt; </span>{{cat.name}}
            </span>
          </ng-container>
        </li>
      </ul>
      <div class="card-header text-light small d-none d-lg-block" *ngIf="releaseorder.insertions.length">
        Insertions
      </div>
      <ul class="list-group list-group-flush small d-none d-lg-block"  *ngIf="releaseorder.insertions.length">
        <li class="list-group-item" *ngFor="let item of releaseorder.insertions">
          <div class="row">
            <div class="col">{{toDate(item.date) | date}}</div>
            <div class="col-auto text-success" *ngIf="item.marked">
              <mat-icon>check</mat-icon>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [class.container-fluid]="sidenav.opened" [class.container]="!sidenav.opened">
      <form (ngSubmit)="submit()" #roForm="ngForm">
        <div class="row">
          <div class="col-lg col-md-6">
            <br>
            <mat-card>
              <mat-card-title>Publication Details</mat-card-title>
              
              <mat-form-field>
                <input [disabled]="edit" matInput type="text" [ngbTypeahead]="searchMediaHouse" id="mediaHouseName" placeholder="Media House Name" [(ngModel)]="mediaHouse" name="mediaHouseName" required #publicationNameField="ngModel" [resultFormatter]="mediaHouseResultFormatter" [inputFormatter]="mediaHouseInputFormatter">
                <mat-error *ngIf="publicationNameField.errors && publicationNameField.errors.required">
                  Media House Name is required.
                </mat-error>
              </mat-form-field>
                  
              <div class="form-row">
                <mat-form-field class="col-md">
                  <input [disabled]="edit" matInput type="text" id="publicationEdition" name="publicationEdition" placeholder="Edition" [(ngModel)]="releaseorder.publicationEdition" required #publicationEditionField="ngModel">
                  <mat-error *ngIf="publicationEditionField.errors && publicationEditionField.errors.required">
                    Edition Name is required.
                  </mat-error>
                </mat-form-field>
            
                <mat-form-field class="col-md">
                  <mat-select [disabled]="edit" name="mediaType" [(ngModel)]="releaseorder.mediaType" id="mediaType" #mediaTypeField="ngModel" required>
                    <mat-option *ngFor="let item of mediaTypes" [value]="item">{{item}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="mediaTypeField.errors && mediaTypeField.errors.required">
                    Media type is required.
                  </mat-error>
                </mat-form-field>
              </div>
              
              <div class="form-row">
                <mat-form-field class="col-md">
                  <mat-select [disabled]="edit" id="publicationState" name="publicationState" placeholder="State" [(ngModel)]="releaseorder.publicationState" required #publicationStateField="ngModel">
                    <mat-option *ngFor="let state of stateApi.states" [value]="state">{{state}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="publicationStateField.errors && publicationStateField.errors.required">
                    State is required.
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md">
                  <input [disabled]="edit" matInput type="text" id="publicationGSTIN" name="publicationGSTIN" placeholder="GSTIN" [(ngModel)]="releaseorder.publicationGSTIN.GSTNo" required minlength="15" maxlength="15" #publicationGSTINField="ngModel">
                  <mat-error *ngIf="publicationGSTINField.errors && publicationGSTINField.errors.required">
                    GSTIN is required.
                  </mat-error>
                  <mat-error *ngIf="publicationGSTINField.errors && (publicationGSTINField.errors.minlength || publicationGSTINField.errors.maxlength)">
                    GSTIN should be 15 characters long.
                  </mat-error>
                </mat-form-field>
              </div>

              <ng-container *ngIf="mediaType == 'Print'">
                <div class="form-row">
                  <div class="col">
                    <mat-form-field>
                      <mat-select [disabled]="edit" placeholder="Pullout Name" name="pullOutName" [(ngModel)]="dropdownPullOutName" id="pullOutName" #pullOutNameField="ngModel" required>
                        <mat-option *ngFor="let item of pullouts" [value]="item.Name">{{item.Name}}</mat-option>
                        <mat-option [value]="others">{{others}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="pullOutNameField.errors && pullOutNameField.errors.required">
                          Pullout Name is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col" *ngIf="dropdownPullOutName == others">
                    <mat-form-field>
                      <input [disabled]="edit" matInput type="text" id="specPullOutName" placeholder="Enter Pullout Name" [(ngModel)]="customPullOutName" required name="specPullOutName" #specPullOutNameField="ngModel">
                      <mat-error *ngIf="specPullOutNameField.errors && specPullOutNameField.errors.required">
                        Pullout Name is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </ng-container>

              <mat-card-actions *ngIf="!edit">
                <button mat-button type="button" color="primary" (click)="addMediaHouse()">Add to Directory</button>
              </mat-card-actions>
            </mat-card>
          </div>

          <div class="col-lg col-md-6">
            <br>
            <mat-card>
              <mat-card-title>Client Details</mat-card-title>
    
              <mat-form-field>
                <input [disabled]="edit" matInput type="text" [ngbTypeahead]="searchClient" id="clientName" placeholder="Client Name" [(ngModel)]="client" name="clientName" required #clientNameField="ngModel" [resultFormatter]="clientResultFormatter" [inputFormatter]="clientInputFormatter">
                <mat-error *ngIf="clientNameField.errors && clientNameField.errors.required">
                  Name is required.
                </mat-error>
              </mat-form-field>
              
              <mat-form-field>
                <mat-select [disabled]="edit" id="clientState" name="clientState" placeholder="State" [(ngModel)]="releaseorder.clientState" required #clientStateField="ngModel">
                  <mat-option *ngFor="let state of stateApi.states" [value]="state">{{state}}</mat-option>
                </mat-select>
                <mat-error *ngIf="clientStateField.errors && clientStateField.errors.required">
                  State is required.
                </mat-error>
              </mat-form-field>
              
              <div class="form-row">
                <div class="{{releaseorder.clientGSTIN.GSTType != 'URD' ? 'col-auto' : 'col'}}">
                  <mat-form-field>
                    <mat-select [disabled]="edit" placeholder="GST Type" name="gstType" [(ngModel)]="releaseorder.clientGSTIN.GSTType">
                      <mat-option value="URD">URD</mat-option>
                      <mat-option value="RD">RD</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col" *ngIf="releaseorder.clientGSTIN.GSTType != 'URD'">
                  <mat-form-field>
                    <input [disabled]="edit" matInput type="text" name="gstNo" placeholder="GSTIN" [(ngModel)]="releaseorder.clientGSTIN.GSTNo" required minlength="15" maxlength="15" #gstNoField="ngModel">
                    <mat-error *ngIf="gstNoField.errors && gstNoField.errors.required">
                      GSTIN is required.
                    </mat-error>
                    <mat-error *ngIf="gstNoField.errors && (gstNoField.errors.minlength || gstNoField.errors.maxlength)">
                      GSTIN should be 15 characters long.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
  
              <mat-card-actions *ngIf="!edit">
                <button mat-button type="button" color="primary" (click)="addClient()">Add to Directory</button>
              </mat-card-actions>
          </mat-card>
          </div>
        </div>

        <br>
          
        <div class="row">
          <div class="col-lg col-md-6">
            <br>
            <mat-card>
              <mat-card-title>Ad Details</mat-card-title>

              <div class="form-row">
                <mat-form-field class="col">
                  <mat-select matInput name="adType" [(ngModel)]="adType" id="adType" #adTypeField="ngModel" required>
                    <mat-option *ngFor="let item of adTypes" [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col" *ngIf="mediaType == 'Print'">
                  <mat-select matInput name="position" [(ngModel)]="releaseorder.adPosition" id="position" #positionField="ngModel" required>
                    <mat-option *ngFor="let item of positions" [value]="item">{{item}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="positionField.errors && positionField.errors.required">
                    Position is required.
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col" *ngIf="isTypeTime">
                  <mat-select matInput name="adTime" [(ngModel)]="releaseorder.AdTime" id="adTime" #adTimeField="ngModel" required>
                    <mat-option *ngFor="let item of adTimes" [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="form-row">
                <mat-form-field class="col" *ngIf="isTypeTime">
                  <input type="number" matInput id="duration" placeholder="Duration" [(ngModel)]="releaseorder.AdDuration" name="duration" required #durationField="ngModel">
                  <mat-error *ngIf="durationField.errors && durationField.errors.required">
                    Duration is required.
                  </mat-error>
                </mat-form-field>
                <div class="col" *ngIf="isTypeLen">
                  <mat-form-field>
                    <mat-select matInput name="hue" [(ngModel)]="releaseorder.adHue" id="hue" #hueField="ngModel" required>
                      <mat-option *ngFor="let hue of hues" [value]="hue">{{hue}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="hueField.errors && hueField.errors.required">
                      Hue is required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field>
                    <input type="text" matInput id="adEdition" name="adEdition" placeholder="Edition" [(ngModel)]="releaseorder.adEdition" required #adEditionField="ngModel">
                    <mat-error *ngIf="adEditionField.errors && adEditionField.errors.required">
                      Edition is required.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-row">
                <mat-form-field class="col">
                  <input type="text" matInput id="caption" name="caption" placeholder="Caption" [(ngModel)]="releaseorder.caption" #captionField="ngModel">
                </mat-form-field>

                <div class="col-auto">
                  <button type="button" mat-raised-button color="primary" (click)="getCategories()">Categories</button>
                </div>
              </div>

              <br>

              <ng-container *ngIf="isTypeLen">
                <div class="form-row">
                  <div class="col-auto">
                    <label class="mb-0">Ad Size</label><br>
                    
                    <mat-slide-toggle [(ngModel)]="customSize" name="customSize" [disabled]="fixSizes.length == 0">
                      <span class="small">Custom</span>
                    </mat-slide-toggle>
                  </div>

                  <div class="col" *ngIf="!customSize">
                    <select class="form-control" name="fixSize" [(ngModel)]="selectedSize" id="fixSize" #fixSizeField="ngModel" required>
                      <option *ngFor="let fixSize of fixSizes" [ngValue]="fixSize">Length: {{fixSize.length}}, Width: {{fixSize.width}}, Amount: {{fixSize.amount}}</option>
                    </select>
                  </div>

                  <ng-container *ngIf="customSize">
                    <div class="col">
                      <div class="form-row">
                        <div class="col-6">
                          <mat-form-field>
                            <input matInput type="number" id="customL" placeholder="Length in cm" [(ngModel)]="customSizeL" name="customL" required #customLField="ngModel">
                            <mat-error *ngIf="customLField.errors && customLField.errors.required">
                              Length is required.
                            </mat-error>
                          </mat-form-field>
                        </div>
                        
                        <div class="col-6">
                          <mat-form-field>
                            <input matInput type="number" id="customW" placeholder="Width in cm" [(ngModel)]="customSizeW" name="customW" required #customWField="ngModel">
                            <mat-error *ngIf="customWField.errors && customWField.errors.required">
                              Width is required.
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <div class="col-auto small" *ngIf="totalSpace">
                    <span class="text-muted">Total Space</span><br>
                    {{totalSpace}} sqcm
                  </div>
                </div>
              </ng-container>

              <div class="form-row">
                <div class="col-auto">
                  <label class="mb-0">Scheme</label><br>
                  
                  <mat-slide-toggle [(ngModel)]="customScheme" name="customScheme" [disabled]="schemes.length == 0">
                    <span class="small">Custom</span>
                  </mat-slide-toggle>
                </div>

                <div class="col" *ngIf="!customScheme">
                  <select class="form-control" name="scheme" [(ngModel)]="selectedScheme" id="scheme" #schemeField="ngModel" required>
                    <option *ngFor="let scheme of schemes" [ngValue]="scheme">Paid: {{scheme.paid}}, Free: {{scheme.Free}}, Time Limit: {{scheme.timeLimit}}</option>
                  </select>
                </div>

                <div class="col" *ngIf="customScheme">
                  <div class="form-row">
                    <div class="col-6">
                      <mat-form-field>
                        <input matInput type="number" id="customPaid" placeholder="Paid" [(ngModel)]="customPaid" name="customPaid" required #customPaidField="ngModel">
                        <mat-error *ngIf="customPaidField.errors && customPaidField.errors.required">
                          Paid is required.
                        </mat-error>
                      </mat-form-field>
                    </div>
    
                    <div class="col-6">
                      <mat-form-field>
                        <input matInput type="number" id="customFree" placeholder="Free" [(ngModel)]="customFree" name="customFree" required #customFreeField="ngModel">
                        <mat-error *ngIf="customFreeField.errors && customFreeField.errors.required">
                          Free is required.
                        </mat-error>
                      </mat-form-field>          
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="form-row">
                    <div class="col-6">
                      <mat-form-field> 
                        <input matInput type="number" id="adCountPaid" name="adCountPaid" [verify-multiple-of]="customScheme ? customPaid : selectedScheme.paid" placeholder="No of Paid Ads" [(ngModel)]="adCountPaid" required #adCountPaidField="ngModel">
                        <mat-error *ngIf="adCountPaidField.errors && adCountPaidField.errors.required">
                          No of Paid Ads is required.
                        </mat-error>
                        <mat-error *ngIf="adCountPaidField.errors && adCountPaidField.errors.multipleOf">
                          No of Paid Ads should be multiple of Paid Ads in Scheme.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div *ngIf="adCountPaidField.valid" class="col-6 small">
                      <span class="text-muted">Total Ads</span><br>
                      <small>{{availableAds}} ({{adCountPaid}} Paid + {{availableAds - adCountPaid}} Free)</small>
                    </div>
                  </div>
                </div>
              </div>

              <br>

              <mat-form-field hintLabel="Max 100 characters"> 
                <input type="text" matInput id="remark" maxlength="100" name="remark" placeholder="Remark for Release Order" [(ngModel)]="releaseorder.remark" #remarkField="ngModel">
                <mat-hint align="end">{{releaseorder.remark?.length || 0}}/100</mat-hint>
              </mat-form-field>

              <!-- <div class="row">       -->
                <!-- <ng-container *ngIf="isTypeWords" class="row">
                  <mat-form-field class="col-lg-3 col-md-6">
                    <input type="number" matInput id="maxWords" placeholder="Maximum Words / Lines" [(ngModel)]="releaseorder.AdWordsMax" name="maxWords" required #maxWordsField="ngModel">
                    <mat-error *ngIf="maxWordsField.errors && maxWordsField.errors.required">
                      Maximum Words / Lines is empty or invalid.
                    </mat-error>
                  </mat-form-field>
            
                  <mat-form-field class="col-lg-3 col-md-6">
                    <input type="number" matInput id="words" placeholder="No of Words / Lines" [(ngModel)]="releaseorder.AdWords" name="words" required #wordsField="ngModel">
                    <mat-error *ngIf="wordsField.errors && wordsField.errors.required">
                      No of Words / Lines is empty or invalid.
                    </mat-error>
                  </mat-form-field>            
                </ng-container> -->
              <!-- </div>             -->
            </mat-card>
          </div>

          <div class="col-lg col-md-6">
            <br>
            <mat-card>
              <mat-card-title>Premiums</mat-card-title>
              <ng-container *ngIf="isTypeWords">
                <div class="row">
                  <div class="col-lg col-md-6">
                    <div class="form-row">
                      <div class="col-auto align-self-center">
                        <mat-checkbox name="cBox" [(ngModel)]="releaseorder.PremiumBox.Included"></mat-checkbox>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <input type="number" matInput placeholder="Box" name="premiumBox" [(ngModel)]="releaseorder.PremiumBox.Amount" required #premiumBoxField="ngModel">
                          <mat-error *ngIf="premiumBoxField.errors && premiumBoxField.errors.required">
                            Box Premium Amount is required.
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg col-md-6">
                    <div class="form-row">
                      <div class="col-auto align-self-center">
                        <mat-checkbox name="cBaseColour" [(ngModel)]="releaseorder.PremiumBaseColour.Included"></mat-checkbox>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <input type="number" matInput placeholder="Base Colour" name="premiumBaseColour" [(ngModel)]="releaseorder.PremiumBaseColour.Amount" required #premiumBaseColourField="ngModel">
                          <mat-error *ngIf="premiumBaseColourField.errors && premiumBaseColourField.errors.required">
                            Base Colour Premium Amount is required.
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg col-md-6">
                    <div class="form-row">
                      <div class="col-auto align-self-center">
                        <mat-checkbox name="cCheckMark" [(ngModel)]="releaseorder.PremiumCheckMark.Included"></mat-checkbox>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <input type="number" matInput placeholder="Check Mark" name="premiumCheckMark" [(ngModel)]="releaseorder.PremiumCheckMark.Amount" required #premiumCheckMarkField="ngModel">
                          <mat-error *ngIf="premiumCheckMarkField.errors && premiumCheckMarkField.errors.required">
                            Check Mark Premium Amount is required.
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="form-row">
                  <div class="col-auto align-self-center">
                    <mat-checkbox name="cEmailId" [(ngModel)]="releaseorder.PremiumEmailId.Included"></mat-checkbox>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <input type="number" matInput placeholder="Email" name="premiumEmailId" [(ngModel)]="releaseorder.PremiumEmailId.Amount" required #premiumEmailIdField="ngModel">
                      <mat-error *ngIf="premiumEmailIdField.errors && premiumEmailIdField.errors.required">
                        Email Premium Amount is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <input type="number" matInput placeholder="No. of Emails" name="premiumEmailIdQuantity" [(ngModel)]="releaseorder.PremiumEmailId.Quantity" required #premiumEmailIdQuantityField="ngModel">
                      <mat-error *ngIf="premiumEmailIdQuantityField.errors && premiumEmailIdQuantityField.errors.required">
                        No. of Emails is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-auto align-self-center">
                    <mat-checkbox name="cWebsite" [(ngModel)]="releaseorder.PremiumWebsite.Included"></mat-checkbox>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <input type="number" matInput placeholder="Website" name="premiumWebsite" [(ngModel)]="releaseorder.PremiumWebsite.Amount" required #premiumWebsiteField="ngModel">
                      <mat-error *ngIf="premiumWebsiteField.errors && premiumWebsiteField.errors.required">
                        Website Premium Amount is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <input type="number" matInput placeholder="No. of Websites" name="premiumWebsiteQuantity" [(ngModel)]="releaseorder.PremiumWebsite.Quantity" required #premiumWebsiteQuantityField="ngModel">
                      <mat-error *ngIf="premiumWebsiteQuantityField.errors && premiumWebsiteQuantityField.errors.required">
                        No. of Website is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-auto align-self-center">
                    <mat-checkbox name="cExtraWords" [(ngModel)]="releaseorder.PremiumExtraWords.Included"></mat-checkbox>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <input type="number" matInput placeholder="Extra Words / Lines" name="premiumExtraWords" [(ngModel)]="releaseorder.PremiumExtraWords.Amount" required #premiumExtraWordsField="ngModel">
                      <mat-error *ngIf="premiumExtraWordsField.errors && premiumExtraWordsField.errors.required">
                        Extra Words / Lines Premium Amount is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <input type="number" matInput placeholder="No. of Extra Words / Lines" name="premiumExtraWordsQuantity" [(ngModel)]="releaseorder.PremiumExtraWords.Quantity" required #premiumExtraWordsQuantityField="ngModel">
                      <mat-error *ngIf="premiumExtraWordsQuantityField.errors && premiumExtraWordsQuantityField.errors.required">
                        No. Extra Words / Lines is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!isTypeWords">
                <div class="row">
                  <div class="col">
                    <mat-form-field>
                      <input matInput placeholder="Type" name="premiumType" [(ngModel)]="releaseorder.PremiumCustom.PremiumType" #premiumTypeField="ngModel">
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <input type="number" matInput placeholder="Amount" name="premiumAmount" [(ngModel)]="releaseorder.PremiumCustom.Amount" required #premiumAmountField="ngModel">
                      <span matSuffix>{{releaseorder.PremiumCustom.Percentage ? '%' : ''}}</span>
                      <mat-error *ngIf="premiumAmountField.errors && premiumAmountField.errors.required">
                        Premium Amount is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <mat-checkbox class="my-2" name="premiumPercent" [(ngModel)]="releaseorder.PremiumCustom.Percentage">Amount in Percentage</mat-checkbox><br><br>
              </ng-container>

              <button type="button" mat-raised-button color="primary" (click)="getInsertions()">Insertions *</button>
            </mat-card>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg col-md-6">
            <br>
            <mat-card>
              <mat-card-title>Ad Calculations</mat-card-title>

              <div class="form-row">
                <mat-form-field class="col-lg-3 col-md-6">
                  <input type="number" matInput id="rate" placeholder="Rate" [(ngModel)]="releaseorder.rate" name="rate" required #rateField="ngModel">
                  <mat-error *ngIf="rateField.errors && rateField.errors.required">
                    Rate is required.
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-6"> 
                  <mat-select matInput name="unit" [(ngModel)]="releaseorder.unit" id="unit" #unitField="ngModel" required>
                    <mat-option *ngFor="let item of units" [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-slide-toggle class="col-auto" [(ngModel)]="releaseorder.fixRate" name="fixedRate" *ngIf="isTypeLen && customSize">Fixed Rate</mat-slide-toggle>

                <mat-form-field class="col-lg-4 col-md-6">
                  <input matInput type="number" id="publicationDiscount" name="publicationDiscount" placeholder="Media House Discount" [(ngModel)]="releaseorder.publicationDiscount" required #publicationDiscountField="ngModel">
                  <mat-error *ngIf="publicationDiscountField.errors && publicationDiscountField.errors.required">
                    Media House Discount is required.
                  </mat-error>
                </mat-form-field>
              </div>  
              <div class="form-row">                
                <mat-form-field class="col-6">
                  <input matInput type="number" id="agencyDiscount1" name="agencyDiscount1" placeholder="Agency Discount" [(ngModel)]="releaseorder.agencyDiscount1" required #agencyDiscount1Field="ngModel">
                  <mat-error *ngIf="agencyDiscount1Field.errors && agencyDiscount1Field.errors.required">
                    Agency Discount is required.
                  </mat-error>
                </mat-form-field>
            
                <mat-form-field class="col-6">
                  <input matInput type="number" id="agencyDiscount2" name="agencyDiscount2" placeholder="Additional Agency Discount" [(ngModel)]="releaseorder.agencyDiscount2" required #agencyDiscount2Field="ngModel">
                  <mat-error *ngIf="agencyDiscount2Field.errors && agencyDiscount2Field.errors.required">
                    Additional Agency Discount is required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-row">
                <label class="col-3 col-form-label">Tax</label>
                <div class="col-auto col-form-label">
                  <div class="form-check">
                    <mat-checkbox class="my-2" name="taxIncluded" [(ngModel)]="releaseorder.taxIncluded" >Included</mat-checkbox>
                  </div>
                </div>
                <div class="col">
                  <mat-form-field>
                    <mat-select name="tax" [(ngModel)]="selectedTax" id="tax" #taxField="ngModel" required>
                      <mat-option *ngFor="let item of taxes" [value]="item">{{item.primary || 'NIL'}}<span *ngIf="item.primary">%</span></mat-option>
                    </mat-select>
                    <mat-error *ngIf="taxField.errors && taxField.errors.required">
                      Tax is required.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <label id="add_details">Payment Details</label>

              <div class="row">
                <mat-form-field class="col-lg-6">
                  <mat-select name="paymentType" placeholder="Type" [(ngModel)]="releaseorder.paymentType" id="paymentType" #paymentTypeField="ngModel" required>
                    <mat-option *ngFor="let item of paymentTypes" [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          
              <ng-container *ngIf="releaseorder.paymentType != 'Cash' && releaseorder.paymentType != 'Credit'">
                <div class="row">
                  <mat-form-field  class="col-lg col-md-6">
                    <input matInput [matDatepicker]="paymentDateField" name="paymentDate" placeholder="Date" [(ngModel)]="releaseorder.paymentDate" required disabled>
                    <mat-datepicker-toggle matSuffix [for]="paymentDateField"></mat-datepicker-toggle>
                    <mat-datepicker #paymentDateField disabled="false"></mat-datepicker>
                    <mat-error *ngIf="paymentDateField.errors && paymentDateField.errors.required">
                      Date is required.
                    </mat-error>
                  </mat-form-field>
            
                  <mat-form-field  class="col-lg col-md-6">
                    <input matInput type="text" id="paymentCheque" name="paymentCheque" placeholder="No" [(ngModel)]="releaseorder.paymentNo" required #paymentChequeField="ngModel">
                    <mat-error *ngIf="paymentChequeField.errors && paymentChequeField.errors.required">
                      No is required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-lg col-md-6 small">
                    <span class="text-muted">Amount</span><br>
                    ₹ {{clientPayment}}
                  </div>
            
                  <ng-container *ngIf="releaseorder.paymentType == 'Cheque'">
                    <mat-form-field  class="col-lg col-md-6">
                      <input type="text" matInput id="bankName" name="bankName" placeholder="Bank Name" [(ngModel)]="releaseorder.paymentBankName" required #bankNameField="ngModel">
                      <mat-error *ngIf="bankNameField.errors && bankNameField.errors.required">
                        Bank Name is required.
                      </mat-error>
                    </mat-form-field>
                  </ng-container>
                </div>
              </ng-container>
            </mat-card>
          </div>

          <div class="col-lg col-md-6">
            <br>
            <mat-card>
              <mat-card-title>Additional Details (for Agency use)</mat-card-title>
              <p>Other Charges</p>

              <div class="text-muted" *ngIf="releaseorder.otherCharges.length == 0">
                No Other Charges
              </div>

              <div *ngFor="let item of releaseorder.otherCharges; index as i" class="mb-1">
                <div class="form-row">
                  <div class="col">
                    <mat-form-field>
                      <input matInput placeholder="Type" name="otherChargesType-{{i}}" [(ngModel)]="item.chargeType" required #otherChargesTypeField="ngModel">
                      <mat-error *ngIf="otherChargesTypeField.errors && otherChargesTypeField.errors.required">
                        Type is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <input type="number" matInput placeholder="Amount" name="otherCharges-{{i}}" [(ngModel)]="item.amount" required #otherChargesField="ngModel">
                      <mat-error *ngIf="otherChargesField.errors && otherChargesField.errors.required">
                        Amount is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-auto col-form-label">
                    <button mat-icon-button color="warn" type="button" (click)="removeOtherCharge(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              
              <div class="mt-2 mb-4">
                <button mat-raised-button type="button" color="primary" (click)="addCharges()">Add More</button>
              </div>
              
              <div class="form-row">
                <div class="col">
                  <div class="form-row">
                    <div class="col-6">
                      <mat-form-field>
                        <input [disabled]="edit" type="text" matInput [ngbTypeahead]="searchExecutive" id="executiveName" placeholder="Executive Name" [(ngModel)]="executive" name="executiveName" required #executiveNameField="ngModel" [resultFormatter]="executiveResultFormatter" [inputFormatter]="executiveInputFormatter">
                        <mat-error *ngIf="executiveNameField.errors && executiveNameField.errors.required">
                          Executive Name is required.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field>
                        <input [disabled]="edit" type="text" matInput id="executiveOrg" placeholder="Executive Organisation" [(ngModel)]="releaseorder.executiveOrg" name="executiveOrg" required #executiveOrgField="ngModel">
                        <mat-error *ngIf="executiveOrgField.errors && executiveOrgField.errors.required">
                          Executive Organisation is required.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="col-auto">
                  <button *ngIf="!edit" mat-raised-button type="button" color="primary" (click)="addExecutive()">Add to Directory</button>
                </div>
              </div>
              
              <br>
              <mat-form-field hintLabel="Max 100 characters">
                <input matInput placeholder="Remark" maxlength="100" name="otherRemark" [(ngModel)]="releaseorder.otherRemark">
                <mat-hint align="end">{{releaseorder.otherRemark?.length || 0}}/100</mat-hint>
              </mat-form-field>
            </mat-card>
          </div>
        </div>

        <br><br>

        <button type="button" (click)="save()" class="btn btn-success" [disabled]="submitting || !roForm.form.valid">Save</button>
        <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
        <button type="button" (click)="genPreview()"  class="btn btn-primary" [disabled]="submitting || !roForm.form.valid">Preview</button>
        <button type="button" class="btn btn-success" (click)="saveAndGen()" [disabled]="submitting || !roForm.form.valid">Download</button>
        <button type="button" class="btn btn-primary" (click)="saveAndSendMsg()" [disabled]="submitting || !roForm.form.valid">Send Email</button>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>