<br>

<div class="container">
  <button class="btn btn-outline-info" routerLink="../categories">Ad Categories</button>
  <button class="btn btn-outline-primary" routerLink="../media_houses">Global Media Houses</button>
  <button class="btn btn-outline-primary" routerLink="../ratecards">Global Rate Cards</button>
  <button class="btn btn-outline-info" routerLink="../admins">Admins</button>
  <button class="btn btn-outline-primary" routerLink="../tickets">Tickets</button>
  <button class="btn btn-outline-info" routerLink="../notify">Send Notification</button>
  <button class="btn btn-outline-primary" routerLink="../import-export">Import / Export</button>
</div>
