<br>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-3 mat-elevation-z1">
        <div class="card-body">
          <div class="row">
            <div class="col-auto text-primary mr-5">
              <mat-icon style="font-size: 300%">business_center</mat-icon>
            </div>
            <div class="col">
              <h5>Firms</h5>
              <p>To manage Firms and set their statuses.</p>
            </div>
            <div class="col-auto align-self-end">
              <a class="btn btn-outline-info col-auto mr-3" routerLink="../firms">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3 mat-elevation-z1">
        <div class="card-body">
          <div class="row">
            <div class="col-auto text-primary mr-5">
              <mat-icon style="font-size: 300%">assignment</mat-icon>
            </div>
            <div class="col">
              <h5>Categories</h5>
              <p>To manage Ad Categories.</p>
            </div>
            <div class="col-auto align-self-end">
              <a class="btn btn-outline-info col-auto mr-3" routerLink="../categories">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3 mat-elevation-z1">
        <div class="card-body">
          <div class="row">
            <div class="col-auto text-primary mr-5">
              <mat-icon style="font-size: 300%">assignment</mat-icon>
            </div>
            <div class="col">
              <h5>Global Media Houses</h5>
              <p>To manage Global Media Houses.</p>
            </div>
            <div class="col-auto align-self-end">
              <a class="btn btn-outline-info col-auto mr-3" routerLink="../media_houses">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3 mat-elevation-z1">
        <div class="card-body">
          <div class="row">
            <div class="col-auto text-primary mr-5">
              <mat-icon style="font-size: 300%">assignment</mat-icon>
            </div>
            <div class="col">
              <h5>Global Rate Cards</h5>
              <p>To manage Global Rate Cards.</p>
            </div>
            <div class="col-auto align-self-end">
              <a class="btn btn-outline-info col-auto mr-3" routerLink="../ratecards">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3 mat-elevation-z1">
        <div class="card-body">
          <div class="row">
            <div class="col-auto text-primary mr-5">
              <mat-icon style="font-size: 300%">group</mat-icon>
            </div>
            <div class="col">
              <h5>Admins</h5>
              <p>To manage Admins.</p>
            </div>
            <div class="col-auto align-self-end">
              <a class="btn btn-outline-info col-auto mr-3" routerLink="../admins">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3 mat-elevation-z1">
        <div class="card-body">
          <div class="row">
            <div class="col-auto text-primary mr-5">
              <mat-icon style="font-size: 300%">assignment</mat-icon>
            </div>
            <div class="col">
              <h5>Tickets</h5>
              <p>To manage Tickets.</p>
            </div>
            <div class="col-auto align-self-end">
              <a class="btn btn-outline-info col-auto mr-3" routerLink="../tickets">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3 mat-elevation-z1">
        <div class="card-body">
          <div class="row">
            <div class="col-auto text-primary mr-5">
              <mat-icon style="font-size: 300%">notifications</mat-icon>
            </div>
            <div class="col">
              <h5>Send Notification</h5>
              <p>To send notifications.</p>
            </div>
            <div class="col-auto align-self-end">
              <a class="btn btn-outline-info col-auto mr-3" routerLink="../notify">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3 mat-elevation-z1">
        <div class="card-body">
          <div class="row">
            <div class="col-auto text-primary mr-5">
              <mat-icon style="font-size: 300%">import_export</mat-icon>
            </div>
            <div class="col">
              <h5>Import / Export</h5>
              <p>To import/export global directory.</p>
            </div>
            <div class="col-auto align-self-end">
              <a class="btn btn-outline-info col-auto mr-3" routerLink="../import-export">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>