<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Edit Firm Profile</h1>
  </div>
</div>

<div class="container">
  <form (ngSubmit)="submit()" #profileForm="ngForm">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-muted">Business Details</h3>
        <br>
      
        <div class="form-group">
          <label for="firmName">Firm Name</label>
          <input type="text" class="form-control" id="firmName" name="firmName" placeholder="Enter Firm Name" [(ngModel)]="profile.name" required #firmNameField="ngModel">
        </div>
      
        <div *ngIf="firmNameField.invalid && (firmNameField.dirty || firmNameField.touched)" class="text-danger">
          <div *ngIf="firmNameField.errors.required">
            Firm Name is required.
          </div>
          <br>
        </div>
      
        <div class="form-group">
          <label for="tagline">Tag Line</label>
          <input type="text" class="form-control" id="tagline" name="tagline" placeholder="Enter Tagline" [(ngModel)]="profile.tagline" #taglineField="ngModel">
        </div>
      
        <div class="form-group">
          <label for="nickname">Display / Nickname</label>
          <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Enter Nickname" [(ngModel)]="profile.nickname" #nicknameField="ngModel">
        </div>
              
        <h3 class="my-5 text-muted">Registered Address</h3>

        <div class="form-group">
          <input type="text" class="form-control" id="registeredAddress" name="registeredAddress" placeholder="Enter Registered Address" [(ngModel)]="profile.registeredAddress.address" required #registeredAddressField="ngModel">
        </div>
      
        <div *ngIf="registeredAddressField.invalid && (registeredAddressField.dirty || registeredAddressField.touched)" class="text-danger">
          <div *ngIf="registeredAddressField.errors.required">
              Registered Address is required.
          </div>
          <br>
        </div>
      
        <div class="form-group">
          <label for="registeredCity">City</label>
          <input type="text" class="form-control" id="registeredCity" name="registeredCity" placeholder="Enter City" [(ngModel)]="profile.registeredAddress.city" required #registeredCityField="ngModel">
        </div>
      
        <div *ngIf="registeredCityField.invalid && (registeredCityField.dirty || registeredCityField.touched)" class="text-danger">
          <div *ngIf="registeredCityField.errors.required">
            City is required.
          </div>
          <br>
        </div>
      
        <div class="form-group">
          <label for="registeredState">State</label>
          <select class="form-control" id="registeredState" name="registeredState" [(ngModel)]="profile.registeredAddress.state" required #registeredStateField="ngModel">
            <option *ngFor="let state of stateApi.states" [value]="state">{{state}}</option>
          </select>
        </div>
      
        <div *ngIf="registeredStateField.invalid && (registeredStateField.dirty || registeredStateField.touched)" class="text-danger">
          <div *ngIf="registeredStateField.errors.required">
            State is required.
          </div>
          <br>
        </div>

        <h3 class="my-5 text-muted">Office Address</h3>

        <button type="button" class="btn btn-warning btn-sm" (click)="copyAddress()">Copy from Above</button>
        <br><br>

        <div class="form-group">
          <input type="text" class="form-control" id="officeAddress" name="officeAddress" placeholder="Enter Office Address" [(ngModel)]="profile.officeAddress.address" #officeAddressField="ngModel">
        </div>
      
        <div class="form-group">
          <label for="officeCity">City</label>
          <input type="text" class="form-control" id="officeCity" name="officeCity" placeholder="Enter City" [(ngModel)]="profile.officeAddress.city" #officeCityField="ngModel">
        </div>
      
        <div class="form-group">
          <label for="officeState">State</label>
          <select class="form-control" id="officeState" name="officeState" [(ngModel)]="profile.officeAddress.state" #officeStateField="ngModel">
            <option *ngFor="let state of stateApi.states" [value]="state">{{state}}</option>
          </select>
        </div>

        <br><br><br>
      
        <div class="form-group">
          <label for="incDate">Incorporation Date</label>
          <input type="date" class="form-control" id="incDate" name="incDate" placeholder="Enter Incorporation Date" [(ngModel)]="profile.incDate" #incDateField="ngModel">
        </div>
    
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" [(ngModel)]="profile.email" required #emailField="ngModel" email>
        </div>
      
        <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="text-danger">
          <div *ngIf="emailField.errors.required">
            Email is required.
          </div>
          <div *ngIf="!emailField.errors.required && emailField.errors.email">
            Invalid Email.
          </div>
          <br>
        </div>
    
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="tel" [(ngModel)]="profile.phone" required class="form-control" id="phone" name="phone" placeholder="Enter phone number" #phoneField="ngModel">
        </div>
    
        <div *ngIf="phoneField.invalid && (phoneField.dirty || phoneField.touched)" class="text-danger">
          <div *ngIf="phoneField.errors.required">
            Phone Number is empty or invalid.
          </div>
          <br>
        </div>
      
        <div class="form-group">
          <label for="landlineNo">Landline Number</label>
          <input type="number" class="form-control" id="landlineNo" name="landlineNo" placeholder="Enter Landline Number" [(ngModel)]="profile.landlineNo" #landlineNoField="ngModel">
        </div>
      
        <div class="form-group">
          <label for="fax">Fax</label>
          <input type="number" class="form-control" id="fax" name="fax" placeholder="Enter Fax" [(ngModel)]="profile.fax" #faxField="ngModel">
        </div>
      
        <div class="form-group">
          <label for="website">Website</label>
          <input type="text" class="form-control" id="website" name="website" placeholder="Enter Website" [(ngModel)]="profile.website" #websiteField="ngModel">
        </div>
      
        <div class="form-group">
          <label for="panNo">PAN Number</label>
          <input type="text" class="form-control" id="panNo" name="panNo" placeholder="Enter PAN Number" [(ngModel)]="profile.panNo" minlength="10" maxlength="10" required #panNoField="ngModel">
        </div>
      
        <div *ngIf="panNoField.invalid && (panNoField.dirty || panNoField.touched)" class="text-danger">
          <div *ngIf="panNoField.errors.required">
            PAN Number is required.
          </div>
          <div *ngIf="panNoField.errors.minlength || panNoField.errors.maxlength">
            PAN Number should be 10 characters long.
          </div>
          <br>
        </div>
      
        <div class="form-group">
          <label for="gstNo">GSTIN</label>
          <input type="text" class="form-control" id="gstNo" name="gstNo" placeholder="Enter GST Number" [(ngModel)]="profile.gstNo" required minlength="15" maxlength="15" #gstNoField="ngModel">
        </div>
      
        <div *ngIf="gstNoField.invalid && (gstNoField.dirty || gstNoField.touched)" class="text-danger">
          <div *ngIf="gstNoField.errors.required">
            GSTIN is required.
          </div>
          <div *ngIf="gstNoField.errors.minlength || gstNoField.errors.maxlength">
            GSTIN should be 15 characters long.
          </div>
          <br>
        </div> 
        
        <br><br>
      </div>

      <div class="col-md-5 offset-md-1">
        <h3 class="text-muted">Bank Account Details</h3>

        <br>
      
        <div class="form-group">
          <label for="bankAccountName">Account Name</label>
          <input type="text" class="form-control" id="bankAccountName" name="bankAccountName" placeholder="Enter Bank Account Name" [(ngModel)]="profile.bankAccountName" required #bankAccountNameField="ngModel">
        </div>
      
        <div *ngIf="bankAccountNameField.invalid && (bankAccountNameField.dirty || bankAccountNameField.touched)" class="text-danger">
          <div *ngIf="bankAccountNameField.errors.required">
            Account Name is required.
          </div>
          <br>
        </div>
      
        <div class="form-group">
          <label for="bankAccountNo">Account Number</label>
          <input type="number" class="form-control" id="bankAccountNo" name="bankAccountNo" placeholder="Enter Bank Account NUmber" [(ngModel)]="profile.bankAccountNo" required #bankAccountNoField="ngModel">
        </div>
      
        <div *ngIf="bankAccountNoField.invalid && (bankAccountNoField.dirty || bankAccountNoField.touched)" class="text-danger">
          <div *ngIf="bankAccountNoField.errors.required">
            Account Number is empty or invalid.
          </div>
          <br>
        </div>
      
        <div class="form-group">
          <label for="bankIfsc">IFSC</label>
          <input type="text" class="form-control" id="bankIfsc" name="bankIfsc" placeholder="Enter Bank IFSC" [(ngModel)]="profile.bankIfsc" required minlength="11" maxlength="11" #bankIfscField="ngModel" (input)="ifscChanged()">
        </div>
      
        <div *ngIf="bankIfscField.invalid && (bankIfscField.dirty || bankIfscField.touched)" class="text-danger">
          <div *ngIf="bankIfscField.errors.required">
            IFSC is required.
          </div>
          <div *ngIf="bankIfscField.errors.minlength || bankIfscField.errors.maxlength">
            IFSC should have 11 characters.
          </div>
          <br>
        </div>
      
        <div class="form-group">
          <label for="bankName">Bank Name</label>
          <input type="text" class="form-control" id="bankName" name="bankName" placeholder="Enter Bank Name" [(ngModel)]="profile.bankName" required #bankNameField="ngModel">
        </div>
      
        <div *ngIf="bankNameField.invalid && (bankNameField.dirty || bankNameField.touched)" class="text-danger">
          <div *ngIf="bankNameField.errors.required">
            Bank Name is required.
          </div>
          <br>
        </div>
      
        <div class="form-group">
          <label for="bankBranchAddress">Bank Branch Address</label>
          <input type="text" class="form-control" id="bankBranchAddress" name="bankBranchAddress" placeholder="Enter Bank Branch Address" [(ngModel)]="profile.bankBranchAddress" required #bankBranchAddressField="ngModel">
        </div>
      
        <div *ngIf="bankBranchAddressField.invalid && (bankBranchAddressField.dirty || bankBranchAddressField.touched)" class="text-danger">
          <div *ngIf="bankBranchAddressField.errors.required">
            Bank Branch Address is required.
          </div>
          <br>
        </div>
      
        <div class="form-group">
          <label for="bankAccountType">Bank Account Type</label>
          <select class="form-control" id="bankAccountType" name="bankAccountType" [(ngModel)]="profile.bankAccountType">
            <option value="Current">Current</option>
            <option value="Savings">Savings</option>
          </select>
        </div>
        
        <br><br>
        
        <h3 class="text-muted">Social</h3>

        <br>
      
        <div class="form-group">
          <label for="nickname">Facebook</label>
          <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Enter Facebook Link" [(ngModel)]="profile.facebook" #facebookField="ngModel">
        </div>
      
        <div class="form-group">
          <label for="nickname">Twitter</label>
          <input type="text" class="form-control" id="twitter" name="twitter" placeholder="Enter Twitter Link" [(ngModel)]="profile.twitter" #twitterField="ngModel">
        </div>
      
        <div class="form-group">
          <label for="nickname">Others</label>
          <input type="text" class="form-control" id="others" name="others" placeholder="Enter other social Link" [(ngModel)]="profile.other" #otherField="ngModel">
        </div>
      </div>
    </div>

    <br>
  
    <div *ngIf="error">
      <ngb-alert type="danger" (close)="error = null">{{ error }}</ngb-alert>
      
      <br>
    </div>
  
    <button type="submit" class="btn btn-success" [disabled]="!profileForm.form.valid">Save</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>

    <br><br><br>
  </form>
</div>