<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Edit Firm Profile</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <form (ngSubmit)="submit()" #profileForm="ngForm">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Bank Account Details</mat-panel-title>
          <mat-panel-description>Enter Bank Account Details</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="form-row">
          <div class="col">
            <mat-form-field>
              <input matInput [disabled]="!bankDetailsEdit" type="text" name="bankAccountName" placeholder="Bank Account Name" [(ngModel)]="profile.bankAccountName" required #bankAccountNameField="ngModel">
              <mat-error *ngIf="bankAccountNameField.errors && bankAccountNameField.errors.required">
                Account Name is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-auto align-self-center">
            <button class="btn btn-sm btn-outline-info" type="button" (click)="profile.bankAccountName = profile.name">Copy Firm Name</button>
          </div>
        </div>
      
        <mat-form-field>
          <input matInput [disabled]="!bankDetailsEdit" type="text" name="bankAccountNo" placeholder="Bank Account Number" [(ngModel)]="profile.bankAccountNo" required #bankAccountNoField="ngModel">
          <mat-error *ngIf="bankAccountNoField.errors && bankAccountNoField.errors.required">
            Account Number is required.
          </mat-error>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput [disabled]="!bankDetailsEdit" type="text" name="bankIfsc" placeholder="Bank IFSC" [(ngModel)]="profile.bankIfsc" required minlength="11" maxlength="11" #bankIfscField="ngModel" (input)="ifscChanged()">
          <mat-error *ngIf="bankIfscField.errors && bankIfscField.errors.required">
            IFSC is required.
          </mat-error>
          <mat-error *ngIf="bankIfscField.errors && (bankIfscField.errors.minlength || bankIfscField.errors.maxlength)">
            IFSC should be 11 characters long.
          </mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput [disabled]="!bankDetailsEdit" type="text" name="bankName" placeholder="Bank Name" [(ngModel)]="profile.bankName" required #bankNameField="ngModel">
          <mat-error *ngIf="bankNameField.errors && bankNameField.errors.required">
            Bank Name is required.
          </mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput [disabled]="!bankDetailsEdit" type="text" name="bankBranchAddress" placeholder="Bank Branch Address" [(ngModel)]="profile.bankBranchAddress" required #bankBranchAddressField="ngModel">
          <mat-error *ngIf="bankBranchAddressField.errors && bankBranchAddressField.errors.required">
            Bank Branch Address is required.
          </mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select [disabled]="!bankDetailsEdit" placeholder="Bank Account Type" name="bankAccountType" [(ngModel)]="profile.bankAccountType">
            <mat-option value="Current">Current</mat-option>
            <mat-option value="Savings">Savings</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Social Details</mat-panel-title>
          <mat-panel-description>Enter Social Details</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput [disabled]="!socialDetailsEdit" type="text" name="facebook" placeholder="Facebook Link" [(ngModel)]="profile.facebook" #facebookField="ngModel">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput [disabled]="!socialDetailsEdit" type="text" name="twitter" placeholder="Twitter Link" [(ngModel)]="profile.twitter" #twitterField="ngModel">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput [disabled]="!socialDetailsEdit" type="text" name="others" placeholder="Other social Link" [(ngModel)]="profile.other" #otherField="ngModel">
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>

    <br><br>
  
    <button type="submit" class="btn btn-success" [disabled]="!profileForm.form.valid">Save</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>

    <br><br><br>
  </form>
</div>