<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Forgot Password</h1>
    <p class="lead">A password reset email will be sent to your email account.</p>
  </div>
</div>

<div class="container">
  <form (ngSubmit)="submit()" #forgotPswForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Email Address" [(ngModel)]="email" name="email" required verify-email #emailField="ngModel">
      <mat-error *ngIf="emailField.errors && emailField.errors.required">
        Email is required.
      </mat-error>
      <mat-error *ngIf="emailField.errors && emailField.errors.email">
        Invalid Email.
      </mat-error>
    </mat-form-field>

    <br><br>
    <button class="btn btn-success" [disabled]="!forgotPswForm.form.valid">Send</button>
  </form>
</div>