<form (ngSubmit)="submit()" #dirForm="ngForm">
  <div class="row">
    <div class="col-md">
      <h2 *ngIf="edit">Edit Media House</h2>
      <h2 *ngIf="!edit">Add Media House</h2>
      <br>

      <div class="form-group">
        <label for="orgName">Organisation Name</label>
        <input type="text" class="form-control" id="orgName" name="orgName" placeholder="Enter Organisation Name" [(ngModel)]="mediaHouse.orgName" required #orgNameField="ngModel">
      </div>
    
      <div *ngIf="orgNameField.invalid && (orgNameField.dirty || orgNameField.touched)" class="text-danger">
        <div *ngIf="orgNameField.errors.required">
          Organisation Name is required.
        </div>
        <br>
      </div>
    
      <div class="form-group">
        <label for="pubName">Publication Name</label>
        <input type="text" class="form-control" id="pubName" name="pubName" placeholder="Enter Publication Name" [(ngModel)]="mediaHouse.pubName" required #pubNameField="ngModel">
      </div>
    
      <div *ngIf="pubNameField.invalid && (pubNameField.dirty || pubNameField.touched)" class="text-danger">
        <div *ngIf="pubNameField.errors.required">
          Publication Name is required.
        </div>
        <br>
      </div>
        
      <div class="form-group">
        <label for="nickName">Nick Name</label>
        <input type="text" class="form-control" id="nickName" name="nickName" placeholder="Enter Nick Name" [(ngModel)]="mediaHouse.nickName" #nickNameField="ngModel">
      </div>
    
      <div class="form-group">
        <label for="mediaType">Media Type</label>
        <select class="form-control" id="mediaType" name="mediaType" [(ngModel)]="mediaHouse.mediaType" required #mediaTypeField="ngModel">
          <option>Print</option>
          <option>Air</option>
          <option>Electronic</option>
        </select>
      </div>
    
      <div *ngIf="mediaTypeField.invalid && (mediaTypeField.dirty || mediaTypeField.touched)" class="text-danger">
        <div *ngIf="mediaTypeField.errors.required">
          Media type is required.
        </div>
        <br>
      </div>

      <div class="form-group">
        <label for="gstNo">GSTIN</label>
        <input type="text" class="form-control" id="gstNo" name="gstNo" placeholder="Enter GST Number" [(ngModel)]="mediaHouse.GSTIN" required minlength="15" maxlength="15" #gstNoField="ngModel">
      </div>
    
      <div *ngIf="gstNoField.invalid && (gstNoField.dirty || gstNoField.touched)" class="text-danger">
        <div *ngIf="gstNoField.errors.required">
          GSTIN is required.
        </div>
        <div *ngIf="gstNoField.errors.minlength || gstNoField.errors.maxlength">
          GSTIN should be 15 characters long.
        </div>
        <br>
      </div>
    
      <div class="form-group">
        <label for="officeLandLine">Office Landline</label>
        <input type="text" class="form-control" id="officeLandLine" name="officeLandLine" placeholder="Enter Office Landline Number" [(ngModel)]="mediaHouse.officeLandLine" #officeLandLineField="ngModel">
      </div>
    
      <br>

      <h3 class="mb-3">Address</h3>
    
      <div class="form-group">
        <input type="text" class="form-control" id="address" name="address" placeholder="Enter Address" [(ngModel)]="mediaHouse.address.address" required #addressField="ngModel">
      </div>
    
      <div *ngIf="addressField.invalid && (addressField.dirty || addressField.touched)" class="text-danger">
        <div *ngIf="addressField.errors.required">
          Address is required.
        </div>
        <br>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="Enter City" [(ngModel)]="mediaHouse.address.city" required #cityField="ngModel">
      </div>
    
      <div *ngIf="cityField.invalid && (cityField.dirty || cityField.touched)" class="text-danger">
        <div *ngIf="cityField.errors.required">
          City is required.
        </div>
        <br>
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <select class="form-control" id="state" name="state" [(ngModel)]="mediaHouse.address.state" required #stateField="ngModel">
          <option *ngFor="let state of stateApi.states" [value]="state">{{state}}</option>
        </select>
      </div>
    
      <div *ngIf="stateField.invalid && (stateField.dirty || stateField.touched)" class="text-danger">
        <div *ngIf="stateField.errors.required">
          State is required.
        </div>
        <br>
      </div>

      <div class="form-group">
        <label for="edition">Edition</label>
        <input type="text" class="form-control" id="edition" name="edition" placeholder="Enter Edition" [(ngModel)]="mediaHouse.address.edition" required #editionField="ngModel">
      </div>
    
      <div *ngIf="editionField.invalid && (editionField.dirty || editionField.touched)" class="text-danger">
        <div *ngIf="editionField.errors.required">
          Edition is required.
        </div>
        <br>
      </div>

      <br>
    </div>
    <div class="col-md">
      <br>

      <div class="row">
        <div class="col">
          <h4>Scheduling ({{mediaHouse.scheduling.length}})</h4>
        </div>
        <div class="col-auto">
          <button type="button" (click)="addScheduling()" class="btn btn-outline-info"><span class="fa fa-plus"></span></button>
        </div>
      </div>
      
      <br><br>

      <div *ngFor="let item of mediaHouse.scheduling; index as i" class="card mb-4">
        <div class="card-header">
          <button class="btn btn-outline-danger float-right" type="button" (click)="removeScheduling(i)"><span class="fa fa-trash-alt"></span></button>
          #{{i + 1}}
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="person">Person</label>
            <input type="text" class="form-control" id="person-{{i}}" name="s-{{i}}-person" placeholder="Enter Person" [(ngModel)]="item.person" required #personField="ngModel">
          </div>

          <div *ngIf="personField.invalid && (personField.dirty || personField.touched)" class="text-danger">
            <div *ngIf="personField.errors.required">
              Person is required.
            </div>
            <br>
          </div>

          <div class="form-group">
            <label for="designation">Designation</label>
            <input type="text" class="form-control" id="designation-{{i}}" name="s-{{i}}-designation" placeholder="Enter Designation" [(ngModel)]="item.designation" #designationField="ngModel">
          </div>

          <div class="form-group">
            <label for="mobileNo">Mobile Number</label>
            <input type="text" class="form-control" id="mobileNo-{{i}}" name="s-{{i}}-mobileNo" placeholder="Enter Mobile Number" [(ngModel)]="item.mobileNo" required #mobileNoField="ngModel">
          </div>

          <div *ngIf="mobileNoField.invalid && (mobileNoField.dirty || mobileNoField.touched)" class="text-danger">
            <div *ngIf="mobileNoField.errors.required">
              Mobile Number is required.
            </div>
            <br>
          </div>

          <div class="form-group">
            <label for="deskExtension">Desk Extension</label>
            <input type="text" class="form-control" id="deskExtension-{{i}}" name="s-{{i}}-deskExtension" placeholder="Enter Desk Extension" [(ngModel)]="item.deskExtension" #deskExtensionField="ngModel">
          </div>

          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email-{{i}}" name="s-{{i}}-email" placeholder="Enter email" [(ngModel)]="item.email" required #emailField="ngModel" email>
          </div>

          <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="text-danger">
            <div *ngIf="emailField.errors.required">
              Email is required.
            </div>
            <div *ngIf="!emailField.errors.required && emailField.errors.email">
              Invalid Email.
            </div>
            <br>
          </div>

          <!-- Assign Ad Type, Assign Edition -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="error" class="text-danger">
    {{error}}
    
    <br><br>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!dirForm.form.valid">Save</button>
  <button class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>