<div class="form-row">
  <div class="col-lg col-md-6">
    <mat-form-field>
      <mat-select name="release_order" placeholder="Release Order" [(ngModel)]="roles.release_order">
        <mat-option [value]="0">Block</mat-option>
        <mat-option [value]="1">View</mat-option>
        <mat-option [value]="2">Create</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg col-md-6">
    <mat-form-field>
      <mat-select name="invoice" placeholder="Invoice" [(ngModel)]="roles.invoice">
        <mat-option [value]="0">Block</mat-option>
        <mat-option [value]="1">View</mat-option>
        <mat-option [value]="2">Create</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg col-md-6">
    <mat-form-field>
      <mat-select name="payment_receipts" placeholder="Payment Receipts" [(ngModel)]="roles.payment_receipts">
        <mat-option [value]="0">Block</mat-option>
        <mat-option [value]="1">View</mat-option>
        <mat-option [value]="2">Create</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg col-md-6">
    <mat-form-field>
      <mat-select name="accounts" placeholder="Accounts" [(ngModel)]="roles.accounts">
        <mat-option [value]="0">Block</mat-option>
        <mat-option [value]="1">View</mat-option>
        <mat-option [value]="2">Create</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>