<div class="row">
  <div class="col-lg col-md-6">
    <div class="form-group">
      <label>Release Order</label>
    
      <select class="form-control" name="release_order" [(ngModel)]="roles.release_order">
        <option [value]="0">Block</option>
        <option [value]="1">View</option>
        <option [value]="2">Create</option>      
      </select>
    </div>
  </div>
  <div class="col-lg col-md-6">
    <div class="form-group">
      <label>Invoice</label>
    
      <select class="form-control" name="invoice" [(ngModel)]="roles.invoice">
        <option [value]="0">Block</option>
        <option [value]="1">View</option>
        <option [value]="2">Create</option>      
      </select>
    </div>
  </div>
  <div class="col-lg col-md-6">
    <div class="form-group">
      <label>Payment Receipts</label>
    
      <select class="form-control" name="payment_receipts" [(ngModel)]="roles.payment_receipts">
        <option [value]="0">Block</option>
        <option [value]="1">View</option>
        <option [value]="2">Create</option>      
      </select>
    </div>
  </div>
  <div class="col-lg col-md-6">
    <div class="form-group">
      <label>Accounts</label>
    
      <select class="form-control" name="accounts" [(ngModel)]="roles.accounts">
        <option [value]="0">Block</option>
        <option [value]="1">View</option>
        <option [value]="2">Create</option>      
      </select>
    </div>
  </div>
</div>