<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container" *ngIf="!edit">Create Rate Card</div>
    <div class="container" *ngIf="edit">Edit Rate Card</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <form (ngSubmit)="submit()" #rateCardForm="ngForm">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Booking Center</mat-panel-title>
          <mat-panel-description>Enter Booking Center</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="form-group">
          <label>Media House Name</label>
          <input type="text" class="form-control" [ngbTypeahead]="searchMediaHouse" id="mediaHouseName" placeholder="Enter Media House Name" [(ngModel)]="mediaHouse" name="mediaHouseName" required #mediaHouseNameField="ngModel" [resultFormatter]="mediaHouseResultFormatter" [inputFormatter]="mediaHouseInputFormatter">
        </div>
  
        <div *ngIf="mediaHouseNameField.invalid && (mediaHouseNameField.dirty || mediaHouseNameField.touched)" class="text-danger">
          <div *ngIf="mediaHouseNameField.errors.required">
            Media House Name is required.
          </div>
          <br>
        </div>

        <div class="form-group">
          <label>Edition</label>
          <input type="text" class="form-control" id="bookingEdition" [ngbTypeahead]="searchEdition" placeholder="Enter Edition" [(ngModel)]="edition" name="bookingEdition" required #bookingEditionField="ngModel" [resultFormatter]="editionResultFormatter" [inputFormatter]="editionInputFormatter">
        </div>
  
        <div *ngIf="bookingEditionField.invalid && (bookingEditionField.dirty || bookingEditionField.touched)" class="text-danger">
          <div *ngIf="bookingEditionField.errors.required">
            Booking Edition is required.
          </div>
          <br>
        </div>

        <ng-container *ngIf="mediaType == 'Print'">
          <label>Pullout Name</label>

          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <select class="form-control" name="pullOutName" [(ngModel)]="dropdownPullOutName" id="pullOutName" #pullOutNameField="ngModel" required>
                    <option *ngFor="let item of pullouts" [ngValue]="item.name">{{item.name}}</option>
                  <option>{{others}}</option>
                </select>
              </div>
        
              <div *ngIf="pullOutNameField.invalid && (pullOutNameField.dirty || pullOutNameField.touched)" class="text-danger">
                <div *ngIf="pullOutNameField.errors.required">
                  Pullout Name is required.
                </div>
                <br>
              </div>
            </div>
            <div class="col" *ngIf="dropdownPullOutName == others">
              <div class="form-group">
                <input type="text" class="form-control" id="specPullOutName" placeholder="Enter Pullout Name" [(ngModel)]="customPullOutName" required name="specPullOutName" #specPullOutNameField="ngModel">
              </div>
        
              <div *ngIf="specPullOutNameField.invalid && (specPullOutNameField.dirty || specPullOutNameField.touched)" class="text-danger">
                <div *ngIf="specPullOutNameField.errors.required">
                  Pullout Name is required.
                </div>
                <br>
              </div>
            </div>
          </div>
        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Type and Categories</mat-panel-title>
          <mat-panel-description>Enter Type and Categories</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="form-row">    
          <div class="col-md">
            <div class="form-group">
              <label>Media Type</label>
              <select class="form-control" name="mediaType" [(ngModel)]="mediaType" id="mediaType" #mediaTypeField="ngModel" required>
                <option *ngFor="let item of mediaTypes" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <label>Ad Type</label>
              <select class="form-control" name="adType" [(ngModel)]="rateCard.adType" id="adType" #adTypeField="ngModel" required>
                <option *ngFor="let item of adTypes" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
          <!-- Will be used in future -->
          <div class="col-md" *ngIf="false">
            <div class="form-group">
              <label>Rate Card Type</label>
              <select class="form-control" name="rateCardType" [(ngModel)]="rateCard.rateCardType" id="rateCardType" #rateCardTypeField="ngModel" required>
                <option *ngFor="let item of rateCardTypes" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
        </div>

        <br>

        <h4>Categories</h4>
        <br>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <mat-icon>search</mat-icon>
            </span>
          </div>
          <input id="search" name="search" type="text" class="form-control" [(ngModel)]="query" [ngbTypeahead]="searchCategories" placeholder="Search Categories" [resultFormatter]="categoryResultFormatter" [inputFormatter]="categoryInputFormatter" />
        </div>

        <br>

        <div class="form-row">
          <div class="form-group col">
            <select class="form-control" name="category1" [(ngModel)]="category1" id="category1" required #category1Field="ngModel">
              <option *ngFor="let item of categories" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>

          <div class="w-100 d-block d-sm-none"></div>

          <div class="form-group col" *ngIf="category1 && category1.subcategories.length">
            <select class="form-control" name="category2" [(ngModel)]="category2" id="category2">
              <option *ngFor="let item of category1.subcategories" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>

          <div class="w-100 d-block d-md-none"></div>

          <div class="form-group col" *ngIf="category2 && category2.subcategories.length">
            <select class="form-control" name="category3" [(ngModel)]="category3" id="category3">
              <option *ngFor="let item of category2.subcategories" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>

          <div class="w-100 d-block d-sm-none d-md-block d-xl-none"></div>

          <div class="form-group col" *ngIf="category3 && category3.subcategories.length">
            <select class="form-control" name="category4" [(ngModel)]="category4" id="category4">
              <option *ngFor="let item of category3.subcategories" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>

          <div class="w-100 d-block d-md-none"></div>

          <div class="form-group col" *ngIf="category4 && category4.subcategories.length">
            <select class="form-control" name="category5" [(ngModel)]="category5" id="category5">
              <option *ngFor="let item of category4.subcategories" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>

          <div class="w-100 d-block d-sm-none"></div>

          <div class="form-group col" *ngIf="category5 && category5.subcategories.length">
            <select class="form-control" name="category6" [(ngModel)]="category6" id="category6">
              <option *ngFor="let item of category5.subcategories" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>
          
        </div>

        <div *ngIf="category1Field.invalid && (category1Field.dirty || category1Field.touched)" class="text-danger">
          <div *ngIf="category1Field.errors.required">
            Category is required.
          </div>
          <br>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Ad Details</mat-panel-title>
          <mat-panel-description>Enter Ad Details</mat-panel-description>
        </mat-expansion-panel-header>

        <label>Rate</label>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <input type="number" class="form-control" id="rate" placeholder="Enter Rate" [(ngModel)]="rateCard.rate" name="rate" required #rateField="ngModel">
            </div>
      
            <div *ngIf="rateField.invalid && (rateField.dirty || rateField.touched)" class="text-danger">
              <div *ngIf="rateField.errors.required">
                Rate is empty or invalid.
              </div>
              <br>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <select class="form-control" name="unit" [(ngModel)]="rateCard.unit" id="unit" #unitField="ngModel" required>
                <option *ngFor="let item of units" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
        </div>
        
        <div *ngIf="isTypeTime">
          <div class="form-group">
            <label>Ad Time</label>
            <div class="form-group">
              <select class="form-control" name="adTime" [(ngModel)]="rateCard.adTime" id="adTime" #adTimeField="ngModel" required>
                <option *ngFor="let item of adTimes" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>
        </div>

        <div *ngIf="isTypeWords">
          <div class="form-group">
            <div class="form-group">
              <label>Maximum Words / Lines</label>
              <input type="number" class="form-control" id="maxWords" placeholder="Enter Maximum Words / Lines" [(ngModel)]="rateCard.AdWordsMax" name="maxWords" required #maxWordsField="ngModel">
            </div>
    
            <div *ngIf="maxWordsField.invalid && (maxWordsField.dirty || maxWordsField.touched)" class="text-danger">
              <div *ngIf="maxWordsField.errors.required">
                  Maximum Words / Lines is required.
              </div>
              <br>
            </div>              
          </div>
        </div>

        <div *ngIf="isTypeLen">
          <div class="form-group">
            <label>Position</label>
            <select class="form-control" name="position" [(ngModel)]="rateCard.position" id="position" #positionField="ngModel" required>
              <option *ngFor="let item of positions" [value]="item">{{item}}</option>
            </select>
          </div>
  
          <div *ngIf="positionField.invalid && (positionField.dirty || positionField.touched)" class="text-danger">
            <div *ngIf="positionField.errors.required">
              Position is required.
            </div>
            <br>
          </div>

          <div class="form-group">
            <label>Hue</label>
            <select class="form-control" name="hue" [(ngModel)]="rateCard.hue" id="hue" #hueField="ngModel" required>
              <option *ngFor="let hue of hues" [value]="hue">{{hue}}</option>
            </select>
          </div>
  
          <div *ngIf="hueField.invalid && (hueField.dirty || hueField.touched)" class="text-danger">
            <div *ngIf="hueField.errors.required">
              Hue is required.
            </div>
            <br>
          </div>

          <label>Minimum Size Limit</label>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <input type="number" class="form-control" id="minLength" placeholder="Enter Minimum Length" [(ngModel)]="rateCard.minLength" name="minLength" required #minLengthField="ngModel">
              </div>
      
              <div *ngIf="minLengthField.invalid && (minLengthField.dirty || minLengthField.touched)" class="text-danger">
                <div *ngIf="minLengthField.errors.required">
                  Minimum Length is required.
                </div>
                <br>
              </div>
      
            </div>
            <div class="col-auto form-text">&times;</div>
            <div class="col">
              <div class="form-group">
                <input type="number" class="form-control" id="minWidth" placeholder="Enter Minimum Width" [(ngModel)]="rateCard.minWidth" name="minWidth" required #minWidthField="ngModel">
              </div>
      
              <div *ngIf="minWidthField.invalid && (minWidthField.dirty || minWidthField.touched)" class="text-danger">
                <div *ngIf="minWidthField.errors.required">
                  Minimum Width is required.
                </div>
                <br>
              </div>
            </div>
          </div>
          
          <label>Maximum Size Limit</label>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <input type="number" class="form-control" id="maxLength" placeholder="Enter Maximum Length" [(ngModel)]="rateCard.maxLength" name="maxLength" required #maxLengthField="ngModel">
              </div>
      
              <div *ngIf="maxLengthField.invalid && (maxLengthField.dirty || maxLengthField.touched)" class="text-danger">
                <div *ngIf="maxLengthField.errors.required">
                  Maximum Length is required.
                </div>
                <br>
              </div>
      
            </div>
            <div class="col-auto form-text">&times;</div>
            <div class="col">
              <div class="form-group">
                <input type="number" class="form-control" id="maxWidth" placeholder="Enter Maximum Width" [(ngModel)]="rateCard.maxWidth" name="maxWidth" required #maxWidthField="ngModel">
              </div>
      
              <div *ngIf="maxWidthField.invalid && (maxWidthField.dirty || maxWidthField.touched)" class="text-danger">
                <div *ngIf="maxWidthField.errors.required">
                  Maximum Width is required.
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>

        <label>Validity</label>

        <div class="form-row">
          <div class="col-sm">
            <mat-form-field>
              <input matInput [matDatepicker]="validFrom" placeholder="Valid From" [(ngModel)]="rateCard.validFrom" name="validFrom" disabled>
              <mat-datepicker-toggle matSuffix [for]="validFrom"></mat-datepicker-toggle>
              <mat-datepicker #validFrom disabled="false"></mat-datepicker>    
            </mat-form-field>
            </div>
            <label class="col-form-label">to</label>
            <div class="col-sm">
            <mat-form-field>
              <input matInput [matDatepicker]="validTill" placeholder="Valid From" [(ngModel)]="rateCard.validTill" name="validTill" disabled>
              <mat-datepicker-toggle matSuffix [for]="validTill"></mat-datepicker-toggle>
              <mat-datepicker #validTill disabled="false"></mat-datepicker>    
            </mat-form-field>
          </div>
        </div>
 
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="isTypeLen">
        <mat-expansion-panel-header>
          <mat-panel-title>Fix Sizes</mat-panel-title>
          <mat-panel-description>Enter Fix Sizes</mat-panel-description>
        </mat-expansion-panel-header>
      
        <div class="text-muted" *ngIf="rateCard.fixSizes.length == 0">
          No Fix Sizes
        </div>

        <div *ngFor="let item of rateCard.fixSizes; index as i" class="mb-1">
          <div class="form-row">
            <div class="col">
              <mat-form-field>
                <input type="number" matInput placeholder="Length" name="length-{{i}}" [(ngModel)]="item.length" required #lengthField="ngModel">
                <mat-error *ngIf="lengthField.errors && lengthField.errors.required">
                  Length is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <input type="number" matInput placeholder="Width" name="width-{{i}}" [(ngModel)]="item.width" required #widthField="ngModel">
                <mat-error *ngIf="widthField.errors && widthField.errors.required">
                  Width is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <input type="number" matInput placeholder="Amount" name="amount-{{i}}" [(ngModel)]="item.amount" required #amountField="ngModel">
                <mat-error *ngIf="amountField.errors && amountField.errors.required">
                  Amount is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-auto col-form-label">
              <button mat-icon-button color="warn" type="button" (click)="removeFixSize(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <mat-action-row>
          <button mat-button type="button" color="primary" (click)="addFixSize()">Add More</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Schemes</mat-panel-title>
          <mat-panel-description>Enter Schemes</mat-panel-description>
        </mat-expansion-panel-header>
      
        <div class="text-muted" *ngIf="rateCard.schemes.length == 0">
          No Schemes
        </div>

        <div *ngFor="let item of rateCard.schemes; index as i" class="mb-1">
          <div class="form-row">
            <div class="col">
              <mat-form-field>
                <input type="number" matInput placeholder="Paid" name="paid-{{i}}" [(ngModel)]="item.paid" required #paidField="ngModel">
                <mat-error *ngIf="paidField.errors && paidField.errors.required">
                  Paid is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <input type="number" matInput placeholder="Free" name="free-{{i}}" [(ngModel)]="item.Free" required #freeField="ngModel">
                <mat-error *ngIf="freeField.errors && freeField.errors.required">
                  Free is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <input type="number" matInput placeholder="Time Limit" name="timeLimit-{{i}}" [(ngModel)]="item.timeLimit" required #timeLimitField="ngModel">
                <mat-error *ngIf="timeLimitField.errors && timeLimitField.errors.required">
                  Time Limit is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-auto col-form-label">
              <button mat-icon-button color="warn" type="button" (click)="removeScheme(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <mat-action-row>
          <button mat-button type="button" color="primary" (click)="addScheme()">Add More</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Premiums</mat-panel-title>
          <mat-panel-description>Enter Premiums</mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container *ngIf="isTypeWords">
          <p class="text-muted">Enter Amounts for the following Premiums</p>

          <mat-form-field>
            <input type="number" matInput placeholder="Box" name="premiumBox" [(ngModel)]="rateCard.PremiumBox" required #premiumBoxField="ngModel">
            <mat-error *ngIf="premiumBoxField.errors && premiumBoxField.errors.required">
              Box Premium Amount is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Base Colour" name="premiumBaseColour" [(ngModel)]="rateCard.PremiumBaseColour" required #premiumBaseColourField="ngModel">
            <mat-error *ngIf="premiumBaseColourField.errors && premiumBaseColourField.errors.required">
              Base Colour Premium Amount is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Check Mark" name="premiumCheckMark" [(ngModel)]="rateCard.PremiumCheckMark" required #premiumCheckMarkField="ngModel">
            <mat-error *ngIf="premiumCheckMarkField.errors && premiumCheckMarkField.errors.required">
              Check Mark Premium Amount is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Email" name="premiumEmailId" [(ngModel)]="rateCard.PremiumEmailId" required #premiumEmailIdField="ngModel">
            <mat-error *ngIf="premiumEmailIdField.errors && premiumEmailIdField.errors.required">
              Email Premium Amount is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Website" name="premiumWebsite" [(ngModel)]="rateCard.PremiumWebsite" required #premiumWebsiteField="ngModel">
            <mat-error *ngIf="premiumWebsiteField.errors && premiumWebsiteField.errors.required">
              Website Premium Amount is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Extra Words / Lines" name="premiumExtraWords" [(ngModel)]="rateCard.PremiumExtraWords" required #premiumExtraWordsField="ngModel">
            <mat-error *ngIf="premiumExtraWordsField.errors && premiumExtraWordsField.errors.required">
              Extra Words / Lines Premium Amount is required.
            </mat-error>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="!isTypeWords">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput placeholder="Type" name="premiumType" [(ngModel)]="rateCard.PremiumCustom.PremiumType" #premiumTypeField="ngModel">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <input type="number" matInput placeholder="Amount" name="premiumAmount" [(ngModel)]="rateCard.PremiumCustom.Amount" required #premiumAmountField="ngModel">
                <span matSuffix>{{rateCard.PremiumCustom.Percentage ? '%' : ''}}</span>
                <mat-error *ngIf="premiumAmountField.errors && premiumAmountField.errors.required">
                  Premium Amount is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <mat-checkbox class="my-2" name="premiumPercent" [(ngModel)]="rateCard.PremiumCustom.Percentage">Amount in Percentage</mat-checkbox>
        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Taxes</mat-panel-title>
          <mat-panel-description>Enter Taxes</mat-panel-description>
        </mat-expansion-panel-header>
      
        <div class="text-muted" *ngIf="rateCard.taxes.length == 0">
          No Taxes
        </div>

        <div *ngFor="let item of rateCard.taxes; index as i" class="mb-1">
          <div class="form-row">
            <div class="col-auto align-self-center">
              <mat-checkbox name="taxIncluded-{{i}}" [(ngModel)]="item.included">Included</mat-checkbox>
            </div>
            <div class="col-auto">&nbsp;</div>
            <div class="col">
              <mat-form-field>
                <input type="number" matInput placeholder="Rate" name="taxRate-{{i}}" [(ngModel)]="item.rate" required #rateField="ngModel">
                <mat-error *ngIf="rateField.errors && rateField.errors.required">
                  Rate is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-auto col-form-label">
              <button mat-icon-button color="warn" type="button" (click)="removeTax(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <mat-action-row>
          <button mat-button type="button" color="primary" (click)="addTax()">Add More</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Covered</mat-panel-title>
          <mat-panel-description>Enter Covered</mat-panel-description>
        </mat-expansion-panel-header>
      
        <div class="text-muted" *ngIf="rateCard.covered.length == 0">
          No Covered
        </div>

        <div *ngFor="let item of rateCard.covered; index as i" class="mb-1">
          <div class="form-row">
            <div class="col">
              <mat-form-field>
                <input matInput placeholder="Media House" name="covMediaHouse-{{i}}" [(ngModel)]="item.covMediaHouse" required #covMediaHouseField="ngModel">
                <mat-error *ngIf="covMediaHouseField.errors && covMediaHouseField.errors.required">
                  Media House is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <input matInput placeholder="Edition" name="covEdition-{{i}}" [(ngModel)]="item.covEdition" required #covEditionField="ngModel">
                <mat-error *ngIf="covEditionField.errors && covEditionField.errors.required">
                  Edition is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-auto col-form-label">
              <button mat-icon-button color="warn" type="button" (click)="removeCovered(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <mat-action-row>
          <button mat-button type="button" color="primary" (click)="copyCovered()">Copy from Above</button>
          <button mat-button type="button" color="primary" (click)="addCovered()">Add More</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Remarks</mat-panel-title>
          <mat-panel-description>Enter Remarks</mat-panel-description>
        </mat-expansion-panel-header>
      
        <div class="text-muted" *ngIf="rateCard.remarks.length == 0">
          No Remarks
        </div>

        <div *ngFor="let item of rateCard.remarks; index as i" class="mb-1">
          <div class="form-row">
            <div class="col">
              <mat-form-field>
                <input matInput placeholder="Remark" name="remark-{{i}}" [(ngModel)]="item.remark" required #remarkField="ngModel">
                <mat-error *ngIf="remarkField.errors && remarkField.errors.required">
                  Remark is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-auto col-form-label">
              <button mat-icon-button color="warn" type="button" (click)="removeRemark(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <mat-action-row>
          <button mat-button type="button" color="primary" (click)="addRemark()">Add More</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  
    <br><br>

    <button type="submit" class="btn btn-success" [disabled]="!rateCardForm.form.valid">Save</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  </form>
</div>