<h2 mat-dialog-title>Media House Invoice Details</h2>

<mat-dialog-content>
  <div class="row">
    <div class="col-6">
      <form #mediaHouseInvoiceForm="ngForm">
        <mat-form-field>
          <input matInput placeholder="Invoice Number" [(ngModel)]="details.MHINo" name="invoiceNo" required #invoiceNoField="ngModel">
          <mat-error *ngIf="invoiceNoField.errors?.required">
            Invoice Number is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="dateField" name="date" placeholder="Date" [(ngModel)]="details.MHIDate" disabled>
          <mat-datepicker-toggle matSuffix [for]="dateField"></mat-datepicker-toggle>
          <mat-datepicker #dateField disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input type="number" matInput placeholder="Amount" [(ngModel)]="details.MHIGrossAmount" min="0" [verify-min]="0" name="amount" required #amountField="ngModel">
          <mat-error *ngIf="amountField.errors?.required">
            Amount is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="number" matInput placeholder="Tax Amount" [(ngModel)]="details.MHITaxAmount" min="0" [verify-min]="0" name="taxAmount" required #taxAmountField="ngModel">
          <mat-error *ngIf="taxAmountField.errors?.required">
            Tax Amount is required.
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="col-3">
      <h6>Insertions</h6>

      <div *ngFor="let insertion of details.insertions" class="small">
        {{insertion.insertionDate | date:'dd-MMM-y'}}
      </div>

      <br><br>

      <div class="small text-muted">Total Amount</div>
      <div>₹ {{totalAmount}}</div>

      <br>

      <div class="small text-muted">Total Tax</div>
      <div>₹ {{totalTax}}</div>
    </div>
    <div class="col-3">
      <div class="mb-2"><div class="text-muted small">RO No:</div> {{data.ro.releaseOrderNO}}</div>
      <div class="mb-2"><div class="text-muted small">Date:</div> {{data.ro.date | date:'dd-MMM-y'}}</div>
      <div class="mb-2"><div class="text-muted small">Payment Type:</div> {{data.ro.paymentType | paymentMode}}</div>
      <div class="mb-2"><div class="text-muted small">Client:</div> {{data.ro.clientName}}</div>
      <div class="mb-2"><div class="text-muted small">Media House:</div> {{data.ro.publicationName}} - {{data.ro.publicationEdition}}</div>
    </div>
  </div>

  <br>

  <p>Total: ₹ {{details.MHIGrossAmount + details.MHITaxAmount}}</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [disabled]="!mediaHouseInvoiceForm.form.valid" [mat-dialog-close]="details">Save</button>  
  <button mat-button color="warn" [mat-dialog-close]="null">Cancel</button>  
</mat-dialog-actions>