<form (ngSubmit)="submit()" #billingDetailsForm="ngForm">
  <div class="form-group form-row">
    <label class="col-md-3 col-form-label" for="firmName">Firm Name</label>
    <input type="text" class="form-control col-md-9" id="firmName" name="firmName" placeholder="Enter Firm Name" [(ngModel)]="firmName" required #firmNameField="ngModel">
  </div>

  <div *ngIf="firmNameField.invalid && (firmNameField.dirty || firmNameField.touched)" class="text-danger">
    <div *ngIf="firmNameField.errors.required">
      Firm Name is required.
    </div>
    <br>
  </div>

  <div class="form-group form-row">
    <label class="col-md-3 col-form-label" for="gstNo">GSTIN</label>
    <input type="text" class="form-control col-md-9" id="gstNo" name="gstNo" placeholder="Enter GST Number" [(ngModel)]="gstNo" required minlength="15" maxlength="15" #gstNoField="ngModel">
  </div>

  <div *ngIf="gstNoField.invalid && (gstNoField.dirty || gstNoField.touched)" class="text-danger">
    <div *ngIf="gstNoField.errors.required">
      GSTIN is required.
    </div>
    <div *ngIf="gstNoField.errors.minlength || gstNoField.errors.maxlength">
      GSTIN should be 15 characters long.
    </div>
    <br>
  </div>

  <h3 class="mb-3">Billing Address</h3>

  <div class="form-group form-row">
    <input type="text" class="form-control col-md-9" id="billingAddress" name="billingAddress" placeholder="Enter Billing Address" [(ngModel)]="billingAddress.address" required #billingAddressField="ngModel">
  </div>

  <div *ngIf="billingAddressField.invalid && (billingAddressField.dirty || billingAddressField.touched)" class="text-danger">
    <div *ngIf="billingAddressField.errors.required">
      Billing Address is required.
    </div>
    <br>
  </div>

  <div class="form-group form-row">
    <label class="col-md-3 col-form-label" for="pincode">Pincode</label>
    <input type="tel" minlength="6" maxlength="6" class="form-control col-md-9" id="pincode" name="pincode" placeholder="Enter Pincode" [(ngModel)]="billingAddress.pincode" required #pincodeField="ngModel">
  </div>

  <div *ngIf="pincodeField.invalid && (pincodeField.dirty || pincodeField.touched)" class="text-danger">
    <div *ngIf="pincodeField.errors.required">
      Pincode is required.
    </div>
    <br>
  </div>

  <div class="form-group form-row">
    <label class="col-md-3 col-form-label" for="city">City</label>
    <input type="text" class="form-control col-md-9" id="city" name="city" placeholder="Enter City" [(ngModel)]="billingAddress.city" required #cityField="ngModel">
  </div>

  <div *ngIf="cityField.invalid && (cityField.dirty || cityField.touched)" class="text-danger">
    <div *ngIf="cityField.errors.required">
      City is required.
    </div>
    <br>
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <select class="form-control" id="state" name="state" [(ngModel)]="billingAddress.state" required #stateField="ngModel">
      <option *ngFor="let state of stateApi.states" [value]="state">{{state}}</option>
    </select>
  </div>

  <div *ngIf="stateField.invalid && (stateField.dirty || stateField.touched)" class="text-danger">
    <div *ngIf="stateField.errors.required">
      State is required.
    </div>
    <br>
  </div>

  <div *ngIf="error" class="text-danger">
    {{error}}
    
    <br>
  </div>

  <br>
  <button class="btn btn-success" [disabled]="!billingDetailsForm.form.valid">Submit</button>
</form>