<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Release Orders</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <button class="fab" routerLink="/releaseorders/new">
    <mat-icon>add</mat-icon>
  </button>

  <br>
  <p *ngIf="releaseOrders.length == 0" class="text-muted">
    No Release Orders
  </p>

  <div class="card mb-3" *ngFor="let releaseOrder of releaseOrders">
    <div class="card-header"><a [routerLink]="['/releaseorders', releaseOrder.id]">{{releaseOrder.releaseOrderNO}}</a></div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          {{releaseOrder.publicationName}}<br>
          {{releaseOrder.clientName}}
        </div>
        <div class="col-auto">
          <a class="btn btn-outline-info" [routerLink]="['/releaseorders/new', releaseOrder.id]">
            <mat-icon>add</mat-icon> Copy into New
          </a>
          <button class="btn btn-outline-info" (click)="sendMsg()">
            <mat-icon>mail</mat-icon>
          </button>
          <button class="btn btn-outline-danger" (click)="deleteReleaseOrder(releaseOrder)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>