<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Release Orders</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<ng-template #rtMediaHouse let-r="result">
  {{r.pubName}} - {{r.address.edition}}
</ng-template>

<ng-template #rtEdition let-r="result">
  {{r.address.edition}}
</ng-template>

<ng-template #rtClient let-r="result">
  {{r.orgName}}
</ng-template>

<ng-template #rtExecutive let-r="result">
  {{r.executiveName}} - {{r.orgName}}
</ng-template>

<ng-template #rtExecutiveOrg let-r="result">
  {{r.orgName}}
</ng-template>

<div class="container">
  <div class="form-row">
    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="mediaHouse" [ngbTypeahead]="searchMediaHouse" placeholder="Media House" [resultTemplate]="rtMediaHouse" [inputFormatter]="mediaHouseNameFormatter"/>
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="edition" [ngbTypeahead]="searchEdition" placeholder="Edition" [resultTemplate]="rtEdition" [inputFormatter]="editionFormatter"/>
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="client" [ngbTypeahead]="searchClient" placeholder="Client" [resultTemplate]="rtClient" [inputFormatter]="clientNameFormatter" />
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="executive" [ngbTypeahead]="searchExecutive" placeholder="Executive" [resultTemplate]="rtExecutive" [inputFormatter]="executiveNameFormatter" />
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <input type="text" class="form-control" [(ngModel)]="executiveOrg" [ngbTypeahead]="searchExecutiveOrg" placeholder="Executive Organisation" [resultTemplate]="rtExecutiveOrg" [inputFormatter]="executiveOrgFormatter" />
    </div>

    <div class="form-group col-sm-6 col-md-4 col-xl">
      <select [(ngModel)]="pastDays" class="form-control">
        <option [ngValue]="0">Any Time</option>
        <option [ngValue]="7">Past 7 days</option>
        <option [ngValue]="15">Past 15 days</option>
        <option [ngValue]="30">Past 30 days</option>
      </select>
    </div>

    <div class="col-auto">
      <button class="btn btn-info" (click)="search(1)">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <nav mat-tab-nav-bar class="x-overflow">
    <a mat-tab-link routerLink="/releaseorders" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">Not Generated</a>
    <a mat-tab-link routerLink="/releaseorders/generated" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">Generated</a>
  </nav>

  <button class="fab" routerLink="/releaseorders/new">
    <mat-icon>add</mat-icon>
  </button>

  <br>
  <p *ngIf="releaseOrders.length == 0" class="text-muted">
    No Release Orders
  </p>

  <div class="mat-elevation-z3 mb-3 card" *ngFor="let element of releaseOrders">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <a [routerLink]="['/releaseorders', element.id]">{{element.releaseOrderNO}}</a>

          <ng-container *ngIf="element.cancelled">
            <br>
            <span class="text-danger">CANCELLED</span>
          </ng-container>

          <br><br>
          <span class="text-muted">Publication:</span> {{element.publicationName}} - {{element.publicationEdition}}<br>
          <span class="text-muted">Client:</span> {{element.clientName}}
          <br><br>
        </div>
        <div class="col-auto text-right">
          <mat-menu #releaseOrderMenu="matMenu">
            <button mat-menu-item *ngIf="element.generated && !element.cancelled" (click)="pdf(element)">
              <mat-icon>save_alt</mat-icon> Download
            </button>
            <button mat-menu-item *ngIf="element.generated && !element.cancelled" (click)="sendMsg(element)">
              <mat-icon>mail</mat-icon> Send Email
            </button>
            <button mat-menu-item [routerLink]="['/releaseorders/new', element.id]">
              <mat-icon>add</mat-icon> Copy into New
            </button>
            <button mat-menu-item *ngIf="element.generated && !element.cancelled" (click)="createInvoice(element)">
              <mat-icon>add</mat-icon> Create Invoice
            </button>
            <button mat-menu-item *ngIf="element.generated && !element.cancelled" class="text-danger" (click)="cancel(element)">
              <mat-icon>cancel</mat-icon> Cancel
            </button>
            <button mat-menu-item *ngIf="!element.generated" [routerLink]="['/releaseorders/edit', element.id]">
              <mat-icon>edit</mat-icon> Edit
            </button>
            <button mat-menu-item *ngIf="!element.generated" class="text-danger" (click)="deleteReleaseOrder(element)">
              <mat-icon>delete</mat-icon> Delete
            </button>
          </mat-menu>
          
          <button mat-icon-button [matMenuTriggerFor]="releaseOrderMenu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <br><br>

          <button type="button" class="btn btn-light btn-sm text-info" (click)="element.expanded = !element.expanded">
            <span><mat-icon [class.rotate180]="element.expanded">expand_more</mat-icon></span> {{element.expanded ? 'Less' : 'More'}}
          </button>
        </div>
      </div>

      <table class="table table-sm my-3" *ngIf="element.expanded">
        <tr>
          <th>Insertions</th>
          <th></th>
        </tr>
        <tr *ngFor="let insertion of element.insertions">
          <td>{{toDate(insertion.date) | date}}</td>
          <td class="text-right">
            <span *ngIf="insertion.marked" class="text-success">
              <mat-icon>check</mat-icon>
            </span>
          </td>
        </tr>
      </table>

      <button (click)="generate(element)" class="btn btn-outline-success" *ngIf="!element.generated">Generate</button>
    </div>
  </div>

  <br>

  <app-pagination [pageCount]="pageCount" [page]="page" (navigate)="search($event)"></app-pagination>
</div>