<form (ngSubmit)="submit()" #mailingDetailsForm="ngForm">
  <div class="form-group form-row">
    <label class="col-md-3 col-form-label" for="to">To</label>
    <input type="email" class="form-control col-md-9" id="to" name="to" placeholder="Enter To" [(ngModel)]="details.to" required #toField="ngModel" email>
  </div>

  <div *ngIf="toField.invalid && (toField.dirty || toField.touched)" class="text-danger">
    <div *ngIf="toField.errors.required">
      To is required.
    </div>
    <br>
  </div>

  <div class="form-group form-row">
    <label class="col-md-3 col-form-label" for="cc">CC</label>
    <input type="email" class="form-control col-md-9" id="cc" name="cc" placeholder="Enter CC" [(ngModel)]="details.cc" #ccField="ngModel" email>
  </div>

  <div class="form-group form-row">
    <label class="col-md-3 col-form-label" for="bcc">BCC</label>
    <input type="email" class="form-control col-md-9" id="bcc" name="bcc" placeholder="Enter BCC" [(ngModel)]="details.bcc" #bccField="ngModel" email>
  </div>

  <div class="form-group form-row">
    <label class="col-md-3 col-form-label" for="subject">Subject</label>
    <input type="text" class="form-control col-md-9" id="subject" name="subject" placeholder="Enter Subject" [(ngModel)]="details.subject" required #subjectField="ngModel">
  </div>

  <div *ngIf="subjectField.invalid && (subjectField.dirty || subjectField.subjectuched)" class="text-danger">
    <div *ngIf="subjectField.errors.required">
      Subject is required.
    </div>
    <br>
  </div>

  <div class="form-group form-row">
    <label class="col-md-3 col-form-label" for="content">Content</label>
    <input type="text" class="form-control col-md-9" id="content" name="content" placeholder="Enter Content" [(ngModel)]="details.content" #contentField="ngModel">
  </div>

  <br>
  <button class="btn btn-success" [disabled]="!mailingDetailsForm.form.valid">Submit</button>
</form>