<h2 mat-dialog-title>Mailing Details</h2>

<mat-dialog-content>
  <form #mailingDetailsForm="ngForm">
    <div class="form-group">
      <label for="to">To</label>
      <input type="email" class="form-control" id="to" name="to" placeholder="Enter To" [(ngModel)]="details.to" required #toField="ngModel" email>
    </div>

    <div *ngIf="toField.invalid && (toField.dirty || toField.touched)" class="text-danger">
      <div *ngIf="toField.errors.required">
        To is required.
      </div>
      <br>
    </div>

    <div class="form-group">
      <label for="cc">CC</label>
      <input type="email" class="form-control" id="cc" name="cc" placeholder="Enter CC" [(ngModel)]="details.cc" #ccField="ngModel" email>
    </div>

    <div class="form-group">
      <label for="bcc">BCC</label>
      <input type="email" class="form-control" id="bcc" name="bcc" placeholder="Enter BCC" [(ngModel)]="details.bcc" #bccField="ngModel" email>
    </div>

    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject" [(ngModel)]="details.subject" required #subjectField="ngModel">
    </div>

    <div *ngIf="subjectField.invalid && (subjectField.dirty || subjectField.subjectuched)" class="text-danger">
      <div *ngIf="subjectField.errors.required">
        Subject is required.
      </div>
      <br>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <input type="text" class="form-control" id="content" name="content" placeholder="Enter Content" [(ngModel)]="details.content" #contentField="ngModel">
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="warn" [mat-dialog-close]="null">Cancel</button>
  <button mat-button [disabled]="!mailingDetailsForm.form.valid" [mat-dialog-close]="details">Submit</button>  
</mat-dialog-actions>