<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Login</h1>
  </div>
</div>

<form (ngSubmit)="submit()" class="login"  #loginForm="ngForm">
    <h2>AAMan</h2>
    <input type="text" class="login-input" id="emailPhone" placeholder="Enter email or phone" [(ngModel)]="emailOrPhone" name="emailPhone" required #emailOrPhoneField="ngModel">
    <div *ngIf="emailOrPhoneField.invalid && (emailOrPhoneField.dirty || emailOrPhoneField.touched)" class="text-danger">
      <div *ngIf="emailOrPhoneField.errors.required">
        Email or Phone is required.
      </div>
      <br>
    </div>
      <input type="password" class="login-input" id="password" placeholder="Enter Password" [(ngModel)]="password" name="password" required #passwordField="ngModel">
      <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class="text-danger">
        <div *ngIf="passwordField.errors.required">
          Password is required.
        </div>
        <br>
      </div>
    <button class="login-submit" [disabled]="!loginForm.form.valid">Login</button>
    <p class="login-help"><a routerLink="/forgotPassword">Forgot password?</a></p>
    <br>
    <p class="login-help">Don't have an account, create <a routerLink="/register">one</a>.</p>
 </form> -->

 <form (ngSubmit)="submit()"  #loginForm="ngForm" class="login-form">
	<h1>Login</h1>
	
	<label for="user-name"> Email/Phone : 
    
  <input type="text" class="login-input" id="user-name" placeholder="Enter email/phone" [(ngModel)]="emailOrPhone" name="emailPhone" required #emailOrPhoneField="ngModel"></label>
	
	
	<label for="password"> Password :
      <input type="password" class="login-input" id="password" placeholder="Enter Password" [(ngModel)]="password" name="password" required #passwordField="ngModel"> </label>
	
      <button class="login-submit" [disabled]="!loginForm.form.valid" id="loginBtn">Login</button>

      <a routerLink="/forgotPassword">Forgot password?</a>

	<p>Dont have an account? <br>
  <a id="signUP" routerLink="/register">SignUp</a></p>
	
</form>