<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Login</h1>
  </div>
</div>

<div class="container">
  <form (ngSubmit)="submit()" #loginForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Email Address or Phone" name="emailPhone" [(ngModel)]="emailOrPhone" type='text' required #emailOrPhoneField="ngModel">
      <mat-error *ngIf="emailOrPhoneField.errors && emailOrPhoneField.errors.required">
        Email or Phone is required.
      </mat-error>
    </mat-form-field>

    <div class="form-group">
      <p class="float-right"><a tabindex="-1" routerLink="/forgotPassword">Forgot Password</a></p>
    </div>

    <mat-form-field>
      <input matInput placeholder="Password" name="password" [(ngModel)]="password" [type]="hidePassword ? 'password' : 'text'" required #passwordField="ngModel">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="passwordField.errors && passwordField.errors.required">
        Password is required.
      </mat-error>
    </mat-form-field>

    <br><br>
    <button class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
  </form>

  <br>
  <p>Don't have an account, create <a routerLink="/register">one</a>.</p>
</div>