<mat-toolbar>
  <mat-toolbar-row>
    <div class="container">Link Advance Receipt</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <div class="card mb-3" *ngFor="let receipt of receipts">
    <div class="card-body">
      <div class="row">
        <div class="col">
          Receipt: {{receipt.receiptNO}}<br>
          {{receipt.paymentType | paymentMode}}<br>
          ₹ {{receipt.paymentAmount}}
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" (click)="link(receipt)">Link</button>
        </div>
      </div>
    </div>
  </div>

  <p class="text-muted" *ngIf="receipts.length == 0">No Advanced Receipts</p>

  <br>

  <app-pagination [pageCount]="pageCount" [page]="page" (navigate)="navigate($event)"></app-pagination>
</div>