<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Directory</h1>

        <hr class="my-4">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="clients">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="executives">Executives</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="media_houses">Media Houses</a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>