<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">User Profile</h1>
    </div>
</div>

<div class="container">
  <div *ngIf="error || success">
    <br>

    <ngb-alert *ngIf="error" type="danger" (close)="error = null">{{ error }}</ngb-alert>
    <ngb-alert *ngIf="success" type="success" (close)="success = null">{{ success }}</ngb-alert>

    <br>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <div class="card mb-5">
        <div class="card-header">Personal Details</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Name</div>
              <div class="col-md-8">{{profile.name}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Designation</div>
              <div class="col-md-8" *ngIf="isAdmin">ADMIN</div>
              <div class="col-md-8" *ngIf="!isAdmin">{{profile.designation}}</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card mb-5">
          <div class="card-header">Login Details</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">Email</div>
                <div class="col-md-8">{{profile.email}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">Contact</div>
                <div class="col-md-8">{{profile.contact}}</div>
              </div>
            </li>
          </ul>
          <div class="card-body">
            <a class="btn btn-danger" routerLink="/changePassword"><span class="fa fa-lg fa-key"></span> Change Password</a>
          </div>
        </div>
    </div>
    <div class="col-xl-3">
      <div class="card mb-5">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">
          <img [src]="profile.photo" class="img-fluid max-w-200">
    
          <br><br>
          
          <label for="profile-upload" class="btn btn-outline-info">
              Upload
          </label>
          <input type="file" id="profile-upload" class="hidden-file" accept="image/*" (change)="uploadProfilePicture($event.target.files)"/>

          <button class="btn btn-danger mb-2" (click)="removeProfilePicture()"><span class="fa fa-trash-alt"></span></button>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mb-5">
        <div class="card-header">Signature</div>
        <div class="card-body text-center">
          <img [src]="profile.sign" class="img-fluid max-w-200">
      
          <br><br>
          
          <label for="sign-upload" class="btn btn-outline-info">
              Upload
          </label>
          <input type="file" id="sign-upload" class="hidden-file" accept="image/*" (change)="uploadSign($event.target.files)"/>

          <button class="btn btn-danger mb-2" (click)="removeSign()"><span class="fa fa-trash-alt"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>