<mat-toolbar>  
    <mat-toolbar-row>
      <div class="container"><a class="text-light" routerLink="/">Home</a> <span class="text-muted mx-2">/</span> Manage Profile</div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <br>
  <div class="card mb-3 mat-elevation-z1">
    <div class="card-body">
      <div class="row">
        <div class="col-auto text-primary mr-5">
          <mat-icon style="font-size: 300%">person</mat-icon>
        </div>
        <div class="col">
          <h5>Account</h5>
          <p>To view and edit Account Details</p>
        </div>
        <div class="col-auto align-self-end">
          <a class="btn btn-outline-info col-auto mr-3" routerLink="/account">View</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 mat-elevation-z1">
    <div class="card-body">
      <div class="row">
        <div class="col-auto text-primary mr-5">
          <mat-icon style="font-size: 300%">business_center</mat-icon>
        </div>
        <div class="col">
          <h5>Business Profile</h5>
          <p>To view and edit Firm Details</p>
        </div>
        <div class="col-auto align-self-end">
          <a class="btn btn-outline-info col-auto mr-3" routerLink="/firm">View</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 mat-elevation-z1">
    <div class="card-body">
      <div class="row">
        <div class="col-auto text-primary mr-5">
          <mat-icon style="font-size: 300%">people</mat-icon>
        </div>
        <div class="col">
          <h5>Co-Users</h5>
          <p>To view and edit Firm Details</p>
        </div>
        <div class="col-auto align-self-end">
          <a class="btn btn-outline-info col-auto mr-3" routerLink="/coUsers">View</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 mat-elevation-z1" *ngIf="profile.isAdmin">
    <div class="card-body">
      <div class="row">
        <div class="col-auto text-primary mr-5">
          <mat-icon style="font-size: 300%">credit_card</mat-icon>
        </div>
        <div class="col">
          <h5>Plan</h5>
          <p>To change your current plan.</p>

          <div *ngIf="plan">
            <span class="text-muted">Current Plan:</span> {{plan.name}}<br>
            <span class="text-muted">Valid Upto:</span> {{plan.expiresOn | date:'dd-MMM-y'}}
          </div>

        </div>
        <div class="col-auto align-self-end">
          <a class="btn btn-outline-info col-auto mr-3" routerLink="/plan">Change</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 mat-elevation-z1" *ngIf="profile.isAdmin">
    <div class="card-body">
      <div class="row">
        <div class="col-auto text-primary mr-5">
          <mat-icon style="font-size: 300%">assignment</mat-icon>
        </div>
        <div class="col">
          <h5>Terms &amp; Conditions</h5>
          <p>To view and edit Terms &amp; Conditions for documents.</p>
        </div>
        <div class="col-auto align-self-end">
          <a class="btn btn-outline-info col-auto mr-3" routerLink="/tnc">View</a>
        </div>
      </div>
    </div>
  </div>
</div>