<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">User Profile</h1>
    </div>
</div>

<div class="container">
  <div *ngIf="error || success">
    <br>

    <ngb-alert *ngIf="error" type="danger" (close)="error = null">{{ error }}</ngb-alert>
    <ngb-alert *ngIf="success" type="success" (close)="success = null">{{ success }}</ngb-alert>

    <br>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <div class="card mb-5">
        <div class="card-header">Personal Details</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div>Name</div>
            <div>{{profile.name}}</div>
          </li>
          <li class="list-group-item">
            <div>Designation</div>
            <div>{{profile.designation}}</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mb-5">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">
          <img [src]="profile.photo" class="img-fluid max-w-200">
    
          <br><br>
          
          <label for="profile-upload" class="btn btn-outline-info">
              Upload
          </label>
          <input type="file" id="profile-upload" class="hidden-file" accept="image/*" (change)="uploadProfilePicture($event.target.files)"/>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card mb-5">
        <div class="card-header">Signature</div>
        <div class="card-body text-center">
          <img [src]="profile.sign" class="img-fluid max-w-200">
      
          <br><br>
          
          <label for="sign-upload" class="btn btn-outline-info">
              Upload
          </label>
          <input type="file" id="sign-upload" class="hidden-file" accept="image/*" (change)="uploadSign($event.target.files)"/>
        </div>
      </div>
    </div>
  </div>
</div>