<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Create Credit / Debit Note</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<ng-template #rtClient let-r="result">
  {{r.orgName}}
</ng-template>

<ng-template #rtMediaHouse let-r="result">
  {{r.pubName}} - {{r.address.edition}}
</ng-template>

<ng-template #rtEdition let-r="result">
  {{r.address.edition}}
</ng-template>

<div class="container">
  <form (ngSubmit)="submit()" #noteForm="ngForm">
    <ng-container *ngIf="clientNote">
      <div class="form-group">
        <input type="text" name="client" required class="form-control mt-3" [(ngModel)]="client" [ngbTypeahead]="searchClient" placeholder="Client" [resultTemplate]="rtClient" [inputFormatter]="clientNameFormatter" />
      </div>

      <div class="form-group">
        <label>Invoice No</label>
        <input type="text" class="form-control" id="invoiceNo" placeholder="Enter Invoice No" [(ngModel)]="note.invoiceNO" name="invoiceNo" required #invoiceNoField="ngModel">
      </div>

      <div *ngIf="invoiceNoField.invalid && (invoiceNoField.dirty || invoiceNoField.touched)" class="text-danger">
        <div *ngIf="invoiceNoField.errors.required">
          Invoice No is required.
        </div>
        <br>
      </div>
    </ng-container>

    <ng-container *ngIf="mediaHouseNote">
      <div class="form-row">
        <div class="form-group col-md">
          <input type="text" class="form-control" name="publication" required [(ngModel)]="mediaHouse" [ngbTypeahead]="searchMediaHouse" placeholder="Media House" [resultTemplate]="rtMediaHouse" [inputFormatter]="mediaHouseNameFormatter"/>
        </div>
    
        <div class="form-group col-md">
          <input type="text" class="form-control" [(ngModel)]="edition" name="edition" required [ngbTypeahead]="searchEdition" placeholder="Edition" [resultTemplate]="rtEdition" [inputFormatter]="editionFormatter"/>
        </div>
      </div>

      <div class="form-group">
        <label>Release Order No</label>
        <input type="text" class="form-control" id="releaseOrderNo" placeholder="Enter Release Order No" [(ngModel)]="note.releaseOrderNO" name="releaseOrderNo" required #releaseOrderNoField="ngModel">
      </div>

      <div *ngIf="releaseOrderNoField.invalid && (releaseOrderNoField.dirty || releaseOrderNoField.touched)" class="text-danger">
        <div *ngIf="releaseOrderNoField.errors.required">
          Release Order No is required.
        </div>
        <br>
      </div>
    </ng-container>

    <div class="form-group">
      <label>Amount</label>
      <input type="number" class="form-control" id="amount" placeholder="Enter Amount" [(ngModel)]="note.amount" name="amount" required #amountField="ngModel">
    </div>

    <div *ngIf="amountField.invalid && (amountField.dirty || amountField.touched)" class="text-danger">
      <div *ngIf="amountField.errors.required">
        Amount is empty or invalid.
      </div>
      <br>
    </div>

    <div class="form-group">
      <label for="remark">Remark</label>
      <input type="text" class="form-control" id="remark" name="remark" placeholder="Enter Remark" [(ngModel)]="note.remark" #remarkField="ngModel">
    </div>

    <br><br>

    <button class="btn btn-success" type="submit" [disabled]="!noteForm.form.valid">Submit</button>
    <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
  </form>
</div>