.card-body {
    overflow-y: hidden;
    transition: 0.5s;
    max-height: 600px;
}

.h-limit {
    max-height: 327px;
}

mat-icon {
    transition: 0.3s;
}

.rotate180 {
    transform: rotate(180deg);
}