<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Business Details</div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <br>

  <form (ngSubmit)="submit()" #profileForm="ngForm">
    <div class="row">
      <div class="col-lg col-md-6">
        <div class="card mb-5 mat-elevation-z3">
          <div class="card-body" [class.h-limit]="!moreAgencyDetails && !editAgencyDetails">
            <div class="row">
              <div class="col align-self-center">
                <h5>Agency Details</h5>
              </div>
              <div class="col-auto" *ngIf="!editAgencyDetails && user.isAdmin && !editing">
                <button mat-icon-button (click)="editAgencyDetails = true"><mat-icon>edit</mat-icon></button>
              </div>
              <ng-container *ngIf="editAgencyDetails">
                <div class="col-auto">
                  <button mat-icon-button class="text-success" type="submit" [disabled]="!profileForm.form.valid"><mat-icon>check</mat-icon></button>
                  <button mat-icon-button class="text-danger" type="button" (click)="cancel()"><mat-icon>close</mat-icon></button>
                </div>
              </ng-container>
            </div>

            <br>

            <ng-container *ngIf="!editAgencyDetails">
              <div class="mb-3">
                <div class="text-muted small">Firm Name</div>
                <div>{{profile.name || '--'}}</div>
              </div>
              <div class="mb-3">
                <div class="text-muted small">Tag Line</div>
                <div>{{profile.tagline || '--'}}</div>
              </div>              
              <div class="mb-3">
                <div class="text-muted small">Display / NickName</div>
                <div>{{profile.nickname || '--'}}</div>
              </div>              
              <div class="mb-3">
                <div class="text-muted small">Incorporation Date</div>
                <div *ngIf="profile.incDate">{{profile.incDate | date}}</div>
                <div *ngIf="!profile.incDate">--</div>
              </div>              
              <div class="mb-3">
                <div class="text-muted small">Website</div>
                <div>{{profile.website || '--'}}</div>
              </div>              
              <div class="mb-3">
                <div class="text-muted small">Pan No.</div>
                <div>{{profile.panNo || '--'}}</div>    
              </div>              
              <div class="mb-3">
                <div class="text-muted small">GSTIN</div>
                <div>{{profile.GSTIN.GSTType || '--'}} {{profile.GSTIN.GSTNo}}</div>
              </div>
            </ng-container>

            <ng-container *ngIf="editAgencyDetails">
              <mat-form-field>
                <input matInput type="text" name="firmName" placeholder="Firm Name" [(ngModel)]="profile.name" required #firmNameField="ngModel">
                <mat-error *ngIf="firmNameField.errors && firmNameField.errors.required">
                  Firm Name is required.
                </mat-error>
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="text" name="tagline" placeholder="Tagline" [(ngModel)]="profile.tagline" #taglineField="ngModel">
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="text" name="nickname" placeholder="Nickname" [(ngModel)]="profile.nickname" #nicknameField="ngModel">
              </mat-form-field>

              <mat-form-field>
                <input matInput [matDatepicker]="incDateField" name="incDate" placeholder="Incorporation Date" [(ngModel)]="profile.incDate" disabled>
                <mat-datepicker-toggle matSuffix [for]="incDateField"></mat-datepicker-toggle>
                <mat-datepicker #incDateField disabled="false"></mat-datepicker>
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="text" name="website" placeholder="Website" [(ngModel)]="profile.website" #websiteField="ngModel">
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="text" name="panNo" placeholder="PAN Number" [(ngModel)]="profile.panNo" minlength="10" maxlength="10" required #panNoField="ngModel">
                <mat-error *ngIf="panNoField.errors && panNoField.errors.required">
                  PAN Number is required.
                </mat-error>
                <mat-error *ngIf="panNoField.errors && (panNoField.errors.minlength || panNoField.errors.maxlength)">
                  PAN Number should be 10 characters long.
                </mat-error>
              </mat-form-field>

              <div class="form-row">
                <div class="{{profile.GSTIN.GSTType != 'URD' ? 'col-auto' : 'col'}}">
                  <mat-form-field>
                    <mat-select placeholder="GST Type" name="gstType" [(ngModel)]="profile.GSTIN.GSTType">
                      <mat-option value="URD">URD</mat-option>
                      <mat-option value="RD">RD</mat-option>
                      <mat-option value="CRD">CRD</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col" *ngIf="profile.GSTIN.GSTType != 'URD'">
                  <mat-form-field>
                    <input matInput type="text" name="gstNo" placeholder="GST Number" [(ngModel)]="profile.GSTIN.GSTNo" required minlength="15" maxlength="15" #gstNoField="ngModel">
                    <mat-error *ngIf="gstNoField.errors && gstNoField.errors.required">
                      GSTIN is required.
                    </mat-error>
                    <mat-error *ngIf="gstNoField.errors && (gstNoField.errors.minlength || gstNoField.errors.maxlength)">
                      GSTIN should be 15 characters long.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
          </div>

          <button type="button" class="btn btn-light btn-sm text-info" *ngIf="!editAgencyDetails" (click)="moreAgencyDetails = !moreAgencyDetails">
            <span><mat-icon [class.rotate180]="moreAgencyDetails">expand_more</mat-icon></span> {{moreAgencyDetails ? 'Less' : 'More'}}
          </button>
        </div>
      </div>

      <div class="col-lg col-md-6">
        <div class="card mb-5 mat-elevation-z3">
          <div class="card-body" [class.h-limit]="!moreContactDetails && !editContactDetails">
            <div class="row">
              <div class="col align-self-center">
                <h5>Contact Details</h5>
              </div>
              <div class="col-auto" *ngIf="!editContactDetails && user.isAdmin && !editing">
                <button mat-icon-button (click)="editContactDetails = true"><mat-icon>edit</mat-icon></button>
              </div>
              <ng-container *ngIf="editContactDetails">
                <div class="col-auto">
                  <button mat-icon-button class="text-success" type="submit" [disabled]="!profileForm.form.valid"><mat-icon>check</mat-icon></button>
                  <button mat-icon-button class="text-danger" type="button" (click)="cancel()"><mat-icon>close</mat-icon></button>
                </div>
              </ng-container>
            </div>

            <br>

            <ng-container *ngIf="!editContactDetails">
              <div class="mb-3">
                <div class="text-muted small">Email</div>
                <div>{{profile.email || '--'}}</div>
              </div>
              <div class="mb-3">
                <div class="text-muted small">Mobile 1</div>
                <div>{{profile.phone || '--'}}</div>
              </div>
              <div class="mb-3">
                <div class="text-muted small">Mobile 2</div>
                <div>{{profile.OtherMobile || '--'}}</div>
              </div>
              <div class="mb-3">
                <div class="text-muted small">STD Number</div>
                <div>{{profile.stdNo || '--'}}</div>
              </div>
              <div class="mb-3">
                <div class="text-muted small">LandLine Number</div>
                <div>{{profile.landlineNo || '--'}}</div>
              </div>
              <div class="mb-3">
                <div class="text-muted small">Fax</div>
                <div>{{profile.fax || '--'}}</div>
              </div>
            </ng-container>

            <ng-container *ngIf="editContactDetails">
              <mat-form-field>
                <input matInput type="email" name="email" placeholder="Email" [(ngModel)]="profile.email" required #emailField="ngModel" verify-email>
                <mat-error *ngIf="emailField.errors && emailField.errors.required">
                  Email is required.
                </mat-error>
                <mat-error *ngIf="emailField.errors && emailField.errors.email">
                  Invalid Email.
                </mat-error>
              </mat-form-field>
  
              <button class="btn btn-sm btn-outline-info" type="button" (click)="profile.email = user.email">Copy from User</button>
  
              <br><br>
          
              <mat-form-field>
                <span matPrefix>+91 &nbsp;</span>
                <input matInput type="tel" [(ngModel)]="profile.phone" pattern="^\d{10}$" maxlength="10" minlength="10" name="phone" placeholder="Mobile 1" #phoneField="ngModel">
                <mat-error *ngIf="phoneField.errors">
                  Mobile 1 is empty or invalid.
                </mat-error>
              </mat-form-field>
      
              <mat-form-field>
                <span matPrefix>+91 &nbsp;</span>
                <input matInput type="tel" [(ngModel)]="profile.OtherMobile" pattern="^\d{10}$" maxlength="10" minlength="10" name="phone2" placeholder="Mobile 2" #phone2Field="ngModel">
                <mat-error *ngIf="phone2Field.errors">
                  Mobile 2 is invalid.
                </mat-error>
              </mat-form-field>
      
              <div class="form-row">
                <div class="col-3">
                  <mat-form-field>
                    <input matInput type="tel" name="stdNo" placeholder="STD No" minlength="3" maxlength="5" [(ngModel)]="profile.stdNo" #stdNoField="ngModel">
                  </mat-form-field>
                </div>
            
                <div class="col-9">
                  <mat-form-field>
                    <input matInput type="tel" name="landlineNo" minlength="6" maxlength="8" placeholder="Landline Number" [(ngModel)]="profile.landlineNo" #landlineNoField="ngModel">
                  </mat-form-field>
                </div>
              </div>        
            
              <mat-form-field>
                <input matInput type="number" name="fax" placeholder="Fax" [(ngModel)]="profile.fax" #faxField="ngModel">
              </mat-form-field>
            </ng-container>
          </div>

          <button type="button" class="btn btn-light btn-sm text-info" *ngIf="!editContactDetails" (click)="moreContactDetails = !moreContactDetails">
            <span><mat-icon [class.rotate180]="moreContactDetails">expand_more</mat-icon></span> {{moreContactDetails ? 'Less' : 'More'}}
          </button>
        </div>
      </div>

      <div class="col-lg col-md-6">
        <div class="card mb-5 mat-elevation-z3">
          <div class="card-body" [class.h-limit]="!moreAddr && !editAddr">
            <div class="row">
              <div class="col align-self-center">
                <h5>Registered Address <small>(for Documents)</small></h5>
              </div>
              <div class="col-auto" *ngIf="!editAddr && user.isAdmin && !editing">
                <button mat-icon-button (click)="editAddr = true"><mat-icon>edit</mat-icon></button>
              </div>
              <ng-container *ngIf="editAddr">
                <div class="col-auto">
                  <button mat-icon-button class="text-success" type="submit" [disabled]="!profileForm.form.valid"><mat-icon>check</mat-icon></button>
                  <button mat-icon-button class="text-danger" type="button" (click)="cancel()"><mat-icon>close</mat-icon></button>
                </div>
              </ng-container>
            </div>

            <br>
    
            <ng-container *ngIf="!editAddr">
              <div class="mb-3">
                {{profile.registeredAddress.address || '--'}}
              </div>
              <div class="mb-3">
                <div class="text-muted small">Pincode</div>
                <div>{{profile.registeredAddress.pincode || '--'}}</div>
              </div>
              <div class="mb-3">
                <div class="text-muted small">City</div>
                <div>{{profile.registeredAddress.city || '--'}}</div>
              </div>
              <div class="mb-3">
                <div class="text-muted small">State</div>
                <div>{{profile.registeredAddress.state || '--'}}</div>
              </div>
            </ng-container>

            <ng-container *ngIf="editAddr">
              <mat-form-field>
                <input matInput type="text" name="registeredAddress" placeholder="Registered Address" [(ngModel)]="profile.registeredAddress.address" required #registeredAddressField="ngModel">
                <mat-error *ngIf="registeredAddressField.errors && registeredAddressField.errors.required">
                  Registered Address is required.
                </mat-error>
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="tel" minlength="6" maxlength="6" name="registeredPincode" placeholder="Pincode" [(ngModel)]="profile.registeredAddress.pincode" required #registeredPincodeField="ngModel">
                <mat-error *ngIf="registeredPincodeField.errors && registeredPincodeField.errors.required">
                  Pincode is required.
                </mat-error>
                <mat-error *ngIf="registeredPincodeField.errors && (registeredPincodeField.errors.minlength || registeredPincodeField.errors.maxlength)">
                  Pincode should be 6 characters long.
                </mat-error>
              </mat-form-field>
              
              <mat-form-field>
                <input matInput type="text" name="registeredCity" placeholder="City" [(ngModel)]="profile.registeredAddress.city" required #registeredCityField="ngModel">
                <mat-error *ngIf="registeredCityField.errors && registeredCityField.errors.required">
                  City is required.
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="State" name="registeredState" [(ngModel)]="profile.registeredAddress.state" required #registeredStateField="ngModel">
                  <mat-option *ngFor="let state of stateApi.states" [value]="state">{{state}}</mat-option>
                </mat-select>
                <mat-error *ngIf="registeredStateField.errors && registeredStateField.errors.required">
                  State is required.
                </mat-error>
              </mat-form-field>
            </ng-container>

            <br>

            <h5>Office Address</h5>

            <ng-container *ngIf="!editAddr">
              <div class="mb-3">
                {{profile.officeAddress.address || '--'}}
              </div>
              <div class="mb-3">
                <div class="text-muted small">Pincode</div>
                <div>{{profile.officeAddress.pincode || '--'}}</div>
              </div>
              <div class="mb-3">
                <div class="text-muted small">City</div>
                <div>{{profile.officeAddress.city || '--'}}</div>
              </div>
              <div class="mb-3">
                <div class="text-muted small">State</div>
                <div>{{profile.officeAddress.state || '--'}}</div>
              </div>
            </ng-container>

            <ng-container *ngIf="editAddr">
              <button type="button" mat-raised-button (click)="copyAddress()">Copy from Registered Address</button>
              <br><br>
      
              <mat-form-field>
                <input matInput type="text" name="officeAddress" placeholder="Office Address" [(ngModel)]="profile.officeAddress.address" #officeAddressField="ngModel">
              </mat-form-field>
      
              <mat-form-field>
                <input matInput type="tel" minlength="6" maxlength="6" name="officePincode" placeholder="Pincode" [(ngModel)]="profile.officeAddress.pincode" #officePincodeField="ngModel">
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="text" name="officeCity" placeholder="City" [(ngModel)]="profile.officeAddress.city" #officeCityField="ngModel">
              </mat-form-field>
            
              <mat-form-field>
                <mat-select placeholder="State" name="officeState" [(ngModel)]="profile.officeAddress.state" #officeStateField="ngModel">
                  <mat-option *ngFor="let state of stateApi.states" [value]="state">{{state}}</mat-option>
                </mat-select>
                <mat-error *ngIf="officeStateField.errors && officeStateField.errors.required">
                  State is required.
                </mat-error>
              </mat-form-field>
            </ng-container>
          </div>

          <button type="button" class="btn btn-light btn-sm text-info" *ngIf="!editAddr" (click)="moreAddr = !moreAddr">
            <span><mat-icon [class.rotate180]="moreAddr">expand_more</mat-icon></span> {{moreAddr ? 'Less' : 'More'}}
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg col-md-6">
        <div class="card mb-5 mat-elevation-z3">
          <div class="card-header">
            <div class="row">
              <div class="col">Bank Details</div>
              <div class="col-auto" *ngIf="!editBankDetails && user.isAdmin && !editing">
                <button class="btn btn-sm btn-outline-info" (click)="editBankDetails = true"><mat-icon>edit</mat-icon></button>
              </div>
              <ng-container *ngIf="editBankDetails">
                <div class="col-auto">
                  <button class="btn btn-sm btn-outline-success" type="submit" [disabled]="!profileForm.form.valid"><mat-icon>check</mat-icon></button>
                  <button class="btn btn-sm btn-outline-danger" type="button" (click)="cancel()"><mat-icon>close</mat-icon></button>
                </div>
              </ng-container>
            </div>
          </div>
          
          <ng-container *ngIf="!editBankDetails">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="text-muted">Account Name</div>
                <div>{{profile.bankAccountName || '--'}}</div>
              </li>    
              <li class="list-group-item">
                <div class="text-muted">Account No.</div>
                <div>{{profile.bankAccountNo || '--'}}</div>
              </li>    
              <li class="list-group-item">
                <div class="text-muted">Bank Name</div>
                <div>{{profile.bankName || '--'}}</div>
              </li>    
              <li class="list-group-item">
                <div class="text-muted">IFSC</div>
                <div>{{profile.bankIfsc || '--'}}</div>
              </li>    
              <li class="list-group-item">
                <div class="text-muted">Branch Address</div>
                <div>{{profile.bankBranchAddress || '--'}}</div>
              </li>    
              <li class="list-group-item">
                <div class="text-muted">Account Type</div>
                <div>{{profile.bankAccountType || '--'}}</div>
              </li>
            </ul>
          </ng-container>

          <ng-container *ngIf="editBankDetails">
            <div class="card-body">
              <mat-form-field>
                <input matInput type="text" name="bankAccountName" placeholder="Bank Account Name" [(ngModel)]="profile.bankAccountName" required #bankAccountNameField="ngModel">
                <mat-error *ngIf="bankAccountNameField.errors && bankAccountNameField.errors.required">
                  Account Name is required.
                </mat-error>
              </mat-form-field>

              <button class="btn btn-sm btn-outline-info" type="button" (click)="profile.bankAccountName = profile.name">Copy Firm Name</button>

              <br><br>
            
              <mat-form-field>
                <input matInput type="text" name="bankAccountNo" placeholder="Bank Account Number" [(ngModel)]="profile.bankAccountNo" required #bankAccountNoField="ngModel">
                <mat-error *ngIf="bankAccountNoField.errors && bankAccountNoField.errors.required">
                  Account Number is required.
                </mat-error>
              </mat-form-field>
          
              <mat-form-field>
                <input matInput type="text" name="bankIfsc" placeholder="Bank IFSC" [(ngModel)]="profile.bankIfsc" required minlength="11" maxlength="11" #bankIfscField="ngModel" (input)="ifscChanged()">
                <mat-error *ngIf="bankIfscField.errors && bankIfscField.errors.required">
                  IFSC is required.
                </mat-error>
                <mat-error *ngIf="bankIfscField.errors && (bankIfscField.errors.minlength || bankIfscField.errors.maxlength)">
                  IFSC should be 11 characters long.
                </mat-error>
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="text" name="bankName" placeholder="Bank Name" [(ngModel)]="profile.bankName" required #bankNameField="ngModel">
                <mat-error *ngIf="bankNameField.errors && bankNameField.errors.required">
                  Bank Name is required.
                </mat-error>
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="text" name="bankBranchAddress" placeholder="Bank Branch Address" [(ngModel)]="profile.bankBranchAddress" required #bankBranchAddressField="ngModel">
                <mat-error *ngIf="bankBranchAddressField.errors && bankBranchAddressField.errors.required">
                  Bank Branch Address is required.
                </mat-error>
              </mat-form-field>
            
              <mat-form-field>
                <mat-select placeholder="Bank Account Type" name="bankAccountType" [(ngModel)]="profile.bankAccountType">
                  <mat-option value="Current">Current</mat-option>
                  <mat-option value="Savings">Savings</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>
      
      <div class="col-lg col-md-6">
        <div class="card mb-5 mat-elevation-z3">
          <div class="card-header">
            <div class="row">
              <div class="col">Social Details</div>
              <div class="col-auto" *ngIf="!editSocialDetails && user.isAdmin && !editing">
                <button class="btn btn-sm btn-outline-info" (click)="editSocialDetails = true"><mat-icon>edit</mat-icon></button>
              </div>
              <ng-container *ngIf="editSocialDetails">
                <div class="col-auto">
                  <button class="btn btn-sm btn-outline-success" type="submit" [disabled]="!profileForm.form.valid"><mat-icon>check</mat-icon></button>
                  <button class="btn btn-sm btn-outline-danger" type="button" (click)="cancel()"><mat-icon>close</mat-icon></button>
                </div>
              </ng-container>
            </div>
          </div>
          
          <ng-container *ngIf="!editSocialDetails">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="text-muted">Facebook</div>
                <div><a href="{{profile.facebook}}" target="_blank">{{profile.facebook || '--'}}</a></div>
              </li>    
              <li class="list-group-item">
                <div class="text-muted">Twitter</div>
                <div><a href="{{profile.twitter}}" target="_blank">{{profile.twitter || '--'}}</a></div>
              </li>    
              <li class="list-group-item">
                <div class="text-muted">Others</div>
                <div><a href="{{profile.other}}" target="_blank">{{profile.other || '--'}}</a></div>
              </li>
            </ul>
          </ng-container>

          <ng-container *ngIf="editSocialDetails">
            <div class="card-body">
              <mat-form-field>
                <input matInput type="text" name="facebook" placeholder="Facebook Link" [(ngModel)]="profile.facebook" #facebookField="ngModel">
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="text" name="twitter" placeholder="Twitter Link" [(ngModel)]="profile.twitter" #twitterField="ngModel">
              </mat-form-field>
            
              <mat-form-field>
                <input matInput type="text" name="others" placeholder="Other social Link" [(ngModel)]="profile.other" #otherField="ngModel">
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-lg">
        <div class="card mb-5 mat-elevation-z3">
          <div class="card-header">Logo</div>
          <div class="card-body text-center">
            <img [src]="profile.logo" class="img-fluid max-w-200">
            
            <br><br>
            
            <label for="logo-upload" *ngIf="user.isAdmin" class="btn btn-outline-info">
              <mat-icon>file_upload</mat-icon>
            </label>
            <input type="file" *ngIf="user.isAdmin" id="logo-upload" accept="image/*" class="hidden-file" (change)="uploadLogo($event.target.files)"/>

            <button *ngIf="user.isAdmin" class="btn btn-outline-danger mb-2" (click)="removeLogo()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>