<mat-toolbar>  
    <mat-toolbar-row>
        <div class="container">Firm Profile</div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">

<button class="fab bg-info" *ngIf="admin" routerLink="/firm/edit">
  <mat-icon>edit</mat-icon>
</button>

<br>

<div class="row">
  <div class="col-lg-8 order-2 order-lg-1">
    <div class="card mb-5">
      <div class="card-header">Business Details</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Firm Name</div>
            <div class="col-md-8">{{profile.name}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Tag Line</div>
            <div class="col-md-8">{{profile.tagline}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Display / NickName</div>
            <div class="col-md-8">{{profile.nickname}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Incorporation Date</div>
            <div class="col-md-8">{{profile.incDate | date}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Email</div>
            <div class="col-md-8">{{profile.email}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Mobile 1</div>
            <div class="col-md-8">{{profile.phone}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Mobile 2</div>
            <div class="col-md-8">{{profile.OtherMobile}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">STD Number</div>
            <div class="col-md-8">{{profile.stdNo}}</div>
          </div>
        </li>           
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">LandLine Number</div>
            <div class="col-md-8">{{profile.landlineNo}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Fax</div>
            <div class="col-md-8">{{profile.fax}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Website</div>
            <div class="col-md-8">{{profile.website}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Pan No.</div>
            <div class="col-md-8">{{profile.panNo}}</div>
          </div>
        </li>    
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">GSTIN</div>
            <div class="col-md-8">{{profile.GSTIN.GSTType}} {{profile.GSTIN.GSTNo}}</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card mb-5">
      <div class="card-header">Registered Address</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {{profile.registeredAddress.address}}
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Pincode</div>
            <div class="col-md-8">{{profile.registeredAddress.pincode}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">City</div>
            <div class="col-md-8">{{profile.registeredAddress.city}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">State</div>
            <div class="col-md-8">{{profile.registeredAddress.state}}</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card mb-5">
      <div class="card-header">Office Address</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {{profile.officeAddress.address}}
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Pincode</div>
            <div class="col-md-8">{{profile.officeAddress.pincode}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">City</div>
            <div class="col-md-8">{{profile.officeAddress.city}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">State</div>
            <div class="col-md-8">{{profile.officeAddress.state}}</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card mb-5">
      <div class="card-header">Bank Details</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Account Name</div>
            <div class="col-md-8">{{profile.bankAccountName}}</div>
          </div>
        </li>    
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Account No.</div>
            <div class="col-md-8">{{profile.bankAccountNo}}</div>
          </div>
        </li>    
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Bank Name</div>
            <div class="col-md-8">{{profile.bankName}}</div>
          </div>
        </li>    
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">IFSC</div>
            <div class="col-md-8">{{profile.bankIfsc}}</div>
          </div>
        </li>    
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Branch Address</div>
            <div class="col-md-8">{{profile.bankBranchAddress}}</div>
          </div>
        </li>    
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Account Type</div>
            <div class="col-md-8">{{profile.bankAccountType}}</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card mb-5">
      <div class="card-header">Social Details</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Facebook</div>
            <div class="col-md-8"><a href="{{profile.facebook}}" target="_blank">{{profile.facebook}}</a></div>
          </div>
        </li>    
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Twitter</div>
            <div class="col-md-8"><a href="{{profile.twitter}}" target="_blank">{{profile.twitter}}</a></div>
          </div>
        </li>    
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Others</div>
            <div class="col-md-8"><a href="{{profile.other}}" target="_blank">{{profile.other}}</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 order-lg-2">
    <div class="card mb-5">
      <div class="card-header">Logo</div>
      <div class="card-body text-center">
        <img [src]="profile.logo" class="img-fluid max-w-200">
        
        <br><br>
        
        <label for="logo-upload" *ngIf="admin" class="btn btn-outline-info">
          <mat-icon>file_upload</mat-icon>
        </label>
        <input type="file" *ngIf="admin" id="logo-upload" accept="image/*" class="hidden-file" (change)="uploadLogo($event.target.files)"/>

        <button *ngIf="admin" class="btn btn-outline-danger mb-2" (click)="removeLogo()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
</div>