<br>

<div class="container">  
  <div class="row">
    <div class="col-lg-6">
      <h3 style="font-weight: lighter">Payment Receipt: {{receipt.receiptNO}}</h3>

      <br>
    </div>
    <div class="col-lg-6">
      <button mat-raised-button color="primary" class="bg-primary" [routerLink]="['/invoices', receipt.invoiceID]">View Invoice</button>

      <button mat-raised-button color="primary" (click)="gen()" class="bg-success">
        <mat-icon>get_app</mat-icon> Download
      </button>
      <button mat-raised-button color="primary" (click)="sendMsg()" class="bg-info">
        <mat-icon>mail</mat-icon> Send Mail
      </button>

      <br><br>
    </div>
  </div>

  <div>
    <span class="text-muted">Amount:</span> ₹ {{receipt.paymentAmount}}
  </div>

  <div class="mb-4">
    <span class="text-muted">Amount in words:</span> Rupees {{receipt.paymentAmountWords}}
  </div>

  <h5>Payment Details</h5>

  <div class="text-muted small mt-3">Type</div>
  <div>{{receipt.paymentType}}</div>

  <ng-container *ngIf="receipt.paymentType == 'Cheque' || receipt.paymentType == 'NEFT'">
    <div class="text-muted small mt-2">Date</div>
    <div>{{receipt.paymentDate | date}}</div>
  
    <div class="text-muted small mt-2">{{receipt.paymentType}} Number</div>
    <div>{{receipt.paymentNo}}</div>
  
    <ng-container *ngIf="receipt.paymentType == 'Cheque'">
      <div class="text-muted small mt-2">Bank Name</div>
      <div>{{receipt.paymentBankName}}</div>
    </ng-container>
  </ng-container>
</div>
