<br>

<div class="container">  
  <div class="row">
    <div class="col-lg-6">
      <h3 style="font-weight: lighter">Payment Receipt: {{receipt.receiptNO}}</h3>

      <br>
    
      <div>
        <span class="text-muted">Amount:</span> ₹ {{receipt.paymentAmount}}
      </div>

      <div class="mb-5">
        <span class="text-muted">Amount in words:</span> Rupees {{receipt.paymentAmountWords}}
      </div>
    
      <h5>Payment Details</h5>

      <div class="card my-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="text-muted small">Type</div>
            <div>{{receipt.paymentType}}</div>
          </li>
          <ng-container *ngIf="receipt.paymentType == 'Cheque' || receipt.paymentType == 'NEFT'">
            <li class="list-group-item">
              <div class="text-muted small">Date</div>
              <div>{{receipt.paymentDate | date}}</div>
            </li>          
            <li class="list-group-item">
              <div class="text-muted small">{{receipt.paymentType}} Number</div>
              <div>{{receipt.paymentNo}}</div>
            </li>
            <li class="list-group-item" *ngIf="receipt.paymentType == 'Cheque'">
              <div class="text-muted small">Bank Name</div>
              <div>{{receipt.paymentBankName}}</div>
            </li>
          </ng-container>          
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <button [routerLink]="['/invoices', receipt.invoiceID]" class="btn btn-outline-primary">View Invoice</button>
    </div>
  </div>
</div>
