<h2 mat-dialog-title>Categories Details</h2>

<mat-dialog-content>
  <div class="container-fluid">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <mat-icon>search</mat-icon>
        </span>
      </div>
      <input id="search" name="search" type="text" class="form-control" [(ngModel)]="query" [ngbTypeahead]="searchCategories" placeholder="Search Categories" [resultFormatter]="categoryResultFormatter" [inputFormatter]="categoryInputFormatter" />
    </div>

    <br>
  
    <form #categoriesForm="ngForm">
      <div class="form-row">
        <div class="form-group col">
          <mat-select class="form-control" placeholder="Category 1" name="category1" [ngModel]="details.selectedCategories[0]" (ngModelChange)="setCategory(0, $event)" id="category1" #category1Field="ngModel" [disabled]="fixedCategoriesLevel >= 0">
            <mat-option *ngFor="let item of categories[0]" [value]="item">{{item.name}}</mat-option>
          </mat-select>
        </div>

        <ng-container *ngFor="let cats of categories; index as i">
          <ng-container *ngIf="i">
            <div class="w-100 d-block d-sm-none"></div>
  
            <div class="form-group col" *ngIf="details.selectedCategories[i - 1] && categories[i]?.length">
              <mat-select class="form-control" placeholder="Category {{i + 1}}" name="category-{{i + 1}}" [ngModel]="details.selectedCategories[i]" (ngModelChange)="setCategory(i, $event)" [disabled]="fixedCategoriesLevel >= i">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of categories[i]" [value]="item">{{item.name}}</mat-option>
              </mat-select>
            </div>    
          </ng-container>
        </ng-container>
      </div>
    </form>
  </div>  
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="warn" [mat-dialog-close]="null">Cancel</button>  
  <button mat-button [disabled]="!categoriesForm.form.valid" [mat-dialog-close]="details">Submit</button>  
</mat-dialog-actions>