<button *ngIf="!mediaHouse.global" class="fab bg-info" [routerLink]="['/dir/media_houses/edit', mediaHouse.id]">
  <mat-icon>edit</mat-icon>
</button>

<div class="row">
  <div class="col-lg">
    <div class="card mb-3">
      <div class="card-header">Media House</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Organization Name</div>
            <div class="col-md-8">{{mediaHouse.orgName}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Publisher Name</div>
            <div class="col-md-8">{{mediaHouse.pubName}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Nick Name</div>
            <div class="col-md-8">{{mediaHouse.nickName}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Media Type</div>
            <div class="col-md-8">{{mediaHouse.mediaType}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">GSTIN</div>
            <div class="col-md-8">{{mediaHouse.GSTIN}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">STD No</div>
            <div class="col-md-8">{{mediaHouse.officeStdNo}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Office Landline</div>
            <div class="col-md-8">{{mediaHouse.officeLandLine}}</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="card mb-3">
      <div class="card-header">Address</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {{mediaHouse.address.address}}
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Pincode</div>
            <div class="col-md-8">{{mediaHouse.address.pincode}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">City</div>
            <div class="col-md-8">{{mediaHouse.address.city}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">State</div>
            <div class="col-md-8">{{mediaHouse.address.state}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Edition</div>
            <div class="col-md-8">{{mediaHouse.address.edition}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg">
    <div class="card mb-3">
        <div class="card-header">Pullouts</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let item of mediaHouse.pullouts; index as i">
            <div class="row">
              <div class="col-md-4">#{{i}}</div>
              <div class="col-md-8">{{item.name}}</div>
            </div>
          </li>
        </ul>
    </div>
  </div>
  
  <div class="col-lg">
    <div class="card mb-3" *ngFor="let scheduling of mediaHouse.scheduling; index as i">
      <div class="card-header">Scheduling #{{i + 1}}</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Person</div>
            <div class="col-md-8">{{scheduling.person}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Designation</div>
            <div class="col-md-8">{{scheduling.designation}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Desk Extension</div>
            <div class="col-md-8">{{scheduling.deskExtension}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Mobile</div>
            <div class="col-md-8">{{scheduling.mobileNo}}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">Email</div>
            <div class="col-md-8">{{scheduling.email}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>