.list-group-item div:first-child {
    font-style: italic;
}

mat-card {
    padding: 15px;
}

mat-card-title {
    font-size: 15px;
    font-weight: bolder;
}

label {
    font-size: 15px;
}

@media (min-width: 768px) {
    mat-card {
        height: 100%;
    }
}