<div class="container">
  <form (ngSubmit)="submit()" #receiptForm="ngForm">
    <div class="row">
      <div class="col-lg col-md-6">
        <br>
        <mat-card class="mat-elevation-z5">
          <mat-card-title>Publication Details</mat-card-title>
          
          <mat-form-field>
            <input matInput type="text" [ngbTypeahead]="searchMediaHouse" id="mediaHouseName" placeholder="Media House Name" [(ngModel)]="mediaHouse" name="mediaHouseName" #publicationNameField="ngModel" [resultFormatter]="mediaHouseResultFormatter" [inputFormatter]="mediaHouseInputFormatter">
            <!-- <mat-error *ngIf="publicationNameField.errors && publicationNameField.errors.required">
              Media House Name is required.
            </mat-error> -->
          </mat-form-field>
              
          <div class="row">
            <mat-form-field class="col-md">
              <input matInput type="text" id="publicationEdition" name="publicationEdition" placeholder="Edition" [(ngModel)]="receipt.publicationEdition" #publicationEditionField="ngModel">
              <!-- <mat-error *ngIf="publicationEditionField.errors && publicationEditionField.errors.required">
                Edition Name is required.
              </mat-error> -->
            </mat-form-field>
        
          </div>
          
          <div class="row">
            <mat-form-field class="col-md">
              <mat-select id="publicationState" name="publicationState" placeholder="State" [(ngModel)]="receipt.publicationState" #publicationStateField="ngModel">
                <mat-option *ngFor="let state of stateApi.states" [value]="state">{{state}}</mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="publicationStateField.errors && publicationStateField.errors.required">
                State is required.
              </mat-error> -->
            </mat-form-field>

            <mat-form-field class="col-md">
              <input matInput type="text" id="publicationGSTIN" name="publicationGSTIN" placeholder="GST" [(ngModel)]="receipt.publicationGSTIN.GSTNo" minlength="15" maxlength="15" #publicationGSTINField="ngModel">
              <!-- <mat-error *ngIf="publicationGSTINField.errors && publicationGSTINField.errors.required">
                GSTIN is required.
              </mat-error>
              <mat-error *ngIf="publicationGSTINField.errors && (publicationGSTINField.errors.minlength || publicationGSTINField.errors.maxlength)">
                GSTIN should be 15 characters long.
              </mat-error> -->
            </mat-form-field>
          </div>

          <mat-card-actions>
            <button mat-button type="button" color="primary" (click)="addMediaHouse()">Add to Directory</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg col-md-6">
        <br>
        <mat-card class="mat-elevation-z5">
          <mat-card-title>Client Details</mat-card-title>

          <mat-form-field>
            <input matInput type="text" [ngbTypeahead]="searchClient" id="clientName" placeholder="Client Name" [(ngModel)]="client" name="clientName" required #clientNameField="ngModel" [resultFormatter]="clientResultFormatter" [inputFormatter]="clientInputFormatter">
            <mat-error *ngIf="clientNameField.errors && clientNameField.errors.required">
              Name is required.
            </mat-error>
          </mat-form-field>

          <div class="row">
            <mat-form-field class="col">
              <mat-select id="clientState" name="clientState" placeholder="State" [(ngModel)]="receipt.clientState" required #clientStateField="ngModel">
                <mat-option *ngFor="let state of stateApi.states" [value]="state">{{state}}</mat-option>
              </mat-select>
              <mat-error *ngIf="clientStateField.errors && clientStateField.errors.required">
                State is required.
              </mat-error>
            </mat-form-field>
            <div class="{{receipt.clientGSTIN.GSTType != 'URD' ? 'col-auto' : 'col'}}">
              <mat-form-field>
                <mat-select placeholder="GST Type" name="gstType" [(ngModel)]="receipt.clientGSTIN.GSTType">
                  <mat-option value="URD">URD</mat-option>
                  <mat-option value="RD">RD</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col" *ngIf="receipt.clientGSTIN.GSTType != 'URD'">
              <mat-form-field>
                <input matInput type="text" name="gstNo" placeholder="GST Number" [(ngModel)]="receipt.clientGSTIN.GSTNo" required minlength="15" maxlength="15" #gstNoField="ngModel">
                <mat-error *ngIf="gstNoField.errors && gstNoField.errors.required">
                  GSTIN is required.
                </mat-error>
                <mat-error *ngIf="gstNoField.errors && (gstNoField.errors.minlength || gstNoField.errors.maxlength)">
                  GSTIN should be 15 characters long.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <mat-card-actions>
            <button mat-button type="button" color="primary" (click)="addClient()">Add to Directory</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col-lg col-md-6">
        <mat-card class="mat-elevation-z5">
          <mat-card-title>Executive Details</mat-card-title>
          <mat-form-field>
            <input type="text" matInput [ngbTypeahead]="searchExecutive" id="executiveName" placeholder="Executive Name" [(ngModel)]="executive" name="executiveName" required #executiveNameField="ngModel" [resultFormatter]="executiveResultFormatter" [inputFormatter]="executiveInputFormatter">
            <mat-error *ngIf="executiveNameField.errors && executiveNameField.errors.required">
              Executive Name is required.
            </mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input type="text" matInput id="executiveOrg" placeholder="Executive Organisation" [(ngModel)]="receipt.executiveOrg" name="executiveOrg" required #executiveOrgField="ngModel">
            <mat-error *ngIf="executiveOrgField.errors && executiveOrgField.errors.required">
              Executive Organisation is required.
            </mat-error>
          </mat-form-field>

          <button mat-button type="button" color="primary" (click)="addExecutive()">Add to Directory</button>
        </mat-card>
      </div>
      <div class="col-lg col-md-6">
        <mat-card class="mat-elevation-z5">
          <label>Enter Amount</label>
          <br>
          <mat-form-field>
            <input matInput type="number" id="paymentAmount" name="paymentAmount" placeholder="Amount" [(ngModel)]="receipt.paymentAmount" required #paymentAmountField="ngModel">
            <mat-error *ngIf="paymentAmountField.errors && paymentAmountField.errors.required">
                Amount is required.
            </mat-error>
          </mat-form-field>
          
          <br>
            
          <label>Payment Details</label>
          <br>
        
          <mat-form-field>
            <mat-select name="paymentType" placeholder="Type" [(ngModel)]="receipt.paymentType" id="paymentType" #paymentTypeField="ngModel" required>
              <mat-option *ngFor="let item of paymentTypes" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
    
          <ng-container *ngIf="receipt.paymentType != 'Cash' && receipt.paymentType != 'Credit'">
            <div class="row">
              <mat-form-field  class="col-lg col-md-6">
                <input matInput [matDatepicker]="paymentDateField" name="paymentDate" placeholder="Date" [(ngModel)]="receipt.paymentDate" required disabled>
                <mat-datepicker-toggle matSuffix [for]="paymentDateField"></mat-datepicker-toggle>
                <mat-datepicker #paymentDateField disabled="false"></mat-datepicker>
                <mat-error *ngIf="paymentDateField.errors && paymentDateField.errors.required">
                  Date is required.
                </mat-error>
              </mat-form-field>
        
              <mat-form-field  class="col-lg col-md-6">
                <input matInput type="text" id="paymentCheque" name="paymentCheque" placeholder="No" [(ngModel)]="receipt.paymentNo" required #paymentChequeField="ngModel">
                <mat-error *ngIf="paymentChequeField.errors && paymentChequeField.errors.required">
                  No is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field  class="col-lg col-md-6">
                <input type="number" matInput id="paymentAmount" name="paymentAmount" placeholder="Amount" [(ngModel)]="receipt.paymentAmount" required #paymentAmountField="ngModel">
                <mat-error *ngIf="paymentAmountField.errors && paymentAmountField.errors.required">
                  Amount is required.
                </mat-error>
              </mat-form-field>
        
              <ng-container *ngIf="receipt.paymentType == 'Cheque'">
                <mat-form-field  class="col-lg col-md-6">
                  <input type="text" matInput id="bankName" name="bankName" placeholder="Bank Name" [(ngModel)]="receipt.paymentBankName" required #bankNameField="ngModel">
                  <mat-error *ngIf="bankNameField.errors && bankNameField.errors.required">
                    Bank Name is required.
                  </mat-error>
                </mat-form-field>
              </ng-container>
            </div>
          </ng-container>
        </mat-card>
      </div>
    </div>

    <br><br>

    <div class="d-none d-md-block">
      <button type="button" mat-raised-button color="primary" class="bg-success" [disabled]="!receiptForm.form.valid">
        <mat-icon>check</mat-icon> Save
      </button>

      <button type="button" mat-raised-button color="warn" (click)="cancel()">
        <mat-icon>cancel</mat-icon> Cancel
      </button>
    </div>

  </form>
</div>

<mat-toolbar class="d-md-none fixed-bottom">
  <div class="container-fluid">
    <div class="form-row">
      <div class="col">
        <button type="button" class="btn btn-block btn-outline-success border-0 btn-sm" [disabled]="!receiptForm.form.valid" color="primary">
          <mat-icon>check</mat-icon>
          <div class="small">Save</div>
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-block btn-outline-danger border-0 btn-sm" (click)="cancel()">
          <mat-icon>cancel</mat-icon>
          <div class="small">Cancel</div>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>