<div class="container">
  <button *ngIf="!invoice" type="button" mat-raised-button color="primary" (click)="selectInvoice()">Select Invoice</button>

  <div class="row" *ngIf="invoice">
    <div class="col-md">
      <form (ngSubmit)="submit()" #receiptForm="ngForm">
        <mat-card class="mat-elevation-z3">
          <div class="row">
            <div class="col">
              <div class="text-muted small">Total Amount</div>
              <div class="mb-2">₹ {{invoice.FinalAmount}}</div>
            </div>
            <div class="col-auto">
              <div class="text-muted small">Pending Amount</div>
              <div class="mb-2">₹ {{invoice.pendingAmount}}</div>
            </div>
          </div>

          <br>

          <mat-form-field>
            <input matInput type="number" id="paymentAmount" name="paymentAmount" placeholder="Amount" [(ngModel)]="receipt.paymentAmount" required [verify-max]="invoice.pendingAmount" [verify-min]="0" #paymentAmountField="ngModel">
            <mat-error *ngIf="paymentAmountField.errors && paymentAmountField.errors.required">
              Amount is required.
            </mat-error>
          </mat-form-field>
      
          <br><br>
    
          <h5>Payment Details</h5>
          <br>
    
          <mat-form-field>
            <mat-select name="paymentType" placeholder="Type" [(ngModel)]="receipt.paymentType" id="paymentType" #paymentTypeField="ngModel" required>
              <mat-option *ngFor="let item of paymentTypes" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
    
          <ng-container *ngIf="receipt.paymentType != 'Cash' && receipt.paymentType != 'Credit'">
            <div class="row">
              <mat-form-field class="col-lg col-md-6">
                <input matInput [matDatepicker]="paymentDateField" name="paymentDate" placeholder="Date" [(ngModel)]="receipt.paymentDate" required disabled>
                <mat-datepicker-toggle matSuffix [for]="paymentDateField"></mat-datepicker-toggle>
                <mat-datepicker #paymentDateField disabled="false"></mat-datepicker>
                <mat-error *ngIf="paymentDateField.errors && paymentDateField.errors.required">
                  Date is required.
                </mat-error>
              </mat-form-field>
        
              <mat-form-field class="col-lg col-md-6">
                <input matInput type="text" id="paymentCheque" name="paymentCheque" placeholder="No" [(ngModel)]="receipt.paymentNo" required #paymentChequeField="ngModel">
                <mat-error *ngIf="paymentChequeField.errors && paymentChequeField.errors.required">
                  No is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-lg col-md-6">
                <input type="number" matInput id="paymentAmount" name="paymentAmount" placeholder="Enter Amount" [(ngModel)]="receipt.paymentAmount" required #paymentAmountField="ngModel">
                <mat-error *ngIf="paymentAmountField.errors && paymentAmountField.errors.required">
                  Amount is required.
                </mat-error>
              </mat-form-field>
        
              <ng-container *ngIf="receipt.paymentType == 'Cheque'">
                <mat-form-field class="col-lg col-md-6">
                  <input type="text" matInput id="bankName" name="bankName" placeholder="Bank Name" [(ngModel)]="receipt.paymentBankName" required #bankNameField="ngModel">
                  <mat-error *ngIf="bankNameField.errors && bankNameField.errors.required">
                    Bank Name is required.
                  </mat-error>
                </mat-form-field>
              </ng-container>
            </div>
          </ng-container>
        </mat-card>

        <br>
      
        <button type="submit" class="btn btn-success" [disabled]="!receiptForm.form.valid">Save</button>
        <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>

        <br><br>
      </form>
    </div>
    <div class="col-md">
      <mat-card class="mat-elevation-z3">
        <div class="text-muted small">Invoice No</div>
        <div class="mb-2">{{invoice.invoiceNO}}</div>

        <div class="text-muted small">Publication</div>
        <div>{{invoice.publicationName}} - {{invoice.publicationEdition}}</div>

        <div class="text-muted small">Client</div>
        <div>{{invoice.clientName}}</div>

        <ng-container *ngIf="pastReceipts.length != 0">
          <br>

          <h5>Past Receipts</h5>

          <div class="card mb-3" *ngFor="let item of pastReceipts">
            <div class="card-body">
              <div class="row">
                <a class="col text-muted" [routerLink]="['/receipts', item._id]">{{item.receiptNO}}</a>
                <div class="col-auto text-muted small">{{item.createdAt | date}}</div>
              </div>
              <div><span class="text-muted">Amount:</span> ₹ {{item.paymentAmount}}</div>
            </div>
          </div>
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>