<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Firm Profile</h1>
    </div>
</div>

<div class="container">
<button class="fab bg-info" *ngIf="admin" routerLink="/firm/edit"><span class="fa fa-pencil-alt"></span></button>

<div class="row">
  <div class="col-md-8">
    <h3>Business Details</h3>
    <div class="detailView">
      <div>Firm Name</div>
      <div>{{profile.name}}</div>
    </div>
    
    <div class="detailView">
      <div>Tag Line</div>
      <div>{{profile.tagline}}</div>
    </div>
    
    <div class="detailView">
      <div>Display / NickName</div>
      <div>{{profile.nickname}}</div>
    </div>
    
    <div class="detailView">
      <div>Registered Address</div>
      <div>{{profile.registeredAddress}}</div>
    </div>
    
    <div class="detailView">
      <div>Office Address</div>
      <div>{{profile.officeAddress}}</div>
    </div>
    
    <div class="detailView">
      <div>Incorporation Date</div>
      <div>{{profile.incDate | date}}</div>
    </div>
    
    <div class="detailView">
      <div>Email</div>
      <div>{{profile.email}}</div>
    </div>

    <div class="detailView">
      <div>Phone</div>
      <div>{{profile.phone}}</div>
    </div>

    <div class="detailView">
      <div>LandLine Number</div>
      <div>{{profile.landlineNo}}</div>
    </div>
    
    <div class="detailView">
      <div>Fax</div>
      <div>{{profile.fax}}</div>
    </div>
    
    <div class="detailView">
      <div>Website</div>
      <div>{{profile.website}}</div>
    </div>
    
    <div class="detailView">
      <div>Pan No.</div>
      <div>{{profile.panNo}}</div>
    </div>
    
    <div class="detailView">
      <div>GST No.</div>
      <div>{{profile.gstNo}}</div>
    </div>
    
    <h3>Bank Details</h3>
    <div class="detailView">
      <div>Account Name</div>
      <div>{{profile.bankAccountName}}</div>
    </div>
    
    <div class="detailView">
      <div>Account No.</div>
      <div>{{profile.bankAccountNo}}</div>
    </div>
    
    <div class="detailView">
      <div>Bank Name</div>
      <div>{{profile.bankName}}</div>
    </div>
    
    <div class="detailView">
      <div>IFSC</div>
      <div>{{profile.bankIfsc}}</div>
    </div>
    
    <div class="detailView">
      <div>Branch Address</div>
      <div>{{profile.bankBranchAddress}}</div>
    </div>
    
    <div class="detailView">
      <div>Account Type</div>
      <div>{{profile.bankAccountType}}</div>
    </div>

    <h3>Social Details</h3>
    <div class="detailView">
      <div>Facebook</div>
      <div><a href="{{profile.facebook}}" target="_blank">{{profile.facebook}}</a></div>
    </div>

    <div class="detailView">
      <div>Twitter</div>
      <div><a href="{{profile.twitter}}" target="_blank">{{profile.twitter}}</a></div>
    </div>

    <div class="detailView">
      <div>Others</div>
      <div><a href="{{profile.other}}" target="_blank">{{profile.other}}</a></div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Logo</h3>
    <br>
    <img [src]="profile.logo" class="img-fluid max-w-200">
  </div>
</div>
</div>