<div *ngIf="admin">
  <a class="btn btn-primary" routerLink="/firm/edit"><span class="fa fa-pencil-alt"></span> Edit</a>
</div>

<div class="row">
  <div class="col-md-8">
    <h3>Business Details</h3>
    <div class="row detailView">
      <div class="col-md-3">Firm Name</div>
      <div class="col-md-9">{{profile.name}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Tag Line</div>
      <div class="col-md-9">{{profile.tagline}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Display / NickName</div>
      <div class="col-md-9">{{profile.nickname}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Registered Address</div>
      <div class="col-md-9">{{profile.registeredAddress}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Office Address</div>
      <div class="col-md-9">{{profile.officeAddress}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Incorporation Date</div>
      <div class="col-md-9">{{profile.incDate | date}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Email</div>
      <div class="col-md-9">{{profile.email}}</div>
    </div>

    <div class="row detailView">
      <div class="col-md-3">Phone</div>
      <div class="col-md-9">{{profile.phone}}</div>
    </div>

    <div class="row detailView">
      <div class="col-md-3">LandLine Number</div>
      <div class="col-md-9">{{profile.landlineNo}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Fax</div>
      <div class="col-md-9">{{profile.fax}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Website</div>
      <div class="col-md-9">{{profile.website}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Pan No.</div>
      <div class="col-md-9">{{profile.panNo}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">GST No.</div>
      <div class="col-md-9">{{profile.gstNo}}</div>
    </div>
    
    <h3>Bank Details</h3>
    <div class="row detailView">
      <div class="col-md-3">Account Name</div>
      <div class="col-md-9">{{profile.bankAccountName}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Account No.</div>
      <div class="col-md-9">{{profile.bankAccountNo}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Bank Name</div>
      <div class="col-md-9">{{profile.bankName}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">IFSC</div>
      <div class="col-md-9">{{profile.bankIfsc}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Branch Address</div>
      <div class="col-md-9">{{profile.bankBranchAddress}}</div>
    </div>
    
    <div class="row detailView">
      <div class="col-md-3">Account Type</div>
      <div class="col-md-9">{{profile.bankAccountType}}</div>
    </div>

    <h3>Social Details</h3>
    <div class="row detailView">
      <div class="col-md-3">Facebook</div>
      <div class="col-md-9"><a href="{{profile.facebook}}" target="_blank">{{profile.facebook}}</a></div>
    </div>

    <div class="row detailView">
      <div class="col-md-3">Twitter</div>
      <div class="col-md-9"><a href="{{profile.twitter}}" target="_blank">{{profile.twitter}}</a></div>
    </div>

    <div class="row detailView">
      <div class="col-md-3">Others</div>
      <div class="col-md-9"><a href="{{profile.other}}" target="_blank">{{profile.other}}</a></div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Logo</h3>
    <br>
    <img [src]="profile.logo" class="img-fluid max-w-200">
  </div>
</div>