@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.0.7/css/all.css");

.max-w-200 {
    max-width: 200px;
}

.hidden-file {
    position: fixed;
    right: 100%;
    bottom: 100%;
}

.fab {
    width: 70px;
    height: 70px;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
    background-color:#F44336;
    z-index: 10;
    position: fixed;
    right: 40px;
    bottom: 50px;
    cursor: pointer;
    display: block;
}

.fab .fa {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
}

.fab:hover {
    transform: scale(1.1);
}

.fab:focus {
    outline: none;
}

@media (max-width:767px) {
    .fab {
        width: 50px;
        height: 50px;
        right: 30px;
        bottom: 30px;
    }
}