@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.0.7/css/all.css");

.max-w-200 {
    max-width: 200px;
}

.hidden-file {
    position: fixed;
    right: 100%;
    bottom: 100%;
}

.file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}