<div>
    <h2>Co-Users</h2>
    <br>
    <a class="btn btn-primary" *ngIf="admin" routerLink="/coUsers/new"><span class="fa fa-plus"></span> Add New</a>

    <div *ngFor="let coUser of coUsers" class="co-user">
        <div *ngIf="admin" style="float:right">
            <a class="btn btn-primary" [routerLink]="['/coUsers', coUser.id]"><span class="fa fa-pencil-alt"></span> Edit Roles</a>
            <button class="btn btn-danger" (click)="delete(coUser)"><span class="fa fa-trash-alt"></span> Delete</button>
        </div>
        <h5>{{coUser.name}}</h5>
        <span class="fa fa-envelope"></span> {{ coUser.email }}
        <br>
        <span class="fa fa-phone"></span> {{ coUser.phone }}
        <br>
    </div>
</div>