<div>
    <h2>Co-Users</h2>
    <br>
    <a class="btn btn-primary" *ngIf="admin" routerLink="/coUsers/new"><span class="fa fa-plus"></span> Add New</a>

    <div *ngFor="let coUser of coUsers" class="co-user">
        <button class="btn btn-danger" *ngIf="admin" (click)="delete(coUser)" style="float:right"><span class="fa fa-trash-alt"></span> Delete</button>
        <h5>{{coUser.name}}</h5>
        <span class="fa fa-envelope"></span> {{ coUser.email }}
        <br>
        <span class="fa fa-phone"></span> {{ coUser.phone }}
        <br>
    </div>
</div>