<div *ngIf="adding">
    <h2>Add New Co-User</h2>
    <br>
    <app-new-co-user (done)="added($event)" (cancel)="adding = false"></app-new-co-user>
</div>

<div *ngIf="!adding">
    <h2>Co-Users</h2>
    <br>
    <button class="btn btn-primary" (click)="addNew()">Add New</button>

    <div *ngFor="let coUser of coUsers" class="co-user">
        <h5>{{coUser.name}}</h5>
        <span class="fa fa-envelope"></span> {{ coUser.email }}
        <br>
        <span class="fa fa-phone"></span> {{ coUser.phone }}
        <br>
    </div>
</div>