<div [formGroup]="form" class="form-group">
  <label [attr.for]="field.key">{{field.label}}</label>

  <input *ngIf="field.controlType == 'textbox'" class="form-control" [formControlName]='field.key' [id]='field.key' [type]='field.type' placeholder="Enter {{field.label}}">

  <select *ngIf="field.controlType == 'dropdown'" class="form-control" [formControlName]='field.key' [id]='field.key'>
    <option *ngFor="let opt of field.options">{{opt.value}}</option>
  </select>
</div>

<div class="text-danger" *ngIf="showError">
  {{field.label}} is required.
  <br><br>
</div>