<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Create Media House Invoice</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<ng-template #rtRO let-r="result">
  {{r.releaseOrderNO}}
</ng-template>

<div class="container">
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="releaseOrder" [ngbTypeahead]="searchRO" placeholder="Release Order No" [resultTemplate]="rtRO" [inputFormatter]="roNoFormatter"/>
  </div>
  
  <br>

  <div *ngIf="releaseOrder && insertionCheckList.length == 0" class="text-muted">
    No Pending Insertions
  </div>

  <div *ngIf="insertionCheckList.length">
    <h3>Select Insertions</h3>
    <br>
    <table class="table">
      <tr>
        <th></th>
        <th>Amount</th>
        <th>Tax</th>
      </tr>
      <tr *ngFor="let item of insertionCheckList">
        <td>
          <mat-checkbox [(ngModel)]="item.checked">{{toDate(item.insertion.date) | date:'dd-MMM-y'}}</mat-checkbox>
        </td>
        <td>₹ {{item.insertion.netAmount}}</td>
        <td>₹ {{item.insertion.taxAmount}}</td>
      </tr>
    </table>

    <br>

    <button class="btn btn-outline-info" [disabled]="!canProceed" (click)="show()">Proceed</button>
  </div>
</div>