<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Create Media House Invoice</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<ng-template #rtRO let-r="result">
  {{r.releaseOrderNO}}
</ng-template>

<div class="container">
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="releaseOrder" [ngbTypeahead]="searchRO" placeholder="Release Order No" [resultTemplate]="rtRO" [inputFormatter]="roNoFormatter"/>
  </div>
  
  <br>

  <div *ngIf="insertionCheckList.length">
    <h3>Select Insertions</h3>
    <br>
    <div *ngFor="let item of insertionCheckList">
      <mat-checkbox [(ngModel)]="item.checked">{{toDate(item.insertion.date) | date}}</mat-checkbox>
    </div>

    <br>

    <button class="btn btn-outline-info" [disabled]="!canProceed" (click)="show()">Proceed</button>
  </div>
</div>