<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content style="max-width: 450px" class="mb-3">
  {{data.message}}
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="data.no" mat-raised-button color="warn" [mat-dialog-close]="false">
    <mat-icon>cancel</mat-icon> No
  </button>
  <button *ngIf="data.cancel" mat-raised-button color="warn" [mat-dialog-close]="false">
    <mat-icon>cancel</mat-icon> Cancel
  </button>

  <button *ngIf="data.yes" mat-raised-button color="primary" class="bg-success" [mat-dialog-close]="true">
    <mat-icon>check</mat-icon> Yes
  </button>
  <button *ngIf="data.ok" mat-raised-button color="primary" class="bg-success" [mat-dialog-close]="true">
    <mat-icon>check</mat-icon> Ok
  </button>
</mat-dialog-actions>