<form (ngSubmit)="submit()" #dirForm="ngForm">
  <div class="row">
    <div class="col-md">
      <h2 *ngIf="edit">Edit Media House</h2>
      <h2 *ngIf="!edit">Add Media House</h2>
      <br>

      <mat-form-field>
        <input matInput type="text" name="orgName" placeholder="Organisation Name" [(ngModel)]="mediaHouse.orgName" required #orgNameField="ngModel">
        <mat-error *ngIf="orgNameField.errors && orgNameField.errors.required">
          Organisation Name is required.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput type="text" name="pubName" placeholder="Publication Name" [(ngModel)]="mediaHouse.pubName" required #pubNameField="ngModel">
        <mat-error *ngIf="pubNameField.errors && pubNameField.errors.required">
          Publication Name is required.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput type="text" name="nickName" placeholder="Nick Name" [(ngModel)]="mediaHouse.nickName" #nickNameField="ngModel">
      </mat-form-field>
    
      <mat-form-field>
        <mat-select placeholder="Media Type" name="mediaType" [(ngModel)]="mediaHouse.mediaType" required #mediaTypeField="ngModel">
          <mat-option *ngFor="let item of mediaTypes" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-error *ngIf="mediaTypeField.errors && mediaTypeField.errors.required">
          Media type is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" name="gstNo" placeholder="GST Number" [(ngModel)]="mediaHouse.GSTIN" required minlength="15" maxlength="15" #gstNoField="ngModel">
        <mat-error *ngIf="gstNoField.errors && gstNoField.errors.required">
          GSTIN is required.
        </mat-error>
        <mat-error *ngIf="gstNoField.errors && (gstNoField.errors.minlength || gstNoField.errors.maxlength)">
          GSTIN should be 15 characters long.
        </mat-error>
      </mat-form-field>

      <div class="form-row">
        <div class="col-4">
          <mat-form-field>
            <input matInput type="tel" minlength="3" maxlength="5" name="officeStdNo" placeholder="STD No" [(ngModel)]="mediaHouse.officeStdNo" #officeStdNoField="ngModel">
          </mat-form-field>
        </div>
        <div class="col-8">
          <mat-form-field>
            <input matInput type="tel" minlength="6" maxlength="8" name="officeLandLine" placeholder="Office Landline Number" [(ngModel)]="mediaHouse.officeLandLine" #officeLandLineField="ngModel">
          </mat-form-field>
        </div>
      </div>

      <br><br>
      <h3>Frequency</h3>
      <br>

      <div class="form-row">
        <div class="col-sm">
          <mat-form-field>
            <mat-select placeholder="Period" name="freqPeriod" [(ngModel)]="mediaHouse.freqPeriod" #freqPeriodField="ngModel" required>
              <mat-option *ngFor="let item of periods" [value]="item">{{item}}</mat-option>
            </mat-select>
            <mat-error *ngIf="freqPeriodField.errors && freqPeriodField.errors.required">
              Period is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <input matInput type="text" placeholder="Remarks" [(ngModel)]="mediaHouse.freqRemark" name="freqRemark" #freqRemarkField="ngModel">
          </mat-form-field>
        </div>
      </div>
    
      <br>

      <h3 class="mb-3">Address</h3>
    
      <mat-form-field>
        <input matInput type="text" name="address" placeholder="Address" [(ngModel)]="mediaHouse.address.address" required #addressField="ngModel">
        <mat-error *ngIf="addressField.errors && addressField.errors.required">
          Address is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="tel" minlength="6" maxlength="6" name="pincode" placeholder="Pincode" [(ngModel)]="mediaHouse.address.pincode" required #pincodeField="ngModel">
        <mat-error *ngIf="pincodeField.errors && pincodeField.errors.required">
          Pincode is required.
        </mat-error>
        <mat-error *ngIf="pincodeField.errors && (pincodeField.errors.minlength || pincodeField.errors.maxlength)">
          Pincode should be 6 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" name="city" placeholder="City" [(ngModel)]="mediaHouse.address.city" required #cityField="ngModel">
        <mat-error *ngIf="cityField.errors && cityField.errors.required">
          City is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="State" name="state" [(ngModel)]="mediaHouse.address.state" required #stateField="ngModel">
          <mat-option *ngFor="let state of stateApi.states" [value]="state">{{state}}</mat-option>
        </mat-select>
        <mat-error *ngIf="stateField.errors && stateField.errors.required">
          State is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" name="edition" placeholder="Edition" [(ngModel)]="mediaHouse.address.edition" required #editionField="ngModel">
        <mat-error *ngIf="editionField.errors && editionField.errors.required">
          Edition is required.
        </mat-error>
      </mat-form-field>

      <br><br>

      <div class="row">
        <div class="col">
          <h4>Pullouts ({{mediaHouse.pullouts.length}})</h4>
        </div>
        <div class="col-auto">
          <button type="button" (click)="addPullouts()" class="btn btn-outline-info">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <br>

      <div class="form-row" *ngFor="let item of mediaHouse.pullouts; index as i">
        <div class="col-auto align-self-center">#{{i + 1}}</div>
        <div class="col">
          <mat-form-field>
            <input matInput type="text" name="s-{{i}}-pullouts" placeholder="Pullout" [(ngModel)]="item.name" required #pulloutsField="ngModel">
          </mat-form-field>
        </div>
        <div class="col-auto align-self-center">
          <button mat-icon-button color="warn" type="button" (click)="removePullouts(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

    </div>
    <div class="col-md">
      <br>

      <div class="row">
        <div class="col">
          <h4>Scheduling ({{mediaHouse.scheduling.length}})</h4>
        </div>
        <div class="col-auto">
          <button type="button" (click)="addScheduling()" class="btn btn-outline-info">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      
      <br><br>

      <div *ngFor="let item of mediaHouse.scheduling; index as i" class="card mb-4">
        <div class="card-header">
          <button class="btn btn-outline-danger float-right" type="button" (click)="removeScheduling(i)">
            <mat-icon>delete</mat-icon>
          </button>
          #{{i + 1}}
        </div>
        <div class="card-body">
          <mat-form-field>
            <input matInput type="text" id="person-{{i}}" name="s-{{i}}-person" placeholder="Person" [(ngModel)]="item.person" required #personField="ngModel">
            <mat-error *ngIf="personField.errors && personField.errors.required">
              Person is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" id="designation-{{i}}" name="s-{{i}}-designation" placeholder="Designation" [(ngModel)]="item.designation" #designationField="ngModel">
          </mat-form-field>

          <mat-form-field>
            <span matPrefix>+91 &nbsp;</span>
            <input matInput type="tel"  pattern="^((\+91)|0|)\d{10}$" id="mobileNo-{{i}}" name="s-{{i}}-mobileNo" placeholder="Mobile Number" [(ngModel)]="item.mobileNo" required #mobileNoField="ngModel">
            <mat-error *ngIf="mobileNoField.errors && mobileNoField.errors.required">
              Phone Number is empty or invalid.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" id="deskExtension-{{i}}" name="s-{{i}}-deskExtension" placeholder="Desk Extension" [(ngModel)]="item.deskExtension" #deskExtensionField="ngModel">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="email" id="email-{{i}}" name="s-{{i}}-email" placeholder="Email" [(ngModel)]="item.email" required #emailField="ngModel" verify-email>
            <mat-error *ngIf="emailField.errors && emailField.errors.required">
              Email is required.
            </mat-error>
            <mat-error *ngIf="emailField.errors && emailField.errors.email">
              Invalid Email.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!dirForm.form.valid">Save</button>
  <button class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>