<div class="container">
  <br>

  <mat-card class="mat-elevation-z3">
    <h5 style="font-weight: lighter">Rate Card</h5>
    <ng-container *ngIf="ratecard.global">
      <div class="text-info">GLOBAL</div>
    </ng-container>

    <div class="d-none d-md-block mt-3">
      <button *ngIf="!isSuperAdmin" mat-raised-button color="primary" class="mb-2" (click)="createReleaseOrder(ratecard)">
        <mat-icon>add</mat-icon> Create Release Order
      </button>
      <ng-container *ngIf="!global || (global && isSuperAdmin)">
        <button mat-raised-button color="primary" class="mb-2 bg-info" [routerLink]="[isSuperAdmin ? '/superadmin/ratecards' : '/ratecards', 'edit', ratecard.id]">
          <mat-icon>edit</mat-icon> Edit
        </button>
        <button mat-raised-button color="warn" class="mb-2" (click)="deleteRateCard(ratecard)">
          <mat-icon>delete</mat-icon> Delete
        </button>
      </ng-container>
    </div>

    <mat-toolbar class="d-md-none fixed-bottom">
      <div class="container-fluid">
        <div class="form-row">
          <div class="col" *ngIf="!isSuperAdmin">
            <button color="primary" class="btn btn-block btn-outline-primary border-0 btn-sm" (click)="createReleaseOrder(ratecard)">
              <mat-icon>add</mat-icon>
              <div class="small">Create R.O.</div>
            </button>
          </div>
          <ng-container *ngIf="!global || (global && isSuperAdmin)">
            <div class="col">
              <button color="primary" class="btn btn-block btn-outline-info border-0 btn-sm" [routerLink]="[isSuperAdmin ? '/superadmin/ratecards' : '/ratecards', 'edit', ratecard.id]">
                <mat-icon>edit</mat-icon>
                <div class="small">Edit</div>
              </button>
            </div>
            <div class="col">
              <button color="primary" class="btn btn-block btn-outline-danger border-0 btn-sm" (click)="deleteRateCard(ratecard)">
                <mat-icon>delete</mat-icon>
                <div class="small">Delete</div>
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </mat-toolbar>
  </mat-card>

  <br>

  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">Rate Card</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Media Type</div>
              <div class="col-md-8">{{ratecard.mediaType}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Ad Type</div>
              <div class="col-md-8">{{ratecard.adType}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">Booking Center</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Media House Name</div>
              <div class="col-md-8">{{ratecard.mediaHouseName}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Edition</div>
              <div class="col-md-8">{{ratecard.bookingEdition}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Pullout Name</div>
              <div class="col-md-8">{{ratecard.pullOutName}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">Categories</div>
        <ul class="list-group list-group-flush">
          <ng-container *ngFor="let category of ratecard.categories">
            <li class="list-group-item" *ngIf="category">
              {{category}}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">Rate Card</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Rate</div>
              <div class="col-md-8">₹ {{ratecard.rate}} per {{ratecard.unit}}</div>
            </div>
          </li>
          <li class="list-group-item" *ngIf="isTypeTime">
            <div class="row">
              <div class="col-md-4">Time</div>
              <div class="col-md-8">{{ratecard.AdTime}}</div>
            </div>
          </li>
          <li class="list-group-item" *ngIf="isTypeWords">
            <div class="row">
              <div class="col-md-4">Maximum Words</div>
              <div class="col-md-8">{{ratecard.AdWordsMax}}</div>
            </div>
          </li>
          <ng-container *ngIf="isTypeLen">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">Position</div>
                <div class="col-md-8">{{ratecard.position}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">Hue</div>
                <div class="col-md-8">{{ratecard.hue}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">Minimum Size</div>
                <div class="col-md-8">{{ratecard.minLength}} x {{ratecard.minWidth}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">Maximum Size</div>
                <div class="col-md-8">{{ratecard.maxLength}} x {{ratecard.maxWidth}}</div>
              </div>
            </li>
          </ng-container>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Validity</div>
              <div class="col-md-8">{{(ratecard.validFrom | date:'dd-MMM-y') || '--'}} to {{(ratecard.validTill | date:'dd-MMM-y') || '--'}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="isTypeLen && ratecard.fixSizes.length">
      <div class="card mb-3">
        <div class="card-header">Fix Sizes</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let fixSize of ratecard.fixSizes; index as i">
            <div class="row">
              <div class="col-md-4">Width</div>
              <div class="col-md-8">{{fixSize.width}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Length</div>
              <div class="col-md-8">{{fixSize.length}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Amount</div>
              <div class="col-md-8">₹ {{fixSize.amount}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="ratecard.schemes.length">
      <div class="card mb-3">
        <div class="card-header">Schemes</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let scheme of ratecard.schemes; index as i">
            <div class="row">
              <div class="col-md-4">Paid</div>
              <div class="col-md-8">{{scheme.paid}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Free</div>
              <div class="col-md-8">{{scheme.Free}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Time Limit</div>
              <div class="col-md-8">{{scheme.timeLimit}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="ratecard.taxes.length">
      <div class="card mb-3">
        <div class="card-header">Taxes</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let tax of ratecard.taxes; index as i">
            <div class="row">
              <div class="col-md-4">Included</div>
              <div class="col-md-8">{{tax.included}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Rate</div>
              <div class="col-md-8">{{tax.rate}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="ratecard.covered.length">
      <div class="card mb-3">
        <div class="card-header">Covered</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let cov of ratecard.covered; index as i">
            <div class="row">
              <div class="col-md-4">Media House</div>
              <div class="col-md-8">{{cov.covMediaHouse}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Edition</div>
              <div class="col-md-8">{{cov.covEdition}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="ratecard.remarks.length">
      <div class="card mb-3">
        <div class="card-header">Remarks</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let remark of ratecard.remarks">
            {{remark.remark}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>