<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Rate Cards</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <button *ngIf="!ratecard.global" class="fab bg-info" [routerLink]="['/ratecards/edit', ratecard.id]">
    <mat-icon>edit</mat-icon>
  </button>

  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">Rate Card</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Media Type</div>
              <div class="col-md-8">{{ratecard.mediaType}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Ad Type</div>
              <div class="col-md-8">{{ratecard.adType}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Rate Card Type</div>
              <div class="col-md-8">{{ratecard.rateCardType}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">Booking Center</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Media House Name</div>
              <div class="col-md-8">{{ratecard.mediaHouseName}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Edition</div>
              <div class="col-md-8">{{ratecard.bookingEdition}}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Pullout Name</div>
              <div class="col-md-8">{{ratecard.pullOutName}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">Categories</div>
        <ul class="list-group list-group-flush">
          <ng-container *ngFor="let category of ratecard.categories">
            <li class="list-group-item" *ngIf="category">
              {{category}}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">Rate Card</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Rate</div>
              <div class="col-md-8">₹ {{ratecard.rate}} per {{ratecard.unit}}</div>
            </div>
          </li>
          <li class="list-group-item" *ngIf="isTypeTime">
            <div class="row">
              <div class="col-md-4">Time</div>
              <div class="col-md-8">{{ratecard.adTime}}</div>
            </div>
          </li>
          <li class="list-group-item" *ngIf="isTypeWords">
            <div class="row">
              <div class="col-md-4">Maximum Words</div>
              <div class="col-md-8">{{ratecard.AdWordsMax}}</div>
            </div>
          </li>
          <ng-container *ngIf="isTypeLen">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">Position</div>
                <div class="col-md-8">{{ratecard.position}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">Hue</div>
                <div class="col-md-8">{{ratecard.hue}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">Minimum Size</div>
                <div class="col-md-8">{{ratecard.minLength}} x {{ratecard.minWidth}}</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4">Maximum Size</div>
                <div class="col-md-8">{{ratecard.maxLength}} x {{ratecard.maxWidth}}</div>
              </div>
            </li>
          </ng-container>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">Validity</div>
              <div class="col-md-8">{{(ratecard.validFrom | date) || '--'}} to {{(ratecard.validTill | date) || '--'}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="isTypeLen && ratecard.fixSizes.length">
      <div class="card mb-3">
        <div class="card-header">Fix Sizes</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let fixSize of ratecard.fixSizes; index as i">
            <div class="row">
              <div class="col-md-4">Width</div>
              <div class="col-md-8">{{fixSize.width}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Length</div>
              <div class="col-md-8">{{fixSize.length}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Amount</div>
              <div class="col-md-8">₹ {{fixSize.amount}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="ratecard.schemes.length">
      <div class="card mb-3">
        <div class="card-header">Schemes</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let scheme of ratecard.schemes; index as i">
            <div class="row">
              <div class="col-md-4">Paid</div>
              <div class="col-md-8">{{scheme.paid}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Free</div>
              <div class="col-md-8">{{scheme.Free}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Time Limit</div>
              <div class="col-md-8">{{scheme.timeLimit}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="ratecard.taxes.length">
      <div class="card mb-3">
        <div class="card-header">Taxes</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let tax of ratecard.taxes; index as i">
            <div class="row">
              <div class="col-md-4">Included</div>
              <div class="col-md-8">{{tax.included}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Rate</div>
              <div class="col-md-8">{{tax.rate}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="ratecard.covered.length">
      <div class="card mb-3">
        <div class="card-header">Covered</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let cov of ratecard.covered; index as i">
            <div class="row">
              <div class="col-md-4">Media House</div>
              <div class="col-md-8">{{cov.covMediaHouse}}</div>
            </div>
            <div class="row">
              <div class="col-md-4">Edition</div>
              <div class="col-md-8">{{cov.covEdition}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="ratecard.remarks.length">
      <div class="card mb-3">
        <div class="card-header">Remarks</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let remark of ratecard.remarks">
            {{remark.remark}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>