<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Reset Password</h1>
  </div>
</div>

<div class="container">
  <form (ngSubmit)="submit()" #resetPswForm="ngForm">
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter New Password" [(ngModel)]="password" required #passwordField="ngModel">
    </div>

    <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class="text-danger">
      <div *ngIf="passwordField.errors.required">
        New Password is required.
      </div>
      <br>
    </div>

    <div *ngIf="error" class="text-danger">
      {{error}}
      
      <br>
    </div>
    <div *ngIf="success" class="text-success">
      Password Changed Successfully.
      
      <br>
    </div>

    <br>
    <button class="btn btn-success" [disabled]="!resetPswForm.form.valid">Send</button>
  </form>
</div>