<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Reset Password</div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <form (ngSubmit)="submit()" #resetPswForm="ngForm">

    <mat-form-field>
      <input matInput type="password" name="password" placeholder="New Password" [(ngModel)]="password" required #passwordField="ngModel">
      <mat-error *ngIf="passwordField.errors && passwordField.errors.required">
        New Password is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" name="cpassword" [verify-equals]="password" placeholder="Confirm New Password" [(ngModel)]="cpassword" required #cpasswordField="ngModel">
      <mat-error *ngIf="cpasswordField.errors && cpasswordField.errors.required">
        Password confirmation is required.
      </mat-error> 
      <mat-error *ngIf="cpasswordField.errors && cpasswordField.errors.equals">
        Passwords don't match.
      </mat-error>
    </mat-form-field>
  
    <br>
    <button class="btn btn-success" [disabled]="!resetPswForm.form.valid">Send</button>
  </form>
</div>