<mat-toolbar>  
  <mat-toolbar-row>
    <div class="container">Manage Categories</div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let cats of categories; index as i">
      <div class="col-md" *ngIf="i == 0 || selectedCategories[i - 1] != null">
        <form class="form-row" (ngSubmit)="addCategory(i)" #categoryForm="ngForm">
          <div class="col">
            <input [(ngModel)]="inputText[i]" class="form-control" name="category-{{i}}" required>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-info" [disabled]="!categoryForm.form.valid">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </form>
        <br>
        <div class="list-group">
          <button *ngFor="let category of cats"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                  [class.active]="selectedCategories[i] == category"
                  (click)="selectCategory(i, category)">
            {{category.name}}

            <button mat-icon-button color="warn" (click)="deleteCategory(i, category)">
              <mat-icon>delete</mat-icon>
            </button>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>