<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Manage Categories</h1>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md">
      <form class="form-row" (ngSubmit)="addCategory(0)" #category1Form="ngForm">
        <div class="col">
          <input [(ngModel)]="inputText[0]" class="form-control" name="category1" required>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-info" [disabled]="!category1Form.form.valid"><span class="fa fa-plus"></span></button>
        </div>
      </form>
      <br>
      <button *ngFor="let category of categories" class="btn btn-default btn-block" [class.btn-primary]="selectedCategories[0] == category" (click)="setCategory(0, category)">{{category.name}}</button>
    </div>

    <ng-container *ngFor="let selectedCategory of selectedCategories; index as i">
      <div class="col-md" *ngIf="i != 0 && selectedCategories[i - 1] != null ">
        <form class="form-row" (ngSubmit)="addCategory(i)" #categoryForm="ngForm">
          <div class="col">
            <input [(ngModel)]="inputText[i]" class="form-control" name="category-{{i}}" required>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-info" [disabled]="!categoryForm.form.valid"><span class="fa fa-plus"></span></button>
          </div>
        </form>
        <br>
        <button *ngFor="let category of selectedCategories[i - 1].subcategories" class="btn btn-default btn-block" [class.btn-primary]="selectedCategory == category" (click)="setCategory(i, category)">{{category.name}}</button>
      </div>
    </ng-container>
  </div>
</div>