<form (ngSubmit)="submit()" #dirForm="ngForm">
  <div class="row">
    <div class="col-md">
      <h2 *ngIf="edit">Edit Client</h2>
      <h2 *ngIf="!edit">Add Client</h2>
      <br>
    
      <div class="form-group">
        <label for="orgName">Organisation / Individual Name</label>
        <input type="text" class="form-control" id="orgName" name="orgName" placeholder="Enter Organisation / Individual Name" [(ngModel)]="client.orgName" required #orgNameField="ngModel">
      </div>
    
      <div *ngIf="orgNameField.invalid && (orgNameField.dirty || orgNameField.touched)" class="text-danger">
        <div *ngIf="orgNameField.errors.required">
          Organisation / Individual Name is required.
        </div>
        <br>
      </div>
    
      <div class="form-group">
        <label for="companyName">Company Name</label>
        <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Enter Company Name" [(ngModel)]="client.companyName" required #companyNameField="ngModel">
      </div>
    
      <div *ngIf="companyNameField.invalid && (companyNameField.dirty || companyNameField.touched)" class="text-danger">
        <div *ngIf="companyNameField.errors.required">
          Company Name is required.
        </div>
        <br>
      </div>
    
      <div class="form-group">
        <label for="nickName">Nick Name</label>
        <input type="text" class="form-control" id="nickName" name="nickName" placeholder="Enter Nick Name" [(ngModel)]="client.nickName" #nickNameField="ngModel">
      </div>
    
      <div class="form-group">
        <label for="category">Category / Type</label>
        <input type="text" class="form-control" id="category" name="category" placeholder="Enter Category" [(ngModel)]="client.category" #categoryField="ngModel">
      </div>

      <div class="form-group">
        <label for="stdNo">STD No</label>
        <input type="tel" class="form-control" minlength="3" maxlength="5" id="stdNo" name="stdNo" placeholder="STD No" [(ngModel)]="client.stdNo" #stdNoField="ngModel">
      </div>

      <div class="form-group">
        <label for="landLine">Landline</label>
        <input type="tel" class="form-control" minlength="6" maxlength="8" id="landLine" name="landLine" placeholder="Enter Land Line Number" [(ngModel)]="client.landLine" #landLineField="ngModel">
      </div>
    
      <div class="form-group">
        <label for="website">Website</label>
        <input type="text" class="form-control" id="website" name="website" placeholder="Enter Website" [(ngModel)]="client.website" #websiteField="ngModel">
      </div>
    
      <div class="form-group">
        <label for="panNo">PAN Number</label>
        <input type="text" class="form-control" id="panNo" name="panNo" placeholder="Enter PAN Number" [(ngModel)]="client.panNo" #panNoField="ngModel">
      </div>
    
      <div class="form-group">
        <label for="gstNo">GST Number</label>
        <input type="text" class="form-control" id="gstNo" name="gstNo" placeholder="Enter GST Number" [(ngModel)]="client.gstNo" #gstNoField="ngModel">
      </div>

      <br>

      <h3 class="mb-3">Address</h3>
    
      <div class="form-group">
        <input type="text" class="form-control" id="address" name="address" placeholder="Enter Address" [(ngModel)]="client.address.address" required #addressField="ngModel">
      </div>
    
      <div *ngIf="addressField.invalid && (addressField.dirty || addressField.touched)" class="text-danger">
        <div *ngIf="addressField.errors.required">
          Address is required.
        </div>
        <br>
      </div>

      <div class="form-group">
        <label for="pincode">Pincode</label>
        <input type="tel" minlength="6" maxlength="6" class="form-control" id="pincode" name="pincode" placeholder="Enter Pincode" [(ngModel)]="client.address.pincode" required #pincodeField="ngModel">
      </div>
    
      <div *ngIf="pincodeField.invalid && (pincodeField.dirty || pincodeField.touched)" class="text-danger">
        <div *ngIf="pincodeField.errors.required">
          Pincode is required.
        </div>
        <div *ngIf="pincodeField.errors.minlength || pincodeField.errors.maxlength">
          Pincode should be 6 characters long.
        </div>
        <br>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="Enter City" [(ngModel)]="client.address.city" required #cityField="ngModel">
      </div>
    
      <div *ngIf="cityField.invalid && (cityField.dirty || cityField.touched)" class="text-danger">
        <div *ngIf="cityField.errors.required">
          City is required.
        </div>
        <br>
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <select class="form-control" id="state" name="state" [(ngModel)]="client.address.state" required #stateField="ngModel">
          <option *ngFor="let state of stateApi.states" [value]="state">{{state}}</option>
        </select>
      </div>
    
      <div *ngIf="stateField.invalid && (stateField.dirty || stateField.touched)" class="text-danger">
        <div *ngIf="stateField.errors.required">
          State is required.
        </div>
        <br>
      </div>

      <br>
    </div>

  <div class="col-md">
    <br>
    <div class="row">
      <div class="col">
        <h4>Contact Person ({{client.contactpersons.length}})</h4>
      </div>
      <div class="col-auto">
        <button type="button" (click)="addContactPerson()" class="btn btn-outline-info">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    
    <br><br>

    <div *ngFor="let item of client.contactpersons; index as i" class="card mb-4">
      <div class="card-header">
        <button class="btn btn-outline-danger float-right" type="button" (click)="removeContactPerson(i)">
          <mat-icon>delete</mat-icon>
        </button>
        #{{i + 1}}
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name-{{i}}" name="s-{{i}}-name" placeholder="Enter Name" [(ngModel)]="item.name" required #nameField="ngModel">
        </div>

        <div *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)" class="text-danger">
          <div *ngIf="nameField.errors.required">
            Name is required.
          </div>
          <br>
        </div>

        <div class="form-group">
          <label for="designation">Designation</label>
          <input type="text" class="form-control" id="designation-{{i}}" name="s-{{i}}-designation" placeholder="Enter Designation" [(ngModel)]="item.designation" #designationField="ngModel">
        </div>

        <div class="form-group">
          <label for="department">Department</label>
          <input type="text" class="form-control" id="department-{{i}}" name="s-{{i}}-department" placeholder="Enter Department" [(ngModel)]="item.department" required #departmentField="ngModel">
        </div>

        <div *ngIf="departmentField.invalid && (departmentField.dirty || departmentField.touched)" class="text-danger">
          <div *ngIf="departmentField.errors.required">
            Department is required.
          </div>
          <br>
        </div>

        <div class="form-group">
          <label for="personStdNo">STD</label>
          <input type="tel" class="form-control" minlength="3" maxlength="5" id="personStdNo-{{i}}" name="s-{{i}}-personStdNo" placeholder="STD No" [(ngModel)]="item.personStdNo" required #personStdNoField="ngModel">
        </div>

        <div *ngIf="personStdNoField.invalid && (personStdNoField.dirty || personStdNoField.touched)" class="text-danger">
          <div *ngIf="personStdNoField.errors.required">
            STD No is required.
          </div>
          <br>
        </div>
        
        <div class="form-group">
          <label for="personLandLine">Land Line</label>
          <input type="tel" class="form-control" minlength="6" maxlength="8" id="personLandLine-{{i}}" name="s-{{i}}-personLandLine" placeholder="Enter LandLine Number" [(ngModel)]="item.personLandLine" required #personLandLineField="ngModel">
        </div>

        <div *ngIf="personLandLineField.invalid && (personLandLineField.dirty || personLandLineField.touched)" class="text-danger">
          <div *ngIf="personLandLineField.errors.required">
            LandLine is required.
          </div>
          <br>
        </div>

        <div class="form-group">
          <label for="mobileNo">Mobile Number</label>
          <input type="tel" class="form-control" pattern="^((\+91)|0|)\d{10}$" id="mobileNo-{{i}}" name="s-{{i}}-mobileNo" placeholder="Enter Mobile Number" [(ngModel)]="item.mobileNo" #mobileNoField="ngModel">
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email-{{i}}" name="s-{{i}}-email" placeholder="Enter email" [(ngModel)]="item.email" required #emailField="ngModel" email>
        </div>

        <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="text-danger">
          <div *ngIf="emailField.errors.required">
            Email is required.
          </div>
          <div *ngIf="!emailField.errors.required && emailField.errors.email">
            Invalid Email.
          </div>
          <br>
        </div>

        <div class="form-group">
          <label for="dob">Date of birth</label>
          <input type="date" class="form-control" id="dob-{{i}}" name="dob-{{i}}" placeholder="Enter DOB" [(ngModel)]="item.dob" #dobField="ngModel">
        </div>
  
        <div class="form-group">
          <label for="anniversaryDate">Anniversary Date</label>
          <input type="date" class="form-control" id="anniversaryDate-{{i}}" name="anniversaryDate-{{i}}" placeholder="Enter Anniversary Date" [(ngModel)]="item.anniversaryDate" #anniversaryDateField="ngModel">
        </div>
      </div>
    </div>
  </div>
</div>

  <button type="submit" class="btn btn-success" [disabled]="!dirForm.form.valid">Save</button>
  <button class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>